## Ejercicios - Subqueries

Usando la base de datos de **Sakila**:

### Ejercicios 01: Subqueries

1. Encontrar el cliente que ha alquilado más películas.

2. Encontrar la categoría con más películas.

3. Encontrar la tienda con más ingresos.

4. Encontrar la película más alquilada.

5. Encontrar el actor que ha aparecido en más películas.

In [23]:
import mysql.connector as con

def consulta(sql):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="admin",
            database='sakila'
        )
        cursor = connection.cursor()
        cursor.execute(sql)
        return cursor.fetchall()
    except con.Error as error:
        
        print(f'Ha ocurrido un error: {error}')
        if connection:
            connection.rollback()
    finally:
        if cursor:
            cursor.close()
        if connection:
            connection.close()

In [ ]:

sql = ('select * from customer')
respuesta = consulta(sql)
respuesta

In [ ]:
#1
sql = ('select * from sakila.customer where customer_id = (SELECT customer_id FROM sakila.rental group by customer_id order by count(customer_id) desc limit 1)')
resultado = consulta(sql)
resultado

In [ ]:
# 1 opcion 2
sql = ()
resultado = consulta(sql)
resultado

In [ ]:
#2
sql = ('select * from category where category_id = (SELECT category_id FROM film_category group by category_id order by count(category_id) desc limit 1);')
resultado = consulta(sql)
resultado

In [ ]:
sql =('select c.customer_id, c.first_name, c.last_name, total_rentals from customer c join (select r.customer_id, count(r.rental_id) as total_rentals from rental r group by r.customer_id order by count(r.rental_id) desc limit 1) as subquery on c.customer_id = subquery.customer_id;')
resultado = consulta(sql)
resultado

In [ ]:
#3
sql = ()
resultado = consulta(sql)
resultado

In [ ]:
#4
sql = ()
resultado = consulta(sql)
resultado

In [ ]:
#5 
sql = ()
resultado = consulta(sql)
resultado

In [ ]:
################################################################################################################################