# Ejercicios de clase Modulo 3

# Numpy avanzado

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

In [ ]:
lista = []
for i in range(2, 40, 2):
        lista.append(i)
        
np.array(lista).shape

In [4]:
array_pares = np.array([i for i in range(2, 22, 2)])

In [ ]:
array_pares.ndim # una dimension

In [ ]:
array_pares.size # tamaño, numero de elementos totales

In [ ]:
array_pares.shape # nro de elementos en cada dimension

In [ ]:
array_pares.dtype # tipo de datos

In [ ]:
# crea una lista de 5 pares y otra de 5 impares y utilizar un metodo de np para pasarlo a una matriz de 2x5
# concatenate y reshape
array_pares = np.array([i for i in range(2, 12, 2)])
array_impares = np.array([i for i in range(1, 11, 2)])
todos = np.concatenate((array_pares, array_impares))
nuevo5x2 = todos.reshape(5, 2)
nuevo5x2

In [ ]:
"""! pip install plotly
! pip install pillow
! pip install folium
! pip install openpyxl
! pip install requests
"""

In [ ]:
lista = ([2, 4, 6, 8], [10, 12, 14, 16], [18, 20, 22, 24], [26, 28, 30, 32], [34, 36, 38, 40])
np.array(lista)

In [ ]:
np.argmin(lista)

In [ ]:
np.argmax(lista)

In [ ]:
np.reshape(lista, newshape = (4, 5))

In [ ]:
nuevo5x2.dtype

In [ ]:
np.hstack((nuevo5x2, nuevo5x2)) #en horizontal

In [ ]:
# aplana de dos dimensiones a una dimension
nuevo5x2.flatten()

In [ ]:
np.vstack((nuevo5x2, nuevo5x2)) # en vertical

np.column_stack((array_pares, array_impares))

In [ ]:
nuevo5x2.T

In [ ]:
print(array_pares)
indices = np.where(array_pares > 5) #devuelve los indices de los elementos que cumplen con las condiciones
array_pares[indices]

# Introduccion Pandas

In [21]:
# import pandas as pd

In [ ]:
print(f"pandas=={pd.__version__}")

* Cargar un dataframe desde una lista

In [23]:
#Crear Data Frame de 0
df = pd.DataFrame()

In [ ]:
lista = list(range(100, 105))
df["nueva columna1"] = lista
df["nueva_columna2"] = lista
# df["total_price"] = df[unit_price"] * df[quantity]]
df

* Cargar una matriz en un dataframe

In [25]:
matriz =[[1, 2, 3],
         [4, 5, 6],
         [7, 8, 9]]

In [ ]:
pd.DataFrame(matriz, columns = ["col_1", "col_2", "col_3"])

In [ ]:
#diccionario = {num : 1 for num, 1}

* Cargar un CSV con pandas

In [28]:
iris = pd.read_csv(filepath_or_buffer="iris.csv")

* Cargar un xls en pandas

In [ ]:
pd.read_excel(io="iris.xlsx") #se necesita tener installado el openpyxl (pip install openpyxl)

In [ ]:
iris.head() #muestra las 5 primeras filas

In [ ]:
iris.tail() # muestra las 5 ultimas filas

In [ ]:
iris.tail(10) # muestra las 10 ultimas

In [ ]:
iris.info()

In [ ]:
iris.columns

In [ ]:
type(iris["Largo Sepalo"].values)

In [ ]:
iris["Largo Petalo"]

In [ ]:
iris[["Ancho Petalo", "Ancho Sepalo"]]
df_iris = iris[["Ancho Petalo", "Ancho Sepalo"]].copy() #crea una copia con la que se puede jugar sin afectar al original

In [ ]:
iris["Clase"]

In [ ]:
iris["Largo Sepalo"][2] # iris[columna][indice fila]
iris["Largo Sepalo"].iat[2] # este es lo mismo que el anterior

In [ ]:
iris.iloc[0]

In [ ]:
iris.iloc[0, 1]

In [ ]:
iris[["Largo Sepalo", "Ancho Sepalo"]].cumsum()

In [ ]:
iris.iloc[:, -1] # pilla la ultima columna

In [ ]:
iris.iloc[:, -1].mode() # saca la moda, en este caso dice que son las tres pues de todas hay 50 ocurrencias

In [ ]:
iris.count()

In [ ]:
iris.describe() #hace todos los calculos de cada columna

In [ ]:
iris.describe(include='all') # incluye tambien las de tipo texto

In [ ]:
# en caso de tener muchas columnas, se puede invertir la matriz de estadisticas
iris.describe(include='all').T

In [ ]:
iris.sort_values("Largo Sepalo")

In [ ]:
iris.sort_values(["Largo Sepalo", "Largo Petalo"]) # no olvidar los corchetes cuando hay mas de un valor

In [ ]:
top_10_iris_largo_sepalo = iris.sort_values("Largo Sepalo", ascending=False)[:10]
top_10_iris_largo_sepalo

In [ ]:
# Ordenar por sepalo descendente y dentro por petalo ascendente y muestra los 20 primeros
iris.sort_values(["Largo Sepalo", "Largo Petalo"], ascending=[False, True]).head(20)

In [ ]:
iris["Clase"].nunique() #numero de datos unicos en una columna

In [ ]:
iris["Clase"].value_counts() #numero de valores unicos en una columna, se utiliza para saber si hay desbalanceo de clases

In [ ]:
iris["Clase"].value_counts(normalize= True) #muestra el porcentaje  que representa cada valor

In [ ]:
iris.drop[2] #borra la fila 2
iris.drop[2, axis = 1] # borra columna 2 , las columnas empiezan en 0

# 26-12-2024
* Pandas avanzados ejercicios pandas_2

In [3]:
df1 = pd.read_csv("titanic_1.csv")
df2 = pd.read_csv("titanic_2.csv")
df3 = pd.read_csv("titanic.csv")

In [ ]:
df1.head()

In [ ]:
df2.head()

In [ ]:
df1["Age"] > 18 #serie

In [ ]:
df1.info() #hay presencia de nulos en Age

In [ ]:
df3.head()

In [ ]:
#Ejercicio 1
df3.info()

In [ ]:
#Ejercicio 2
#Transformar solo una columna
df3["Sex"] = df3["Sex"].astype("category")
df3["Sex"]

In [ ]:
#transformar varias columnas a la vez
df3[["Sex", "Name", "Ticket"]] = df3[["Sex", "Name", "Ticket"]].astype("category")
df3.info()

In [ ]:
#Ejercicio 3
#filtro
df3["Sex"] == "male"

In [ ]:
# obtener datos filtrados
df3_male = df3[df3["Sex"] == "male"]
df3_male

In [ ]:
#Ejercicio 4
df3[(df3["Pclass"] == 1) | (df3["Pclass"] ==2)]

In [ ]:
df3_clas = df2[df3["Pclass"].isin([1, 2])]
df3_clas

In [ ]:
#Ejercicio 5
#df3_clas = df3(df3["Pclass"].isin([1, 3])) & (df3["Age"] < 30)

In [ ]:
df3[ (df3["Pclass"].isin([1, 3])) & (df3["Age"] < 30) ]

In [ ]:
clase_1_3 = df3["Pclass"].isin([1, 3])
menor_30 = df3["Age"] < 30
df3[clase_1_3 & menor_30]

In [ ]:
#Ejercicio 6
df3[(df3["Age"].between(20, 30))]

In [ ]:
df3[(df3["Age"].between(20, 30))].describe() #igual al anterior pero agrega estadisticas

In [ ]:
#Ejericio 7
df3[~df3["Age"].between(25, 50)]

In [113]:
#Ejercicio 8
#Transformar datos

In [ ]:
#crear un diccionario con clave male con valor M y clave female con valor F
genre_dict = {"male": "M", "female": "F"}
# pasar el dicionario como parametro de la funcion .map sobre la columna genero
df3["Sex"].map(genre_dict)

In [ ]:
df3["Sex"].unique() #se conservan los originales porque no se ha guardado

In [116]:
#Ejercicio 9
#funcion apply: recibe una funcion def o una funcion lambda
#usamos def cuando el codigo involucra varias sentencias

In [ ]:
def convertir_a_mayusculas(text):
    return text.upper()
df3["Name"].apply(convertir_a_mayusculas)

In [ ]:
#usar una lambda cunado la transformacion requiere poco codigo
# df3["Name"].apply(lambda name: name.upper()) con variables mas significativas
df3["Name"].apply(lambda x: x.upper())

In [ ]:
#apply se puede usar tanto en Series como en Dataframes, donde se puede aplicar con axis= 1 o axis=0 
# para utilizarlo en filas o en columnas
#apply es ideal para casos mas avanzados
df3["Name"].map(lambda x: x.upper()) # se puede utilizar el map tambien pasandole una lambda

In [ ]:
#Paga si sobrevivio!!!
df3.apply(lambda row: row["Fare"] * row["Survived"], axis=1)

### Manipulacion de NaN's
    * Encontrar Nans
    * Eliminar o rellenarlos

In [ ]:
#Encontrar NaN
df3["Age"].value_counts()

In [ ]:
df3["Age"].value_counts(dropna=False)

In [ ]:
#el metodo .isna es igual que .isnull
df3[df3["Age"].isnull()]

In [ ]:
nulos = df3["Age"].isnull()
df[~nulos] #filtrar por aquellos que si tengan edad

In [ ]:
df3.isna().sum() #sumar los NaN de cada columna y mostra la suma de cada una

In [ ]:
df3.isna().sum()*100/df3.shape[0] #saca el porcentaje que implican los null en el DataFrame

### Estrategias para el tratamiento de valores nulos
    * Filtrar aquellos que no sean null 
        df3[~df3["Age"].isnull()]

    * Eliminar filas con nulos: 
        df3.dropna() se carga todas las filas nulas, es muy agresivo

    * Eliminar columnas con nulos:
        * Para casos que haya muchos nulos > 80%
        * df3.drop("clase", axis = 1)

    * Rellenar los valores nullos:
        * Si es numerico habitualmente se rellena con la media o mediana.
        * df3["Age"].fillna(20) 
        * Si es texto o categórico: se rellena con la moda o con un valor fijo (Ej. Otros)
        * Si es fecha: se puede rellenar con el valor justo anterior o el posterior
        * Para imputacion mas sofisticada:
            * aplicar una funcion con logica para decidir como rellenar ese valor en base a otras columnas
            * utilizar imputers de scikit learn que hagan predicciones
            * Utilizar aprendizaje no supervisado para etiquetar clusters

In [ ]:
#Rellenar los NaN's con mediana
median = df3["Age"].median
print(median)
df3["Age"] =df3["Age"].fillna(df3["Age"].median)

In [ ]:
#Verificar el rellenado
df3.isnull().sum()

### Agrupaciones

In [145]:
df4 = pd.read_excel("Canada.xlsx")

In [ ]:
df4.head(3)

In [ ]:
df4.groupby(by="Continente") # agrupa por continente

In [ ]:
df4.groupby(by="Continente").sum() #calcula la suma por continente

In [ ]:
df3.groupby(by = "Sex").count()

In [ ]:
# si es category no pertmite ciertas operaciones de agregación numericas
df3.groupby(by= "Sex")["Fare"].sum()

In [ ]:
df3[df3["Sex"] == "female"]["Fare"].sum()

In [ ]:
df3.groupby(by="Sex")["Fare"].agg("mean")

In [ ]:
# el .agg o aggregate permite hacer mas de un calculo sobre el grupo
df3.groupby(by="Sex")["Fare"].agg(["mean", "median", "std", "min", "max"])

In [ ]:
df3.groupby(by="Sex").agg({
    "Fare": ["mean", "median"], 
    "Age": ["min", "max", "median", "mean"]})

In [ ]:
df3.groupby(by=["Sex", "Survived"]).agg({
    "Fare": ["mean", "median"], 
    "Age": ["min", "max", "median", "mean"]})

In [ ]:
#as_index= False crea columnas en vez de indices 
df31 = df3.groupby(by=["Sex", "Survived"], as_index= False).agg({
    "Fare": ["mean", "median"], 
    "Age": ["min", "max", "median", "mean"]})
df31

In [ ]:
#drop_duplicate borra las filas si son identicas, es decir, duplicadas
print(f"shape original: {df3.shape}")
print(f"shape sin duplicates: {df3.drop_duplicates().shape}")

### Merge (join)

In [ ]:
#por defecto en inner: debe existir el PassengerId en los dos CSV sino ignora la fila, si se le pone
# how="left" ó how= "right" sí lo trae pero deja el resto de los datos de la fila en NaN
df5 = pd.merge(left = df1, right= df2, left_on= "PassengerId", right_on="PassengerId", how="inner")
df1.head(1)
# df5 = pd.merge(df1, df2)

In [ ]:
df2.head(1)

In [ ]:
df5.head(1)

In [ ]:
#estadisticas (.T para trasponer y ver mejor la tabla, sino es muy larga)
df1.describe(include="all").T

03 pandas avanzado

In [ ]:
#ejercicio 1
df2.describe(include="all").T

In [ ]:
#ejercicio 2
pd.merge(df1, df2)

In [ ]:
#Ejercicio 3
df1[["Name", "Age"]].tail(5)

In [ ]:
#Ejercicio 4
df1[df1["Sex"]== "female"].head()

In [ ]:
df_1 = df1[(df1["Fare"] < 33) & (df1["Pclass"] == 2)] # no funciona ver origen profe

In [ ]:
# Ejercicio 7 ver profe
df1["Sex"] == "male"

In [ ]:
# Ejercicio 20 
# #Discretizar una variable
def rango_edad(edad):
    if edad < 11:
        return "Niño"
    elif edad < 18:
        return "Joven"
    elif edad < 50:
        return "Adulto"
    else:
        return "Mayor"


df1["age_range"] = df1["Age"].apply(rango_edad)
df1.head()

In [ ]:
#Ejercicio 22 .Fillna()

In [ ]:
#Ejercicio 24
# primero pasarlo a diccionario
df5.dtypes.to_dict()
# bucle for
for llave, valor in df5.dtypes.to_dict().items():
    print(llave)
    print(valor)
    if valor == "object":
        df5[llave] = df5[llave].apply(lambda x: x.upper())

df5.head()

# 30/12/2024

## Cargar multiples csv en un mismo dataframe de pandas, concatenados uno encima de otro

In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
# listar los archivos csv del direcctorio spotify usando os
file_names = os.listdir("spotify")

In [3]:
# bucle for para cargar uno a uno en pandas, concat para unirlos a un dataframe global
df = pd.DataFrame() #dataframe vacio donde ir concatenando cada dataframe
for file_name in file_names:
    df_file = pd.read_csv("spotify/" + file_name)
    df = pd.concat([df, df_file], ignore_index=True)
print(f"df final: {df.shape}")

df final: (667, 15)

In [4]:
df.head(2)

,Number,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,Put Your Head On My Shoulder,Paul Anka,adult standards,2000,116,34,55,-9,10,47,155,75,3,72
1,2,Whatever Will Be Will Be (Que Sera Sera) (with...,Doris Day,adult standards,1948,177,34,42,-11,72,78,123,86,4,62

In [ ]:
#revisar concatenado
df.iloc[70:80] # para ver una fila determinada o en este caso un rango para ver que este bien

In [5]:
df.describe()

,Number,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
count,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000,667.000000
mean,48.718141,1994.967016,119.121439,61.394303,60.325337,-8.356822,18.188906,57.311844,224.002999,29.917541,6.179910,63.349325
std,28.414748,17.771374,25.030827,21.703963,15.051583,3.659509,14.380929,24.400412,59.742591,28.865081,6.191199,13.725845
min,1.000000,1945.000000,62.000000,6.000000,18.000000,-24.000000,2.000000,6.000000,98.000000,0.000000,2.000000,26.000000
25%,24.000000,1980.000000,101.500000,45.000000,51.000000,-11.000000,9.000000,39.000000,185.000000,6.000000,3.000000,56.000000
50%,48.000000,1998.000000,120.000000,64.000000,62.000000,-8.000000,13.000000,58.000000,218.000000,19.000000,4.000000,66.000000
75%,72.000000,2010.000000,134.000000,79.000000,71.000000,-6.000000,24.000000,78.000000,254.000000,52.000000,6.000000,73.500000
max,105.000000,2019.000000,199.000000,100.000000,96.000000,-1.000000,93.000000,99.000000,511.000000,100.000000,47.000000,94.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Number     667 non-null    int64
 1   title      667 non-null    object
 2   artist     667 non-null    object
 3   top genre  651 non-null    object
 4   year       667 non-null    int64
 5   bpm        667 non-null    int64
 6   nrgy       667 non-null    int64
 7   dnce       667 non-null    int64
 8   dB         667 non-null    int64
 9   live       667 non-null    int64
 10  val        667 non-null    int64
 11  dur        667 non-null    int64
 12  acous      667 non-null    int64
 13  spch       667 non-null    int64
 14  pop        667 non-null    int64
dtypes: int64(12), object(3)
memory usage: 78.3+ KB

In [7]:
#renombrar la columna pop a popularity
df = df.rename(columns={"pop": "popularity","nrgy": "energy"})
df.head(2)

,Number,title,artist,top genre,year,bpm,energy,dnce,dB,live,val,dur,acous,spch,popularity
0,1,Put Your Head On My Shoulder,Paul Anka,adult standards,2000,116,34,55,-9,10,47,155,75,3,72
1,2,Whatever Will Be Will Be (Que Sera Sera) (with...,Doris Day,adult standards,1948,177,34,42,-11,72,78,123,86,4,62

In [8]:
#Ver los nulos
df.isnull().sum()

Number         0
title          0
artist         0
top genre     16
year           0
bpm            0
energy         0
dnce           0
dB             0
live           0
val            0
dur            0
acous          0
spch           0
popularity     0
dtype: int64

In [9]:
#Opcion 1: reemplazar los nulos por la palabra "others"
df = df["top genre"].fillna("Others")
#df["top genre"].fillna("Others", inplace=True)

In [ ]:
#opcion 2: rellenar los nulos de la columna top_genre col la moda de esta columna
# top_genre_mode = df["top genre"].mode().iloc[0]
# df["top genre"].fillna("Others", inplace=True)

In [30]:
#opcion 3: rellenar con la moda de los artistas concretos para los que la top genre es null
def mode(x):
    if not x.mode().empty:
        return x.mode().iloc[0]
    else:
        return np.nan
    
artist_top_genre_mode = df.groupby("artist")["top genre"].agg(mode)
artist_top_genre_mode

pandas==2.2.3

In [ ]:
df["top genre"].mode().iloc[0] #moda global de top genre sin importar artista
def fill_top_genre_with_mode_by_artist(row):
    if pd.isna(row["top genre"]):
        #si es nulo devolvemos la moda top genre en base al artista
        return artist_top_genre_mode.get(row["artist"], top_genre_mode)
    else:
        #si no es nulo lo devolvemos como esta
        return row["top genre"]
    
df["top genre"] = df.apply(fill_top_genre_with_mode_by_artist, axis=1)

In [29]:
# ver si hay duplicados y borrarlos: duplicate()
print(df.duplicated().sum())
df.drop_duplicates(inplace= True)   #inplace= True es para que lo haga sobre el mismo dataframe y no genere otro

0

In [ ]:
#borra columna number:
df.drop(columns="Number")