In [4]:
import mysql.connector as con
import pandas as pd
import random
import datetime 
from datetime import datetime, timedelta

## ENUNCIADO EJERCICIO 

### 1. CREAR BASE DE DATOS (33%)

* Crear con código SQL una base de datos llamada supermercado.
* Código Python con mysql connector que ejecute el SQL para borrar y generar la base de datos vacía.

In [2]:
def crear_tabla(sql):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="admin",
            database='supermercado'
        )
        cursor = connection.cursor()
        cursor.execute(sql)
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

In [3]:
sql = "DROP DATABASE IF EXISTS supermercado; CREATE DATABASE IF NOT EXISTS supermercado;"

In [4]:
crear_tabla(sql)

## Crear TABLAS

tiendas
- id_tienda (PRIMARY KEY)
- nombre_tienda
- direccion
- ciudad

In [5]:
sql = "CREATE TABLE IF NOT EXISTS tiendas (id_tienda INT AUTO_INCREMENT PRIMARY KEY, nombre_tienda VARCHAR(255) NOT NULL, direccion VARCHAR(255), ciudad VARCHAR(255) NOT NULL);"

In [6]:
crear_tabla(sql)

empleados
- id_empleado (PRIMARY KEY)
- nombre_empleado
- puesto (ej.: Cajero, Gerente, Reponedor)
- id_tienda (FOREIGN KEY que hace referencia a tiendas.id_tienda)

In [7]:
sql = "CREATE TABLE IF NOT EXISTS empleados (id_empleado INT AUTO_INCREMENT PRIMARY KEY, nombre_empleado VARCHAR(255) NOT NULL, puesto VARCHAR(60), id_tienda INT NOT NULL, FOREIGN KEY (id_tienda) REFERENCES tiendas(id_tienda) ON DELETE CASCADE);"

In [8]:
crear_tabla(sql)

categorias
- id_categoria (PRIMARY KEY)
- nombre_categoria

In [9]:
sql = "CREATE TABLE IF NOT EXISTS categorias (id_categoria INT AUTO_INCREMENT PRIMARY KEY, nombre_categoria VARCHAR(60));"

In [10]:
crear_tabla(sql)

productos
- id_producto (PRIMARY KEY)
- nombre_producto
- precio
- stock
- id_categoria (FOREIGN KEY que hace referencia a categorias.id_categoria)

In [11]:
sql = "CREATE TABLE IF NOT EXISTS productos (id_producto INT AUTO_INCREMENT PRIMARY KEY, nombre_producto VARCHAR(70), precio FLOAT(8,2), stock INT, id_categoria INT NOT NULL, FOREIGN KEY (id_categoria) REFERENCES categorias(id_categoria));"

In [12]:
crear_tabla(sql)

clientes
- id_cliente (PRIMARY KEY)
- first_name
- last_name
- email
- codigo_postal

In [13]:
sql = "CREATE TABLE IF NOT EXISTS clientes (id_cliente INT AUTO_INCREMENT PRIMARY KEY, first_name VARCHAR(50), last_name VARCHAR(50), email VARCHAR(200), codigo_postal INT);"

In [14]:
crear_tabla(sql)

ordenes
- id_orden (PRIMARY KEY)
- id_cliente (FOREIGN KEY que hace referencia a clientes.id_cliente)
- id_empleado (FOREIGN KEY que hace referencia a empleados.id_empleado)
- fecha_orden
- metodo_pago (una enum que solo admita tres valores Tarjeta, Efectivo)

In [15]:
sql = "CREATE TABLE IF NOT EXISTS ordenes (id_orden INT AUTO_INCREMENT PRIMARY KEY, id_cliente INT, id_empleado INT, fecha_orden DATE, metodo_pago ENUM('Tarjeta', 'Efectivo') DEFAULT 'Efectivo', FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente), FOREIGN KEY (id_empleado) REFERENCES empleados(id_empleado));"

In [16]:
crear_tabla(sql)

detalle_orden
- id_detalle (PRIMARY KEY)
- id_orden (FOREIGN KEY que hace referencia a ordenes.id_orden) NOT NULL
- id_producto (FOREIGN KEY que hace referencia a productos.id_producto) NOT NULL
- cantidad
- precio_unitario: mismo precio que en la tabla producto
- descuento (podría ser NULL si no se aplica)

In [17]:
sql = "CREATE TABLE IF NOT EXISTS detalle_orden (id_detalle INT AUTO_INCREMENT PRIMARY KEY, id_orden INT NOT NULL, id_producto INT NOT NULL, cantidad FLOAT(8,2), precio_unitario FLOAT(8,2), descuento TINYINT, FOREIGN KEY (id_orden) REFERENCES ordenes(id_orden), FOREIGN KEY (id_producto) REFERENCES productos(id_producto));"

In [18]:
crear_tabla(sql)

### 2. Generar datos demo desde Python (33%)

* Generar datos aleatorios en listas con Python similar los realizados en clase.
    * Uso de datetime, timedelta, random para generar datos aleatorios
* Pasar los datos a DataFrames de Pandas
* Pasar los DataFrames de Pandas a MySQL usando la función to_sql de Pandas con SQLAlchemy o usando MySQL Connector con sentencias INSERT.

In [19]:
def insertar_dataframe(df, table_name):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="admin",
            database='supermercado'
        )
        cursor = connection.cursor()
        
        columns = ','.join(df.columns)
        placeholders = ','.join(['%s'] * len(df.columns))
        sql = f'INSERT INTO {table_name} ({columns}) VALUES ({placeholders});'
    
        rows = [tuple(row) for index, row in df.iterrows()] # lista de tuplas con los datos del dataframe

        cursor.executemany(sql, rows)
        
        connection.commit()
        return cursor.rowcount
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

tiendas

* id_tienda: valores enteros consecutivos (por ejemplo, 1, 2, 3...).
* nombre_tienda: nombres ficticios o genéricos (p. ej. "Tienda Centro", "Super Norte", "Super Sur").
* direccion: direcciones simples (p. ej. “Calle Falsa 123”).
* ciudad: usar nombres de ciudades ficticias o reales (p. ej. “Madrid”, “Barcelona”, “México DF”, etc.).

En total 5 o 10 tiendas.

In [20]:
tiendas = ['Jerez Este', 'Sanlucar Oeste', 'Cadiz Norte', 'Valdelagrana Sur', 'Arcos Sur', 'Chiclana Norte', 'Barbate Este', 'Vejer Oeste', 'Conil Sur', 'Rota Norte']
direcciones = ['Calle Catavino 25', 'Calle Manzanilla 42', 'Calle del Pan 38', 'Calle Playa 57', 'Calle Castillo 182', 'Calle Barrosa 63', 'Calle Atun 98', 'Calle Pescadill 56', 'Calle Balsa 71', 'Calle Base 22']
ciudades = ['Jerez de la Frontera', 'Sanlucar de Barrameda', 'Cadiz', 'El Puerto de Santa Maria', 'Arcos de la Frontera', 'Chiclana de la Frontera', 'Barbate', 'Vejer de la Frontera', 'Conil de la Frontera', 'Rota']
df_tiendas = pd.DataFrame(zip(tiendas, direcciones, ciudades), columns=['nombre_tienda', 'direccion', 'ciudad'])
# generar columna id_tienda
df_tiendas = df_tiendas.reset_index().rename({'index': 'id_tienda'}, axis=1)
df_tiendas['id_tienda'] = df_tiendas['id_tienda'] + 1
df_tiendas

   id_tienda     nombre_tienda            direccion                    ciudad
0          1        Jerez Este    Calle Catavino 25      Jerez de la Frontera
1          2    Sanlucar Oeste  Calle Manzanilla 42     Sanlucar de Barrameda
2          3       Cadiz Norte     Calle del Pan 38                     Cadiz
3          4  Valdelagrana Sur       Calle Playa 57  El Puerto de Santa Maria
4          5         Arcos Sur   Calle Castillo 182      Arcos de la Frontera
5          6    Chiclana Norte     Calle Barrosa 63   Chiclana de la Frontera
6          7      Barbate Este        Calle Atun 98                   Barbate
7          8       Vejer Oeste   Calle Pescadill 56      Vejer de la Frontera
8          9         Conil Sur       Calle Balsa 71      Conil de la Frontera
9         10        Rota Norte        Calle Base 22                      Rota

In [21]:
insertar_dataframe(df_tiendas, 'tiendas')

10

empleados

* id_empleado: valores enteros consecutivos (1, 2, 3...).
* nombre_empleado: nombres y apellidos ficticios (p. ej. “Laura Gutiérrez”, “Juan Pérez”).
* puesto: limitarse a un conjunto reducido de valores (p. ej. {‘Cajero’, ‘Gerente’, ‘Reponedor’, ‘Vendedor’}).
* id_tienda: debe hacer referencia a una tienda existente (por ejemplo, un número entre 1 y 3 si solo tienes 3 tiendas).

En total 20 empleados por tienda.

In [22]:
#generar columna id_empleado
empleados = list()
nombres = ["Juan", "María", "Luis", "Ana", "Pedro", "Sofía", "Carlos", "Lucía", "Jorge", "Elena", "Manuel", "Laura", "Diego", "Clara", "Alberto", "Teresa", "Pablo", "Isabel", "Sergio", "Marta", "Roberto", "Julia", "Fernando", "Carmen", "Ricardo", "Paula", "Andrés", "Eva", "Antonio", "Sara", "José", "Natalia", "Francisco", "Patricia", "Hugo", "Adriana", "Rafael", "Irene", "Víctor", "Olga", "Daniel", "Noelia", "Álvaro", "Alicia", "Javier", "Rocío", "Enrique", "Amelia", "Gonzalo", "Vera"]
apellidos = ["García", "Martínez", "López", "Sánchez", "Pérez", "González", "Rodríguez", "Fernández", "Moreno", "Jiménez", "Hernández", "Muñoz", "Álvarez", "Romero", "Alonso", "Gutiérrez", "Ruiz", "Navarro", "Díaz", "Torres", "Castro", "Vázquez", "Ramos", "Gil", "Ramírez", "Flores", "Ortiz", "Marín", "Serrano", "Iglesias", "Delgado", "Domínguez", "Guerrero", "Molina", "Ortega", "Rubio", "Santos", "Medina", "Castillo", "Cruz", "Reyes", "Herrera", "Peña", "Carrasco", "Calvo", "Vega", "Cabrera", "Campos", "León", "Fuentes"]
trabajo = ["Cajero", "Reponedor", "Encargado de sección", "Gerente", "Personal de limpieza", "Panadero", "Carnicero", "Pescadero", "Responsable de almacén", "Supervisor de caja", "Frutero", "Charcutero", "Jefe de turno", "Operador logístico", "Atención al cliente", "Auxiliar de caja", "Encargado de inventario", "Responsable de compras", "Promotor de ventas", "Encargado de seguridad"]
for tienda in df_tiendas['id_tienda']:
    for empleado in range(20):
        nombre_empleado = (random.choice(nombres) + ' ' + random.choice(apellidos))
        puesto = trabajo[empleado]
        id_tienda = tienda
        empleados.append([nombre_empleado, puesto, id_tienda])
        
df_empleados = pd.DataFrame(empleados, columns=['nombre_empleado', 'puesto', 'id_tienda'])
        
df_empleados = df_empleados.reset_index().rename({'index': 'id_empleado'}, axis=1)
df_empleados['id_empleado'] = df_empleados['id_empleado'] + 1
df_empleados

     id_empleado  nombre_empleado                   puesto  id_tienda
0              1       Marta Vega                   Cajero          1
1              2    José Martínez                Reponedor          1
2              3   Olga Hernández     Encargado de sección          1
3              4   Rafael Herrera                  Gerente          1
4              5    Marta Serrano     Personal de limpieza          1
..           ...              ...                      ...        ...
195          196    Gonzalo Rubio         Auxiliar de caja         10
196          197   Ricardo Medina  Encargado de inventario         10
197          198  Carmen Martínez   Responsable de compras         10
198          199      Jorge Ramos       Promotor de ventas         10
199          200    Laura Delgado   Encargado de seguridad         10

[200 rows x 4 columns]

In [23]:
insertar_dataframe(df_empleados, "empleados")

200

categorias

* id_categoria: valores enteros consecutivos (1, 2, 3...).
* nombre_categoria: selección de categorías (p. ej. “Lácteos”, “Carnes”, “Frutas”, “Verduras”, “Bebidas”, “Snacks”).

En total 10 categorías

In [24]:
categorias = ['Lácteos', 'Carnes', 'Frutas', 'Verduras', 'Bebidas', 'Snacks', 'Hogar', 'Limpieza', 'Perfumería', 'Jardín']

df_categorias = pd.DataFrame(categorias, columns=['nombre_categoria'])

# generar columna id_categoria
df_categorias = df_categorias.reset_index().rename({'index': 'id_categoria'}, axis=1)
df_categorias['id_categoria'] = df_categorias['id_categoria'] + 1
df_categorias

   id_categoria nombre_categoria
0             1          Lácteos
1             2           Carnes
2             3           Frutas
3             4         Verduras
4             5          Bebidas
5             6           Snacks
6             7            Hogar
7             8         Limpieza
8             9       Perfumería
9            10           Jardín

In [25]:
insertar_dataframe(df_categorias, 'categorias')

10


productos

* id_producto: valores enteros consecutivos (1, 2, 3...).
* nombre_producto: nombres como “Leche Entera”, “Manzana Roja”, “Refresco de Cola”, etc.
* precio: valores DECIMAL entre 0.50 y 50.00, por ejemplo.
* stock: valores INT entre 0 y 500 (o el rango que quieras).
* id_categoria: debe hacer referencia a las categorías que hayas definido (1, 2, 3, etc.).

En total 4 productos de cada categoría.

In [55]:
# generar columna id_producto
produ = ["Leche", "Yogur", "Queso", "Mantequilla", "Pollo", "Carne de res", "Cerdo", "Chuletas", "Manzana", "Banana", "Naranja", "Uva", "Zanahoria", "Tomate", "Lechuga", "Cebolla", "Agua", "Jugo de naranja", "Refresco", "Cerveza", "Papas fritas", "Chocolate", "Galletas", "Chicles", "Velas", "Platos desechables", "Bolsas de basura", "Pilas", "Detergente", "Jabón líquido", "Esponjas", "Desinfectante", "Champú", "Colonia", "Crema hidratante", "Desodorante", "Tierra para macetas", "Fertilizante", "Semillas", "Regadera"]
precios, lista_categorias, stock = list(), list(), list()
cantidad = len(produ)
for _ in range(cantidad):
    precios.append(random.uniform(0.50, 10.50))
    stock.append(random.randint(0, 100))
for categ in df_categorias['id_categoria']:
    for i in range(4):
        lista_categorias.append(categ)
lista_categorias        
df_productos = pd.DataFrame(zip(produ, precios, stock, lista_categorias), columns=['nombre_producto', 'precio', 'stock', 'id_categoria'])    
df_productos = df_productos.reset_index().rename({'index': 'id_producto'}, axis=1)
df_productos['id_producto'] = df_productos['id_producto'] + 1
df_productos

    id_producto      nombre_producto     precio  stock  id_categoria
0             1                Leche   3.677754     34             1
1             2                Yogur   7.925825     38             1
2             3                Queso   2.949758     37             1
3             4          Mantequilla   1.063810     93             1
4             5                Pollo   4.423281     35             2
5             6         Carne de res   1.412896     45             2
6             7                Cerdo   1.202530     58             2
7             8             Chuletas   6.204840     78             2
8             9              Manzana   4.990675     86             3
9            10               Banana   4.963882     92             3
10           11              Naranja   7.092431     81             3
11           12                  Uva   6.317619     80             3
12           13            Zanahoria   2.003786     99             4
13           14               Tomate   8.844494      4             4
14           15              Lechuga   4.114082    100             4
15           16              Cebolla   3.473225     80             4
16           17                 Agua   5.281198     14             5
17           18      Jugo de naranja   4.764605     32             5
18           19             Refresco   8.157315     17             5
19           20              Cerveza   4.741829     77             5
20           21         Papas fritas   5.442966     71             6
21           22            Chocolate   8.051723     34             6
22           23             Galletas   9.865055     71             6
23           24              Chicles   3.159336     78             6
24           25                Velas   2.727920     94             7
25           26   Platos desechables   8.299917     97             7
26           27     Bolsas de basura   1.198203     98             7
27           28                Pilas   7.693134    100             7
28           29           Detergente   6.900804     49             8
29           30        Jabón líquido   4.837952     82             8
30           31             Esponjas   0.716848     17             8
31           32        Desinfectante   6.160776      1             8
32           33               Champú   3.683495     47             9
33           34              Colonia   3.737687     45             9
34           35     Crema hidratante   3.211527     23             9
35           36          Desodorante   1.634995     10             9
36           37  Tierra para macetas  10.343548     62            10
37           38         Fertilizante   9.386867     36            10
38           39             Semillas   4.898441     93            10
39           40             Regadera   6.297148     49            10

In [56]:
insertar_dataframe(df_productos, 'productos')

[(1, datetime.date(2024, 1, 1), 'Daniel', 'Moreno', 'Pablo León', 'Tarjeta'),
 (2,
  datetime.date(2024, 1, 1),
  'Amelia',
  'Álvarez',
  'Roberto Ortiz',
  'Efectivo'),
 (3,
  datetime.date(2024, 1, 1),
  'Eva',
  'Gutiérrez',
  'Fernando Romero',
  'Tarjeta'),
 (4,
  datetime.date(2024, 1, 1),
  'Luis',
  'Alonso',
  'María Rodríguez',
  'Efectivo'),
 (5,
  datetime.date(2024, 1, 1),
  'Teresa',
  'Delgado',
  'Juan Navarro',
  'Tarjeta'),
 (6,
  datetime.date(2024, 1, 1),
  'Francisco',
  'Cabrera',
  'Elena Navarro',
  'Tarjeta'),
 (7, datetime.date(2024, 1, 1), 'Luis', 'Herrera', 'Marta Vega', 'Tarjeta'),
 (8,
  datetime.date(2024, 1, 1),
  'Alicia',
  'León',
  'Ricardo Guerrero',
  'Tarjeta'),
 (9,
  datetime.date(2024, 1, 1),
  'Rafael',
  'Sánchez',
  'Andrés Marín',
  'Tarjeta'),
 (10, datetime.date(2024, 1, 1), 'Paula', 'Carrasco', 'Irene Peña', 'Tarjeta'),
 (11, datetime.date(2024, 1, 1), 'Juan', 'Peña', 'Irene Peña', 'Efectivo'),
 (12, datetime.date(2024, 1, 1), 'Rocío', 'Pérez', 'Carmen Reyes', 'Tarjeta'),
 (13,
  datetime.date(2024, 1, 1),
  'Juan',
  'García',
  'Alberto Marín',
  'Efectivo'),
 (14,
  datetime.date(2024, 1, 1),
  'Gonzalo',
  'Martínez',
  'Fernando Carrasco',
  'Tarjeta'),
 (15, datetime.date(2024, 1, 1), 'Jorge', 'Peña', 'Álvaro Sánchez', 'Tarjeta'),
 (16,
  datetime.date(2024, 1, 1),
  'Manuel',
  'Castro',
  'Patricia Rodríguez',
  'Tarjeta'),
 (17, datetime.date(2024, 1, 1), 'Sara', 'Rubio', 'Eva Iglesias', 'Tarjeta'),
 (18, datetime.date(2024, 1, 1), 'María', 'Gil', 'Pablo León', 'Efectivo'),
 (19,
  datetime.date(2024, 1, 1),
  'Daniel',
  'Herrera',
  'María Rodríguez',
  'Tarjeta'),
 (20, datetime.date(2024, 1, 1), 'Irene', 'Campos', 'Lucía Campos', 'Tarjeta'),
 (21, datetime.date(2024, 1, 1), 'Andrés', 'Rubio', 'Irene Peña', 'Tarjeta'),
 (22,
  datetime.date(2024, 1, 2),
  'Sofía',
  'Guerrero',
  'Lucía Campos',
  'Efectivo'),
 (23,
  datetime.date(2024, 1, 2),
  'Amelia',
  'Fernández',
  'Andrés Díaz',
  'Tarjeta'),
 (24,
  datetime.date(2024, 1, 2),
  'Irene',
  'Alonso',
  'Daniel Delgado',
  'Efectivo'),
 (25,
  datetime.date(2024, 1, 2),
  'Víctor',
  'Romero',
  'Andrés Marín',
  'Efectivo'),
 (26,
  datetime.date(2024, 1, 2),
  'Juan',
  'Rodríguez',
  'Jorge Cabrera',
  'Tarjeta'),
 (27,
  datetime.date(2024, 1, 2),
  'Manuel',
  'Cabrera',
  'Noelia Álvarez',
  'Tarjeta'),
 (28, datetime.date(2024, 1, 2), 'Vera', 'García', 'Álvaro León', 'Tarjeta'),
 (29,
  datetime.date(2024, 1, 2),
  'Sergio',
  'Serrano',
  'Patricia Navarro',
  'Tarjeta'),
 (30, datetime.date(2024, 1, 2), 'José', 'Ortiz', 'Marta Fuentes', 'Tarjeta'),
 (31,
  datetime.date(2024, 1, 2),
  'Natalia',
  'Castillo',
  'Rafael Herrera',
  'Efectivo'),
 (32,
  datetime.date(2024, 1, 2),
  'Andrés',
  'Romero',
  'Roberto Ortiz',
  'Tarjeta'),
 (33,
  datetime.date(2024, 1, 2),
  'Adriana',
  'Vázquez',
  'Laura Castillo',
  'Tarjeta'),
 (34, datetime.date(2024, 1, 2), 'Eva', 'Serrano', 'Rafael Torres', 'Tarjeta'),
 (35, datetime.date(2024, 1, 2), 'Daniel', 'Cruz', 'Jorge Herrera', 'Tarjeta'),
 (36,
  datetime.date(2024, 1, 2),
  'Carmen',
  'Hernández',
  'Alicia Ortiz',
  'Efectivo'),
 (37,
  datetime.date(2024, 1, 2),
  'Irene',
  'Alonso',
  'Fernando Herrera',
  'Efectivo'),
 (38,
  datetime.date(2024, 1, 2),
  'Alicia',
  'Cruz',
  'Jorge Martínez',
  'Efectivo'),
 (39, datetime.date(2024, 1, 3), 'Sofía', 'López', 'Rafael Torres', 'Tarjeta'),
 (40, datetime.date(2024, 1, 3), 'Luis', 'Pérez', 'Luis Cruz', 'Tarjeta'),
 (41,
  datetime.date(2024, 1, 3),
  'Teresa',
  'Alonso',
  'Rafael Herrera',
  'Tarjeta'),
 (42,
  datetime.date(2024, 1, 3),
  'Patricia',
  'Santos',
  'Fernando Vega',
  'Efectivo'),
 (43,
  datetime.date(2024, 1, 3),
  'Juan',
  'Serrano',
  'Rafael Torres',
  'Efectivo'),
 (44, datetime.date(2024, 1, 3), 'Julia', 'Jiménez', 'Pablo Ruiz', 'Tarjeta'),
 (45,
  datetime.date(2024, 1, 3),
  'María',
  'Campos',
  'Ricardo Domínguez',
  'Tarjeta'),
 (46, datetime.date(2024, 1, 3), 'Julia', 'Ramos', 'Manuel Vega', 'Tarjeta'),
 (47,
  datetime.date(2024, 1, 3),
  'Julia',
  'Jiménez',
  'Adriana Álvarez',
  'Tarjeta'),
 (48, datetime.date(2024, 1, 3), 'Alberto', 'Molina', 'José León', 'Efectivo'),
 (49,
  datetime.date(2024, 1, 3),
  'Clara',
  'Hernández',
  'Adriana Medina',
  'Tarjeta'),
 (50, datetime.date(2024, 1, 3), 'Daniel', 'González', 'Olga Gil', 'Tarjeta'),
 (51,
  datetime.date(2024, 1, 3),
  'Francisco',
  'Cruz',
  'José Guerrero',
  'Tarjeta'),
 (52, datetime.date(2024, 1, 3), 'Jorge', 'Campos', 'Eva Pérez', 'Tarjeta'),
 (53,
  datetime.date(2024, 1, 3),
  'Laura',
  'Jiménez',
  'Ricardo Medina',
  'Tarjeta'),
 (54,
  datetime.date(2024, 1, 3),
  'Pablo',
  'Calvo',
  'Diego Gutiérrez',
  'Tarjeta'),
 (55,
  datetime.date(2024, 1, 3),
  'Jorge',
  'Ramírez',
  'Alicia Rodríguez',
  'Efectivo'),
 (56, datetime.date(2024, 1, 4), 'Sofía', 'Peña', 'Álvaro León', 'Tarjeta'),
 (57,
  datetime.date(2024, 1, 4),
  'Carlos',
  'Ortega',
  'Diego Gutiérrez',
  'Tarjeta'),
 (58,
  datetime.date(2024, 1, 4),
  'Marta',
  'Castro',
  'Adriana Campos',
  'Efectivo'),
 (59,
  datetime.date(2024, 1, 4),
  'Noelia',
  'González',
  'Noelia Vega',
  'Efectivo'),
 (60, datetime.date(2024, 1, 4), 'Amelia', 'González', 'Ana Marín', 'Tarjeta'),
 (61,
  datetime.date(2024, 1, 4),
  'Pedro',
  'Romero',
  'Paula Molina',
  'Efectivo'),
 (62,
  datetime.date(2024, 1, 4),
  'Teresa',
  'Marín',
  'Sofía García',
  'Efectivo'),
 (63, datetime.date(2024, 1, 4), 'José', 'Ramos', 'Jorge Cabrera', 'Efectivo'),
 (64, datetime.date(2024, 1, 4), 'Andrés', 'Ramos', 'Julia Ortega', 'Tarjeta'),
 (65, datetime.date(2024, 1, 4), 'Natalia', 'López', 'Pablo León', 'Efectivo'),
 (66,
  datetime.date(2024, 1, 4),
  'Adriana',
  'Navarro',
  'Irene Sánchez',
  'Efectivo'),
 (67,
  datetime.date(2024, 1, 4),
  'Enrique',
  'Santos',
  'Daniel Álvarez',
  'Efectivo'),
 (68,
  datetime.date(2024, 1, 4),
  'Gonzalo',
  'Domínguez',
  'Alberto Navarro',
  'Efectivo'),
 (69,
  datetime.date(2024, 1, 4),
  'Carlos',
  'Castro',
  'Daniel López',
  'Efectivo'),
 (70,
  datetime.date(2024, 1, 4),
  'Lucía',
  'Ramos',
  'Amelia Delgado',
  'Efectivo'),
 (71,
  datetime.date(2024, 1, 4),
  'Elena',
  'Álvarez',
  'Gonzalo Rubio',
  'Tarjeta'),
 (72, datetime.date(2024, 1, 4), 'Carlos', 'Vega', 'Elena Navarro', 'Tarjeta'),
 (73,
  datetime.date(2024, 1, 4),
  'Clara',
  'Torres',
  'Laura Castillo',
  'Efectivo'),
 (74,
  datetime.date(2024, 1, 4),
  'Francisco',
  'Delgado',
  'Alicia Rodríguez',
  'Efectivo'),
 (75,
  datetime.date(2024, 1, 4),
  'Pedro',
  'Sánchez',
  'Sofía Castillo',
  'Tarjeta'),
 (76,
  datetime.date(2024, 1, 4),
  'Laura',
  'Pérez',
  'Carmen Martínez',
  'Efectivo'),
 (77,
  datetime.date(2024, 1, 4),
  'Noelia',
  'Cabrera',
  'Adriana Álvarez',
  'Tarjeta'),
 (78,
  datetime.date(2024, 1, 4),
  'Roberto',
  'Gil',
  'Alberto Santos',
  'Efectivo'),
 (79, datetime.date(2024, 1, 4), 'Carmen', 'Alonso', 'Julia Peña', 'Tarjeta'),
 (80,
  datetime.date(2024, 1, 4),
  'Roberto',
  'Cruz',
  'Daniel Molina',
  'Tarjeta'),
 (81,
  datetime.date(2024, 1, 4),
  'Andrés',
  'Fuentes',
  'Paula Molina',
  'Efectivo'),
 (82, datetime.date(2024, 1, 4), 'Luis', 'Ortiz', 'Laura Medina', 'Tarjeta'),
 (83,
  datetime.date(2024, 1, 4),
  'Javier',
  'Peña',
  'Rafael Herrera',
  'Tarjeta'),
 (84,
  datetime.date(2024, 1, 4),
  'Sofía',
  'Guerrero',
  'Daniel León',
  'Tarjeta'),
 (85,
  datetime.date(2024, 1, 5),
  'Amelia',
  'Fernández',
  'Amelia Hernández',
  'Efectivo'),
 (86,
  datetime.date(2024, 1, 5),
  'Adriana',
  'Moreno',
  'Olga Romero',
  'Tarjeta'),
 (87,
  datetime.date(2024, 1, 5),
  'Manuel',
  'Navarro',
  'Laura Delgado',
  'Efectivo'),
 (88, datetime.date(2024, 1, 5), 'Eva', 'Cabrera', 'Alicia Flores', 'Tarjeta'),
 (89, datetime.date(2024, 1, 5), 'Rocío', 'Muñoz', 'Lucía Campos', 'Tarjeta'),
 (90,
  datetime.date(2024, 1, 5),
  'Enrique',
  'Díaz',
  'Antonio Delgado',
  'Efectivo'),
 (91,
  datetime.date(2024, 1, 5),
  'Carmen',
  'Reyes',
  'Paula Flores',
  'Efectivo'),
 (92, datetime.date(2024, 1, 5), 'Paula', 'Torres', 'Carmen Reyes', 'Tarjeta'),
 (93, datetime.date(2024, 1, 5), 'Vera', 'Ramírez', 'Laura Medina', 'Tarjeta'),
 (94, datetime.date(2024, 1, 5), 'Hugo', 'Alonso', 'Sofía García', 'Tarjeta'),
 (95, datetime.date(2024, 1, 5), 'Pedro', 'Rubio', 'Pablo Peña', 'Efectivo'),
 (96,
  datetime.date(2024, 1, 5),
  'Patricia',
  'Campos',
  'Ricardo Guerrero',
  'Tarjeta'),
 (97,
  datetime.date(2024, 1, 5),
  'Isabel',
  'Castillo',
  'Andrés Marín',
  'Tarjeta'),
 (98,
  datetime.date(2024, 1, 5),
  'Adriana',
  'López',
  'Ricardo Domínguez',
  'Tarjeta'),
 (99,
  datetime.date(2024, 1, 5),
  'Álvaro',
  'Romero',
  'Noelia Castillo',
  'Efectivo'),
 (100,
  datetime.date(2024, 1, 5),
  'Víctor',
  'Cabrera',
  'Lucía Campos',
  'Tarjeta'),
 (101, datetime.date(2024, 1, 5), 'Isabel', 'Reyes', 'Amelia Ruiz', 'Tarjeta'),
 (102,
  datetime.date(2024, 1, 5),
  'Paula',
  'Vega',
  'Carmen Guerrero',
  'Efectivo'),
 (103,
  datetime.date(2024, 1, 5),
  'Amelia',
  'González',
  'Paula Molina',
  'Tarjeta'),
 (104,
  datetime.date(2024, 1, 5),
  'Eva',
  'Álvarez',
  'Pablo Cabrera',
  'Efectivo'),
 (105,
  datetime.date(2024, 1, 5),
  'Alberto',
  'Rodríguez',
  'Ricardo Domínguez',
  'Tarjeta'),
 (106,
  datetime.date(2024, 1, 6),
  'Álvaro',
  'Santos',
  'Francisco Castillo',
  'Tarjeta'),
 (107,
  datetime.date(2024, 1, 6),
  'Manuel',
  'Álvarez',
  'Clara Cabrera',
  'Tarjeta'),
 (108,
  datetime.date(2024, 1, 6),
  'Andrés',
  'Jiménez',
  'Alicia Rodríguez',
  'Tarjeta'),
 (109,
  datetime.date(2024, 1, 6),
  'Pablo',
  'Moreno',
  'Patricia Rodríguez',
  'Tarjeta'),
 (110, datetime.date(2024, 1, 6), 'María', 'Santos', 'Clara Calvo', 'Tarjeta'),
 (111, datetime.date(2024, 1, 6), 'Eva', 'Molina', 'Irene García', 'Efectivo'),
 (112,
  datetime.date(2024, 1, 6),
  'Teresa',
  'Guerrero',
  'Carlos Fernández',
  'Tarjeta'),
 (113,
  datetime.date(2024, 1, 6),
  'Fernando',
  'Alonso',
  'Juan Campos',
  'Tarjeta'),
 (114,
  datetime.date(2024, 1, 6),
  'Paula',
  'Molina',
  'Rocío Molina',
  'Tarjeta'),
 (115,
  datetime.date(2024, 1, 6),
  'Ricardo',
  'González',
  'Natalia Moreno',
  'Tarjeta'),
 (116,
  datetime.date(2024, 1, 6),
  'Isabel',
  'Delgado',
  'Olga Torres',
  'Tarjeta'),
 (117,
  datetime.date(2024, 1, 6),
  'Irene',
  'Alonso',
  'Clara Calvo',
  'Efectivo'),
 (118,
  datetime.date(2024, 1, 6),
  'Eva',
  'Guerrero',
  'Ricardo Guerrero',
  'Tarjeta'),
 (119,
  datetime.date(2024, 1, 6),
  'Elena',
  'Iglesias',
  'Diego Cabrera',
  'Tarjeta'),
 (120, datetime.date(2024, 1, 6), 'Vera', 'Jiménez', 'Rocío Marín', 'Tarjeta'),
 (121, datetime.date(2024, 1, 6), 'Sergio', 'Marín', 'Pablo León', 'Tarjeta'),
 (122,
  datetime.date(2024, 1, 6),
  'Adriana',
  'Martínez',
  'Daniel Fernández',
  'Tarjeta'),
 (123,
  datetime.date(2024, 1, 6),
  'Álvaro',
  'Ortega',
  'Andrés Marín',
  'Tarjeta'),
 (124,
  datetime.date(2024, 1, 6),
  'Irene',
  'Iglesias',
  'Eva Pérez',
  'Efectivo'),
 (125,
  datetime.date(2024, 1, 6),
  'Sergio',
  'Delgado',
  'Jorge Ramos',
  'Efectivo'),
 (126,
  datetime.date(2024, 1, 6),
  'Clara',
  'Moreno',
  'Diego Sánchez',
  'Tarjeta'),
 (127,
  datetime.date(2024, 1, 6),
  'Manuel',
  'Calvo',
  'Antonio Guerrero',
  'Tarjeta'),
 (128, datetime.date(2024, 1, 6), 'Paula', 'León', 'Andrés Marín', 'Efectivo'),
 (129, datetime.date(2024, 1, 6), 'Sara', 'Ramos', 'Daniel López', 'Tarjeta'),
 (130,
  datetime.date(2024, 1, 6),
  'Enrique',
  'González',
  'María Navarro',
  'Tarjeta'),
 (131,
  datetime.date(2024, 1, 6),
  'Julia',
  'Moreno',
  'Javier Navarro',
  'Tarjeta'),
 (132,
  datetime.date(2024, 1, 6),
  'Sofía',
  'Gutiérrez',
  'Alicia Rodríguez',
  'Tarjeta'),
 (133,
  datetime.date(2024, 1, 6),
  'Sergio',
  'García',
  'Teresa Campos',
  'Tarjeta'),
 (134, datetime.date(2024, 1, 6), 'Irene', 'Alonso', 'Manuel Vega', 'Tarjeta'),
 (135,
  datetime.date(2024, 1, 6),
  'Alicia',
  'Iglesias',
  'Fernando Romero',
  'Tarjeta'),
 (136,
  datetime.date(2024, 1, 6),
  'Andrés',
  'Delgado',
  'Rafael Herrera',
  'Tarjeta'),
 (137, datetime.date(2024, 1, 6), 'Diego', 'Reyes', 'Paula Ortiz', 'Tarjeta'),
 (138,
  datetime.date(2024, 1, 7),
  'Alicia',
  'Romero',
  'Elena Navarro',
  'Efectivo'),
 (139,
  datetime.date(2024, 1, 7),
  'Elena',
  'Santos',
  'Laura Delgado',
  'Tarjeta'),
 (140,
  datetime.date(2024, 1, 7),
  'Fernando',
  'Delgado',
  'Jorge Herrera',
  'Tarjeta'),
 (141,
  datetime.date(2024, 1, 7),
  'Amelia',
  'Rodríguez',
  'Olga Gil',
  'Tarjeta'),
 (142,
  datetime.date(2024, 1, 7),
  'Natalia',
  'Rodríguez',
  'Elena Rodríguez',
  'Efectivo'),
 (143,
  datetime.date(2024, 1, 7),
  'Álvaro',
  'Jiménez',
  'Antonio Delgado',
  'Tarjeta'),
 (144,
  datetime.date(2024, 1, 7),
  'Vera',
  'Romero',
  'Diego Cabrera',
  'Tarjeta'),
 (145, datetime.date(2024, 1, 7), 'Hugo', 'Reyes', 'Amelia Pérez', 'Tarjeta'),
 (146, datetime.date(2024, 1, 7), 'Manuel', 'Peña', 'Adriana Vega', 'Tarjeta'),
 (147, datetime.date(2024, 1, 7), 'Clara', 'García', 'Luis Ramos', 'Efectivo'),
 (148,
  datetime.date(2024, 1, 7),
  'Pedro',
  'Fuentes',
  'Gonzalo Ortega',
  'Efectivo'),
 (149,
  datetime.date(2024, 1, 7),
  'Enrique',
  'Serrano',
  'María Torres',
  'Tarjeta'),
 (150,
  datetime.date(2024, 1, 7),
  'Ricardo',
  'Ortiz',
  'Álvaro Vega',
  'Tarjeta'),
 (151,
  datetime.date(2024, 1, 7),
  'Álvaro',
  'Iglesias',
  'Patricia Reyes',
  'Tarjeta'),
 (152,
  datetime.date(2024, 1, 7),
  'Ricardo',
  'Díaz',
  'Adriana Vega',
  'Efectivo'),
 (153, datetime.date(2024, 1, 7), 'Diego', 'Torres', 'Olga Romero', 'Tarjeta'),
 (154, datetime.date(2024, 1, 7), 'Antonio', 'Pérez', 'José León', 'Efectivo'),
 (155,
  datetime.date(2024, 1, 7),
  'Luis',
  'Guerrero',
  'Noelia Ramírez',
  'Tarjeta'),
 (156,
  datetime.date(2024, 1, 7),
  'Álvaro',
  'Pérez',
  'Fernando Herrera',
  'Efectivo'),
 (157,
  datetime.date(2024, 1, 7),
  'Daniel',
  'Sánchez',
  'Isabel Campos',
  'Tarjeta'),
 (158,
  datetime.date(2024, 1, 7),
  'Gonzalo',
  'Cabrera',
  'Jorge Herrera',
  'Tarjeta'),
 (159,
  datetime.date(2024, 1, 7),
  'Sofía',
  'Álvarez',
  'Adriana Campos',
  'Efectivo'),
 (160,
  datetime.date(2024, 1, 7),
  'Jorge',
  'Castillo',
  'Gonzalo Rubio',
  'Tarjeta'),
 (161,
  datetime.date(2024, 1, 7),
  'Clara',
  'Navarro',
  'Paula Ortiz',
  'Tarjeta'),
 (162, datetime.date(2024, 1, 7), 'Ana', 'Cabrera', 'Irene Marín', 'Efectivo'),
 (163,
  datetime.date(2024, 1, 8),
  'Javier',
  'Ortiz',
  'Manuel Vázquez',
  'Efectivo'),
 (164, datetime.date(2024, 1, 8), 'Amelia', 'Gil', 'Eva Rodríguez', 'Tarjeta'),
 (165, datetime.date(2024, 1, 8), 'Julia', 'Ruiz', 'Álvaro Vega', 'Tarjeta'),
 (166,
  datetime.date(2024, 1, 8),
  'Amelia',
  'Medina',
  'José Martínez',
  'Tarjeta'),
 (167,
  datetime.date(2024, 1, 8),
  'Rafael',
  'Cabrera',
  'Isabel Serrano',
  'Tarjeta'),
 (168,
  datetime.date(2024, 1, 8),
  'Paula',
  'Ortega',
  'Paula Fernández',
  'Efectivo'),
 (169,
  datetime.date(2024, 1, 8),
  'Pedro',
  'Guerrero',
  'Adriana Vega',
  'Tarjeta'),
 (170, datetime.date(2024, 1, 8), 'Carmen', 'Cruz', 'Adriana Vega', 'Tarjeta'),
 (171,
  datetime.date(2024, 1, 8),
  'Adriana',
  'Sánchez',
  'Isabel Sánchez',
  'Efectivo'),
 (172,
  datetime.date(2024, 1, 8),
  'Rafael',
  'Reyes',
  'Fernando Romero',
  'Efectivo'),
 (173,
  datetime.date(2024, 1, 8),
  'José',
  'Martínez',
  'Paula Romero',
  'Tarjeta'),
 (174, datetime.date(2024, 1, 8), 'Luis', 'Pérez', 'Ana Molina', 'Tarjeta'),
 (175,
  datetime.date(2024, 1, 8),
  'Irene',
  'Fuentes',
  'Laura Castillo',
  'Tarjeta'),
 (176, datetime.date(2024, 1, 8), 'Julia', 'Ramos', 'Lucía Campos', 'Tarjeta'),
 (177,
  datetime.date(2024, 1, 8),
  'Javier',
  'Sánchez',
  'Carlos García',
  'Efectivo'),
 (178, datetime.date(2024, 1, 8), 'Ricardo', 'Rubio', 'Ana Peña', 'Tarjeta'),
 (179,
  datetime.date(2024, 1, 8),
  'Rocío',
  'Hernández',
  'Paula León',
  'Tarjeta'),
 (180,
  datetime.date(2024, 1, 8),
  'Luis',
  'Ortega',
  'José Martínez',
  'Tarjeta'),
 (181,
  datetime.date(2024, 1, 8),
  'Andrés',
  'Romero',
  'Julia Ortega',
  'Tarjeta'),
 (182,
  datetime.date(2024, 1, 8),
  'Natalia',
  'Hernández',
  'Álvaro Vega',
  'Tarjeta'),
 (183, datetime.date(2024, 1, 8), 'María', 'Díaz', 'Irene García', 'Tarjeta'),
 (184,
  datetime.date(2024, 1, 8),
  'Carmen',
  'Reyes',
  'Luis Molina',
  'Efectivo'),
 (185, datetime.date(2024, 1, 8), 'José', 'Delgado', 'José Ruiz', 'Tarjeta'),
 (186,
  datetime.date(2024, 1, 8),
  'Vera',
  'Jiménez',
  'Teresa Rodríguez',
  'Tarjeta'),
 (187,
  datetime.date(2024, 1, 8),
  'Pedro',
  'Peña',
  'Adriana Jiménez',
  'Tarjeta'),
 (188,
  datetime.date(2024, 1, 8),
  'Sara',
  'Delgado',
  'Alberto Navarro',
  'Efectivo'),
 (189,
  datetime.date(2024, 1, 8),
  'José',
  'Iglesias',
  'Laura Delgado',
  'Tarjeta'),
 (190,
  datetime.date(2024, 1, 8),
  'Roberto',
  'Ortiz',
  'Irene Marín',
  'Efectivo'),
 (191,
  datetime.date(2024, 1, 8),
  'Enrique',
  'Castillo',
  'Manuel Vázquez',
  'Tarjeta'),
 (192, datetime.date(2024, 1, 9), 'Clara', 'Pérez', 'Pablo Peña', 'Efectivo'),
 (193,
  datetime.date(2024, 1, 9),
  'Rocío',
  'Herrera',
  'Olga Carrasco',
  'Tarjeta'),
 (194,
  datetime.date(2024, 1, 9),
  'Lucía',
  'Santos',
  'Antonio León',
  'Tarjeta'),
 (195,
  datetime.date(2024, 1, 9),
  'Juan',
  'Marín',
  'Francisco Castillo',
  'Tarjeta'),
 (196,
  datetime.date(2024, 1, 9),
  'Patricia',
  'Pérez',
  'Teresa Campos',
  'Tarjeta'),
 (197,
  datetime.date(2024, 1, 9),
  'Alberto',
  'Rodríguez',
  'Ana Rubio',
  'Tarjeta'),
 (198,
  datetime.date(2024, 1, 9),
  'Noelia',
  'Calvo',
  'Noelia Ramírez',
  'Tarjeta'),
 (199, datetime.date(2024, 1, 9), 'Andrés', 'Peña', 'Antonio León', 'Tarjeta'),
 (200, datetime.date(2024, 1, 9), 'Ricardo', 'Molina', 'Ana Peña', 'Tarjeta'),
 (201,
  datetime.date(2024, 1, 9),
  'Noelia',
  'Castillo',
  'Alberto Navarro',
  'Efectivo'),
 (202, datetime.date(2024, 1, 9), 'Laura', 'Torres', 'Hugo Flores', 'Tarjeta'),
 (203, datetime.date(2024, 1, 9), 'Vera', 'Vega', 'Carlos Alonso', 'Efectivo'),
 (204,
  datetime.date(2024, 1, 9),
  'Alberto',
  'Fernández',
  'Laura Delgado',
  'Tarjeta'),
 (205, datetime.date(2024, 1, 9), 'Enrique', 'Ortiz', 'Ana Marín', 'Tarjeta'),
 (206,
  datetime.date(2024, 1, 9),
  'Elena',
  'Gil',
  'Elena Rodríguez',
  'Tarjeta'),
 (207,
  datetime.date(2024, 1, 9),
  'Álvaro',
  'Pérez',
  'Roberto Ortiz',
  'Tarjeta'),
 (208, datetime.date(2024, 1, 9), 'Ana', 'Navarro', 'José León', 'Tarjeta'),
 (209,
  datetime.date(2024, 1, 9),
  'Francisco',
  'Marín',
  'Vera Castro',
  'Efectivo'),
 (210, datetime.date(2024, 1, 9), 'Julia', 'Cruz', 'Ana Molina', 'Tarjeta'),
 (211,
  datetime.date(2024, 1, 10),
  'Sergio',
  'Gutiérrez',
  'Olga Carrasco',
  'Tarjeta'),
 (212,
  datetime.date(2024, 1, 10),
  'Antonio',
  'Pérez',
  'Ricardo Hernández',
  'Tarjeta'),
 (213,
  datetime.date(2024, 1, 10),
  'Amelia',
  'González',
  'Manuel Rubio',
  'Tarjeta'),
 (214,
  datetime.date(2024, 1, 10),
  'Antonio',
  'Molina',
  'Sofía Martínez',
  'Tarjeta'),
 (215,
  datetime.date(2024, 1, 10),
  'Clara',
  'Rubio',
  'Ricardo Medina',
  'Tarjeta'),
 (216,
  datetime.date(2024, 1, 10),
  'Diego',
  'Gutiérrez',
  'Adriana Campos',
  'Tarjeta'),
 (217,
  datetime.date(2024, 1, 10),
  'Irene',
  'León',
  'Rafael Herrera',
  'Tarjeta'),
 (218,
  datetime.date(2024, 1, 10),
  'Roberto',
  'Ortiz',
  'Teresa Alonso',
  'Tarjeta'),
 (219,
  datetime.date(2024, 1, 10),
  'Adriana',
  'Delgado',
  'Paula Ortega',
  'Tarjeta'),
 (220,
  datetime.date(2024, 1, 10),
  'Diego',
  'Martínez',
  'Alicia Ortiz',
  'Efectivo'),
 (221,
  datetime.date(2024, 1, 10),
  'María',
  'Jiménez',
  'Isabel Gutiérrez',
  'Tarjeta'),
 (222,
  datetime.date(2024, 1, 10),
  'Víctor',
  'Martínez',
  'Carmen Guerrero',
  'Tarjeta'),
 (223,
  datetime.date(2024, 1, 10),
  'Amelia',
  'Rodríguez',
  'Sofía García',
  'Tarjeta'),
 (224,

clientes

* id_cliente: valores enteros consecutivos (1, 2, 3...).
* nombre_cliente: nombres y apellidos ficticios (p. ej. “Carlos López”, “María Gil”).
* email: podrías generar correos ficticios (p. ej. “carlos.lopez@test.com”).
* telefono: número de 9 o 10 dígitos (dependiendo del país).
* direccion: calles y números ficticios (p. ej. “Av. Siempre Viva 742”).

En total: 2000.

In [28]:
# generar columna id_cliente
nombre_cliente, apellido_cliente, email, postal, cliente_completo = list(), list(), list(), list(), list()
calles = ("Av. Libertad", "Calle Mayor", "Paseo de la Reforma", "Calle Real", "Av. de la Constitución", "Calle del Sol", "Calle de la Luna", "Calle los Pinos", "Calle de la Paz", "Calle Olivo", "Calle Cedro", "Calle Nogal", "Av. de las Flores", "Paseo del Prado", "Calle del Río", "Av. Central", "Calle Primavera", "Calle Otoño", "Calle Invierno", "Calle Verano", "Calle Granada", "Calle Sevilla", "Calle Córdoba", "Calle Málaga", "Calle Valencia", "Calle Zaragoza", "Calle Alicante", "Av. de los Ángeles", "Calle del Carmen", "Calle San Miguel", "Calle San Juan", "Calle del Pilar", "Calle Santa Teresa", "Calle San Francisco", "Calle de la Sierra", "Calle del Mar", "Av. del Norte", "Av. del Sur", "Calle del Este", "Calle del Oeste", "Calle Diamante", "Calle Esmeralda", "Calle Rubí", "Calle Zafiro", "Calle Ámbar", "Calle Turquesa", "Calle Topacio", "Calle Perla", "Calle Horizonte", "Calle Amanecer")
for _ in range(2000):
    nom = random.choice(nombres)
    nombre_cliente.append(nom)
    ape = random.choice(apellidos)
    apellido_cliente.append(ape)
    email.append((f'{nom}.{ape}@suemail.com'))
    postal.append(random.randint(11000, 11900))
    
df_clientes = pd.DataFrame(zip(nombre_cliente, apellido_cliente, email, postal), columns=['first_name', 'last_name', 'email', 'codigo_postal']) 
df_clientes = df_clientes.reset_index().rename({'index': 'id_cliente'}, axis=1)
df_clientes['id_cliente'] = df_clientes['id_cliente'] + 1
df_clientes

,id_cliente,first_name,last_name,email,codigo_postal
0,1,Enrique,Reyes,Enrique.Reyes@suemail.com,11327
1,2,Rafael,Fuentes,Rafael.Fuentes@suemail.com,11684
2,3,Gonzalo,Muñoz,Gonzalo.Muñoz@suemail.com,11574
3,4,Alberto,Campos,Alberto.Campos@suemail.com,11642
4,5,Alberto,Díaz,Alberto.Díaz@suemail.com,11240
...,...,...,...,...,...
1995,1996,Carlos,Campos,Carlos.Campos@suemail.com,11600
1996,1997,Paula,Rubio,Paula.Rubio@suemail.com,11263
1997,1998,Carlos,Medina,Carlos.Medina@suemail.com,11545
1998,1999,Antonio,Gutiérrez,Antonio.Gutiérrez@suemail.com,11163
1999,2000,Antonio,Moreno,Antonio.Moreno@suemail.com,11068

In [29]:
insertar_dataframe(df_clientes, 'clientes')

2000

ordenes

* id_orden: valores enteros consecutivos (1, 2, 3...).
* id_cliente: haz referencia a los IDs existentes de la tabla clientes.
* id_empleado: haz referencia a los IDs existentes de la tabla empleados.
* fecha_orden: genera fechas aleatorias o secuenciales (p. ej. entre ‘2024-01-01’ y ‘2025-01-01’).
* metodo_pago: escoge entre {‘Tarjeta’, ‘Efectivo’}.

En total: 10000.

In [30]:
# generar columna id_orden
cliente, emplea, fecha, metodo = list(), list(), list(), list()
fechas = [datetime(year=2024, month=1, day=1) + timedelta(days=numero) for numero in range(395)]
for _ in range(10000):
    cliente.append(random.choice(df_clientes['id_cliente']))
    emplea.append(random.choice(df_empleados['id_empleado']))
    fecha.append(random.choice(fechas))
    metodo.append(random.choices(['Tarjeta', 'Efectivo'], weights=[0.65, 0.35])[0])

fecha.sort()
df_ordenes = pd.DataFrame(zip(cliente, emplea, fecha, metodo), columns=['id_cliente', 'id_empleado', 'fecha_orden', 'metodo_pago'])
df_ordenes.sort_values('fecha_orden', inplace=True)
df_ordenes = df_ordenes.reset_index().rename({'index': 'id_orden'}, axis=1)
df_ordenes['id_orden'] = df_ordenes['id_orden'] + 1
df_ordenes.sort_values('id_orden', inplace=True)
df_ordenes.head(50)

    id_orden  id_cliente  id_empleado fecha_orden metodo_pago
0          1         516           31  2024-01-01     Tarjeta
12         2         296           52  2024-01-01    Efectivo
16         3         327           69  2024-01-01     Tarjeta
14         4        1545          168  2024-01-01    Efectivo
15         5        1899          160  2024-01-01     Tarjeta
20         6        1255          178  2024-01-01     Tarjeta
17         7        1428            1  2024-01-01     Tarjeta
18         8         918           17  2024-01-01     Tarjeta
19         9          63           85  2024-01-01     Tarjeta
11        10        1827          104  2024-01-01     Tarjeta
13        11         543          104  2024-01-01    Efectivo
9         12        1410           94  2024-01-01     Tarjeta
8         13        1925           24  2024-01-01    Efectivo
7         14        1654          142  2024-01-01     Tarjeta
10        15        1286          144  2024-01-01     Tarjeta
6         16        1552           86  2024-01-01     Tarjeta
5         17        1985          109  2024-01-01     Tarjeta
4         18        1848          158  2024-01-01    Efectivo
3         19        1627          168  2024-01-01     Tarjeta
2         20        1868           74  2024-01-01     Tarjeta
1         21         973          104  2024-01-01     Tarjeta
36        22         186           74  2024-01-02    Efectivo
29        23        1330           70  2024-01-02     Tarjeta
35        24         967           58  2024-01-02    Efectivo
34        25         682           85  2024-01-02    Efectivo
33        26        1320          172  2024-01-02     Tarjeta
32        27        1144          149  2024-01-02     Tarjeta
31        28        1971          189  2024-01-02     Tarjeta
30        29         235          103  2024-01-02     Tarjeta
37        30         111           96  2024-01-02     Tarjeta
28        31         447          124  2024-01-02    Efectivo
21        32         333           52  2024-01-02     Tarjeta
27        33        1359           89  2024-01-02     Tarjeta
26        34        1267           27  2024-01-02     Tarjeta
25        35         393           40  2024-01-02     Tarjeta
24        36         287           65  2024-01-02    Efectivo
23        37         967          123  2024-01-02    Efectivo
22        38         403           38  2024-01-02    Efectivo
54        39         811           27  2024-01-03     Tarjeta
53        40         904           33  2024-01-03     Tarjeta
52        41         139          124  2024-01-03     Tarjeta
51        42        1137           25  2024-01-03    Efectivo
50        43         415           27  2024-01-03    Efectivo
49        44         226          146  2024-01-03     Tarjeta
48        45         588          169  2024-01-03     Tarjeta
47        46         670          164  2024-01-03     Tarjeta
46        47         226          159  2024-01-03     Tarjeta
45        48        1912          186  2024-01-03    Efectivo
38        49        1799          173  2024-01-03     Tarjeta
44        50         886           49  2024-01-03     Tarjeta

In [31]:
insertar_dataframe(df_ordenes, 'ordenes')

10000

detalle_orden

* id_detalle: valores enteros consecutivos (1, 2, 3...).
* id_orden: referencia al ID de alguna orden válida.
* id_producto: referencia al ID de algún producto válido.
* cantidad: valores entre 1 y 20, por ejemplo.
* precio_unitario: usar el mismo precio que está en la tabla productos o uno ligeramente distinto si quieres simular ofertas.
* descuento: valores DECIMAL bajos (p. ej. 0.00, 1.00, 2.50) o NULL.

En total: 30000.

In [44]:
orden_completa = list()
productos = df_productos['id_producto']
orden_20 = df_ordenes['id_orden']
for orden in df_ordenes['id_orden']:
    ordenes = orden
    producto = (int(random.choice(productos)))
    cant = random.randint(1, 20)
    valor = float(df_productos['precio'][df_productos['id_producto'] == producto].iloc[0])
    descuento = random.uniform(0, 0.25)
    orden_completa.append([ordenes, producto, cant, round(valor, 2), round(descuento, 2)])   
for orden in range(20000):
    ordenes = random.choice(orden_20)
    producto = (int(random.choice(productos)))
    cant = random.randint(1, 20)
    valor = float(df_productos['precio'][df_productos['id_producto'] == producto].iloc[0])
    descuento = random.uniform(0, 0.25)
    orden_completa.append([ordenes, producto, cant, round(valor,2), round(descuento, 2)])   
df_detalle_orden = pd.DataFrame(orden_completa, columns=['id_orden', 'id_producto', 'cantidad', 'precio_unitario', 'descuento'])
df_detalle_orden = df_detalle_orden.reset_index().rename({'index': 'id_detalle'}, axis=1)
df_detalle_orden['id_detalle'] = df_detalle_orden['id_detalle'] + 1
df_detalle_orden

       id_detalle  id_orden  id_producto  cantidad  precio_unitario  descuento
0               1         1           38         8            10.15       0.20
1               2         2           24         8             9.98       0.01
2               3         3           10         4             6.09       0.21
3               4         4            4         9             7.62       0.20
4               5         5           22        14            10.03       0.18
...           ...       ...          ...       ...              ...        ...
29995       29996      2078           14         5             4.17       0.16
29996       29997      8967           13         2             4.45       0.16
29997       29998      9838           31        14             2.00       0.12
29998       29999      5450           10         3             6.09       0.17
29999       30000      5558           27         5             2.69       0.14

[30000 rows x 6 columns]

In [48]:
insertar_dataframe(df_detalle_orden, 'detalle_orden')

30000

### 3. Consultas SQL (34%)

In [2]:
def consultas(sql):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="admin",
            database='supermercado'
        )
        cursor = connection.cursor()
        cursor.execute(sql)
        return cursor.fetchall()
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

1. Listado de órdenes con detalles de cliente y empleado
* Muestra el ID de la orden, la fecha, el nombre del cliente, el nombre del empleado que atendió la compra y el método de pago.
* Utiliza un JOIN entre las tablas ordenes, clientes y empleados.

In [54]:
sql = ('SELECT o.id_orden, o.fecha_orden, c.first_name, c.last_name, e.nombre_empleado, o.metodo_pago FROM ordenes o JOIN clientes c ON c.id_cliente = o.id_cliente JOIN empleados e ON e.id_empleado = o.id_empleado ORDER BY o.id_orden;') 
consultas(sql)

[(1, datetime.date(2024, 1, 1), 'Daniel', 'Moreno', 'Pablo León', 'Tarjeta'),
 (2,
  datetime.date(2024, 1, 1),
  'Amelia',
  'Álvarez',
  'Roberto Ortiz',
  'Efectivo'),
 (3,
  datetime.date(2024, 1, 1),
  'Eva',
  'Gutiérrez',
  'Fernando Romero',
  'Tarjeta'),
 (4,
  datetime.date(2024, 1, 1),
  'Luis',
  'Alonso',
  'María Rodríguez',
  'Efectivo'),
 (5,
  datetime.date(2024, 1, 1),
  'Teresa',
  'Delgado',
  'Juan Navarro',
  'Tarjeta'),
 (6,
  datetime.date(2024, 1, 1),
  'Francisco',
  'Cabrera',
  'Elena Navarro',
  'Tarjeta'),
 (7, datetime.date(2024, 1, 1), 'Luis', 'Herrera', 'Marta Vega', 'Tarjeta'),
 (8,
  datetime.date(2024, 1, 1),
  'Alicia',
  'León',
  'Ricardo Guerrero',
  'Tarjeta'),
 (9,
  datetime.date(2024, 1, 1),
  'Rafael',
  'Sánchez',
  'Andrés Marín',
  'Tarjeta'),
 (10, datetime.date(2024, 1, 1), 'Paula', 'Carrasco', 'Irene Peña', 'Tarjeta'),
 (11, datetime.date(2024, 1, 1), 'Juan', 'Peña', 'Irene Peña', 'Efectivo'),
 (12, datetime.date(2024, 1, 1), 'Rocío', 'Pérez', 'Carmen Reyes', 'Tarjeta'),
 (13,
  datetime.date(2024, 1, 1),
  'Juan',
  'García',
  'Alberto Marín',
  'Efectivo'),
 (14,
  datetime.date(2024, 1, 1),
  'Gonzalo',
  'Martínez',
  'Fernando Carrasco',
  'Tarjeta'),
 (15, datetime.date(2024, 1, 1), 'Jorge', 'Peña', 'Álvaro Sánchez', 'Tarjeta'),
 (16,
  datetime.date(2024, 1, 1),
  'Manuel',
  'Castro',
  'Patricia Rodríguez',
  'Tarjeta'),
 (17, datetime.date(2024, 1, 1), 'Sara', 'Rubio', 'Eva Iglesias', 'Tarjeta'),
 (18, datetime.date(2024, 1, 1), 'María', 'Gil', 'Pablo León', 'Efectivo'),
 (19,
  datetime.date(2024, 1, 1),
  'Daniel',
  'Herrera',
  'María Rodríguez',
  'Tarjeta'),
 (20, datetime.date(2024, 1, 1), 'Irene', 'Campos', 'Lucía Campos', 'Tarjeta'),
 (21, datetime.date(2024, 1, 1), 'Andrés', 'Rubio', 'Irene Peña', 'Tarjeta'),
 (22,
  datetime.date(2024, 1, 2),
  'Sofía',
  'Guerrero',
  'Lucía Campos',
  'Efectivo'),
 (23,
  datetime.date(2024, 1, 2),
  'Amelia',
  'Fernández',
  'Andrés Díaz',
  'Tarjeta'),
 (24,
  datetime.date(2024, 1, 2),
  'Irene',
  'Alonso',
  'Daniel Delgado',
  'Efectivo'),
 (25,
  datetime.date(2024, 1, 2),
  'Víctor',
  'Romero',
  'Andrés Marín',
  'Efectivo'),
 (26,
  datetime.date(2024, 1, 2),
  'Juan',
  'Rodríguez',
  'Jorge Cabrera',
  'Tarjeta'),
 (27,
  datetime.date(2024, 1, 2),
  'Manuel',
  'Cabrera',
  'Noelia Álvarez',
  'Tarjeta'),
 (28, datetime.date(2024, 1, 2), 'Vera', 'García', 'Álvaro León', 'Tarjeta'),
 (29,
  datetime.date(2024, 1, 2),
  'Sergio',
  'Serrano',
  'Patricia Navarro',
  'Tarjeta'),
 (30, datetime.date(2024, 1, 2), 'José', 'Ortiz', 'Marta Fuentes', 'Tarjeta'),
 (31,
  datetime.date(2024, 1, 2),
  'Natalia',
  'Castillo',
  'Rafael Herrera',
  'Efectivo'),
 (32,
  datetime.date(2024, 1, 2),
  'Andrés',
  'Romero',
  'Roberto Ortiz',
  'Tarjeta'),
 (33,
  datetime.date(2024, 1, 2),
  'Adriana',
  'Vázquez',
  'Laura Castillo',
  'Tarjeta'),
 (34, datetime.date(2024, 1, 2), 'Eva', 'Serrano', 'Rafael Torres', 'Tarjeta'),
 (35, datetime.date(2024, 1, 2), 'Daniel', 'Cruz', 'Jorge Herrera', 'Tarjeta'),
 (36,
  datetime.date(2024, 1, 2),
  'Carmen',
  'Hernández',
  'Alicia Ortiz',
  'Efectivo'),
 (37,
  datetime.date(2024, 1, 2),
  'Irene',
  'Alonso',
  'Fernando Herrera',
  'Efectivo'),
 (38,
  datetime.date(2024, 1, 2),
  'Alicia',
  'Cruz',
  'Jorge Martínez',
  'Efectivo'),
 (39, datetime.date(2024, 1, 3), 'Sofía', 'López', 'Rafael Torres', 'Tarjeta'),
 (40, datetime.date(2024, 1, 3), 'Luis', 'Pérez', 'Luis Cruz', 'Tarjeta'),
 (41,
  datetime.date(2024, 1, 3),
  'Teresa',
  'Alonso',
  'Rafael Herrera',
  'Tarjeta'),
 (42,
  datetime.date(2024, 1, 3),
  'Patricia',
  'Santos',
  'Fernando Vega',
  'Efectivo'),
 (43,
  datetime.date(2024, 1, 3),
  'Juan',
  'Serrano',
  'Rafael Torres',
  'Efectivo'),
 (44, datetime.date(2024, 1, 3), 'Julia', 'Jiménez', 'Pablo Ruiz', 'Tarjeta'),
 (45,
  datetime.date(2024, 1, 3),
  'María',
  'Campos',
  'Ricardo Domínguez',
  'Tarjeta'),
 (46, datetime.date(2024, 1, 3), 'Julia', 'Ramos', 'Manuel Vega', 'Tarjeta'),
 (47,
  datetime.date(2024, 1, 3),
  'Julia',
  'Jiménez',
  'Adriana Álvarez',
  'Tarjeta'),
 (48, datetime.date(2024, 1, 3), 'Alberto', 'Molina', 'José León', 'Efectivo'),
 (49,
  datetime.date(2024, 1, 3),
  'Clara',
  'Hernández',
  'Adriana Medina',
  'Tarjeta'),
 (50, datetime.date(2024, 1, 3), 'Daniel', 'González', 'Olga Gil', 'Tarjeta'),
 (51,
  datetime.date(2024, 1, 3),
  'Francisco',
  'Cruz',
  'José Guerrero',
  'Tarjeta'),
 (52, datetime.date(2024, 1, 3), 'Jorge', 'Campos', 'Eva Pérez', 'Tarjeta'),
 (53,
  datetime.date(2024, 1, 3),
  'Laura',
  'Jiménez',
  'Ricardo Medina',
  'Tarjeta'),
 (54,
  datetime.date(2024, 1, 3),
  'Pablo',
  'Calvo',
  'Diego Gutiérrez',
  'Tarjeta'),
 (55,
  datetime.date(2024, 1, 3),
  'Jorge',
  'Ramírez',
  'Alicia Rodríguez',
  'Efectivo'),
 (56, datetime.date(2024, 1, 4), 'Sofía', 'Peña', 'Álvaro León', 'Tarjeta'),
 (57,
  datetime.date(2024, 1, 4),
  'Carlos',
  'Ortega',
  'Diego Gutiérrez',
  'Tarjeta'),
 (58,
  datetime.date(2024, 1, 4),
  'Marta',
  'Castro',
  'Adriana Campos',
  'Efectivo'),
 (59,
  datetime.date(2024, 1, 4),
  'Noelia',
  'González',
  'Noelia Vega',
  'Efectivo'),
 (60, datetime.date(2024, 1, 4), 'Amelia', 'González', 'Ana Marín', 'Tarjeta'),
 (61,
  datetime.date(2024, 1, 4),
  'Pedro',
  'Romero',
  'Paula Molina',
  'Efectivo'),
 (62,
  datetime.date(2024, 1, 4),
  'Teresa',
  'Marín',
  'Sofía García',
  'Efectivo'),
 (63, datetime.date(2024, 1, 4), 'José', 'Ramos', 'Jorge Cabrera', 'Efectivo'),
 (64, datetime.date(2024, 1, 4), 'Andrés', 'Ramos', 'Julia Ortega', 'Tarjeta'),
 (65, datetime.date(2024, 1, 4), 'Natalia', 'López', 'Pablo León', 'Efectivo'),
 (66,
  datetime.date(2024, 1, 4),
  'Adriana',
  'Navarro',
  'Irene Sánchez',
  'Efectivo'),
 (67,
  datetime.date(2024, 1, 4),
  'Enrique',
  'Santos',
  'Daniel Álvarez',
  'Efectivo'),
 (68,
  datetime.date(2024, 1, 4),
  'Gonzalo',
  'Domínguez',
  'Alberto Navarro',
  'Efectivo'),
 (69,
  datetime.date(2024, 1, 4),
  'Carlos',
  'Castro',
  'Daniel López',
  'Efectivo'),
 (70,
  datetime.date(2024, 1, 4),
  'Lucía',
  'Ramos',
  'Amelia Delgado',
  'Efectivo'),
 (71,
  datetime.date(2024, 1, 4),
  'Elena',
  'Álvarez',
  'Gonzalo Rubio',
  'Tarjeta'),
 (72, datetime.date(2024, 1, 4), 'Carlos', 'Vega', 'Elena Navarro', 'Tarjeta'),
 (73,
  datetime.date(2024, 1, 4),
  'Clara',
  'Torres',
  'Laura Castillo',
  'Efectivo'),
 (74,
  datetime.date(2024, 1, 4),
  'Francisco',
  'Delgado',
  'Alicia Rodríguez',
  'Efectivo'),
 (75,
  datetime.date(2024, 1, 4),
  'Pedro',
  'Sánchez',
  'Sofía Castillo',
  'Tarjeta'),
 (76,
  datetime.date(2024, 1, 4),
  'Laura',
  'Pérez',
  'Carmen Martínez',
  'Efectivo'),
 (77,
  datetime.date(2024, 1, 4),
  'Noelia',
  'Cabrera',
  'Adriana Álvarez',
  'Tarjeta'),
 (78,
  datetime.date(2024, 1, 4),
  'Roberto',
  'Gil',
  'Alberto Santos',
  'Efectivo'),
 (79, datetime.date(2024, 1, 4), 'Carmen', 'Alonso', 'Julia Peña', 'Tarjeta'),
 (80,
  datetime.date(2024, 1, 4),
  'Roberto',
  'Cruz',
  'Daniel Molina',
  'Tarjeta'),
 (81,
  datetime.date(2024, 1, 4),
  'Andrés',
  'Fuentes',
  'Paula Molina',
  'Efectivo'),
 (82, datetime.date(2024, 1, 4), 'Luis', 'Ortiz', 'Laura Medina', 'Tarjeta'),
 (83,
  datetime.date(2024, 1, 4),
  'Javier',
  'Peña',
  'Rafael Herrera',
  'Tarjeta'),
 (84,
  datetime.date(2024, 1, 4),
  'Sofía',
  'Guerrero',
  'Daniel León',
  'Tarjeta'),
 (85,
  datetime.date(2024, 1, 5),
  'Amelia',
  'Fernández',
  'Amelia Hernández',
  'Efectivo'),
 (86,
  datetime.date(2024, 1, 5),
  'Adriana',
  'Moreno',
  'Olga Romero',
  'Tarjeta'),
 (87,
  datetime.date(2024, 1, 5),
  'Manuel',
  'Navarro',
  'Laura Delgado',
  'Efectivo'),
 (88, datetime.date(2024, 1, 5), 'Eva', 'Cabrera', 'Alicia Flores', 'Tarjeta'),
 (89, datetime.date(2024, 1, 5), 'Rocío', 'Muñoz', 'Lucía Campos', 'Tarjeta'),
 (90,
  datetime.date(2024, 1, 5),
  'Enrique',
  'Díaz',
  'Antonio Delgado',
  'Efectivo'),
 (91,
  datetime.date(2024, 1, 5),
  'Carmen',
  'Reyes',
  'Paula Flores',
  'Efectivo'),
 (92, datetime.date(2024, 1, 5), 'Paula', 'Torres', 'Carmen Reyes', 'Tarjeta'),
 (93, datetime.date(2024, 1, 5), 'Vera', 'Ramírez', 'Laura Medina', 'Tarjeta'),
 (94, datetime.date(2024, 1, 5), 'Hugo', 'Alonso', 'Sofía García', 'Tarjeta'),
 (95, datetime.date(2024, 1, 5), 'Pedro', 'Rubio', 'Pablo Peña', 'Efectivo'),
 (96,
  datetime.date(2024, 1, 5),
  'Patricia',
  'Campos',
  'Ricardo Guerrero',
  'Tarjeta'),
 (97,
  datetime.date(2024, 1, 5),
  'Isabel',
  'Castillo',
  'Andrés Marín',
  'Tarjeta'),
 (98,
  datetime.date(2024, 1, 5),
  'Adriana',
  'López',
  'Ricardo Domínguez',
  'Tarjeta'),
 (99,
  datetime.date(2024, 1, 5),
  'Álvaro',
  'Romero',
  'Noelia Castillo',
  'Efectivo'),
 (100,
  datetime.date(2024, 1, 5),
  'Víctor',
  'Cabrera',
  'Lucía Campos',
  'Tarjeta'),
 (101, datetime.date(2024, 1, 5), 'Isabel', 'Reyes', 'Amelia Ruiz', 'Tarjeta'),
 (102,
  datetime.date(2024, 1, 5),
  'Paula',
  'Vega',
  'Carmen Guerrero',
  'Efectivo'),
 (103,
  datetime.date(2024, 1, 5),
  'Amelia',
  'González',
  'Paula Molina',
  'Tarjeta'),
 (104,
  datetime.date(2024, 1, 5),
  'Eva',
  'Álvarez',
  'Pablo Cabrera',
  'Efectivo'),
 (105,
  datetime.date(2024, 1, 5),
  'Alberto',
  'Rodríguez',
  'Ricardo Domínguez',
  'Tarjeta'),
 (106,
  datetime.date(2024, 1, 6),
  'Álvaro',
  'Santos',
  'Francisco Castillo',
  'Tarjeta'),
 (107,
  datetime.date(2024, 1, 6),
  'Manuel',
  'Álvarez',
  'Clara Cabrera',
  'Tarjeta'),
 (108,
  datetime.date(2024, 1, 6),
  'Andrés',
  'Jiménez',
  'Alicia Rodríguez',
  'Tarjeta'),
 (109,
  datetime.date(2024, 1, 6),
  'Pablo',
  'Moreno',
  'Patricia Rodríguez',
  'Tarjeta'),
 (110, datetime.date(2024, 1, 6), 'María', 'Santos', 'Clara Calvo', 'Tarjeta'),
 (111, datetime.date(2024, 1, 6), 'Eva', 'Molina', 'Irene García', 'Efectivo'),
 (112,
  datetime.date(2024, 1, 6),
  'Teresa',
  'Guerrero',
  'Carlos Fernández',
  'Tarjeta'),
 (113,
  datetime.date(2024, 1, 6),
  'Fernando',
  'Alonso',
  'Juan Campos',
  'Tarjeta'),
 (114,
  datetime.date(2024, 1, 6),
  'Paula',
  'Molina',
  'Rocío Molina',
  'Tarjeta'),
 (115,
  datetime.date(2024, 1, 6),
  'Ricardo',
  'González',
  'Natalia Moreno',
  'Tarjeta'),
 (116,
  datetime.date(2024, 1, 6),
  'Isabel',
  'Delgado',
  'Olga Torres',
  'Tarjeta'),
 (117,
  datetime.date(2024, 1, 6),
  'Irene',
  'Alonso',
  'Clara Calvo',
  'Efectivo'),
 (118,
  datetime.date(2024, 1, 6),
  'Eva',
  'Guerrero',
  'Ricardo Guerrero',
  'Tarjeta'),
 (119,
  datetime.date(2024, 1, 6),
  'Elena',
  'Iglesias',
  'Diego Cabrera',
  'Tarjeta'),
 (120, datetime.date(2024, 1, 6), 'Vera', 'Jiménez', 'Rocío Marín', 'Tarjeta'),
 (121, datetime.date(2024, 1, 6), 'Sergio', 'Marín', 'Pablo León', 'Tarjeta'),
 (122,
  datetime.date(2024, 1, 6),
  'Adriana',
  'Martínez',
  'Daniel Fernández',
  'Tarjeta'),
 (123,
  datetime.date(2024, 1, 6),
  'Álvaro',
  'Ortega',
  'Andrés Marín',
  'Tarjeta'),
 (124,
  datetime.date(2024, 1, 6),
  'Irene',
  'Iglesias',
  'Eva Pérez',
  'Efectivo'),
 (125,
  datetime.date(2024, 1, 6),
  'Sergio',
  'Delgado',
  'Jorge Ramos',
  'Efectivo'),
 (126,
  datetime.date(2024, 1, 6),
  'Clara',
  'Moreno',
  'Diego Sánchez',
  'Tarjeta'),
 (127,
  datetime.date(2024, 1, 6),
  'Manuel',
  'Calvo',
  'Antonio Guerrero',
  'Tarjeta'),
 (128, datetime.date(2024, 1, 6), 'Paula', 'León', 'Andrés Marín', 'Efectivo'),
 (129, datetime.date(2024, 1, 6), 'Sara', 'Ramos', 'Daniel López', 'Tarjeta'),
 (130,
  datetime.date(2024, 1, 6),
  'Enrique',
  'González',
  'María Navarro',
  'Tarjeta'),
 (131,
  datetime.date(2024, 1, 6),
  'Julia',
  'Moreno',
  'Javier Navarro',
  'Tarjeta'),
 (132,
  datetime.date(2024, 1, 6),
  'Sofía',
  'Gutiérrez',
  'Alicia Rodríguez',
  'Tarjeta'),
 (133,
  datetime.date(2024, 1, 6),
  'Sergio',
  'García',
  'Teresa Campos',
  'Tarjeta'),
 (134, datetime.date(2024, 1, 6), 'Irene', 'Alonso', 'Manuel Vega', 'Tarjeta'),
 (135,
  datetime.date(2024, 1, 6),
  'Alicia',
  'Iglesias',
  'Fernando Romero',
  'Tarjeta'),
 (136,
  datetime.date(2024, 1, 6),
  'Andrés',
  'Delgado',
  'Rafael Herrera',
  'Tarjeta'),
 (137, datetime.date(2024, 1, 6), 'Diego', 'Reyes', 'Paula Ortiz', 'Tarjeta'),
 (138,
  datetime.date(2024, 1, 7),
  'Alicia',
  'Romero',
  'Elena Navarro',
  'Efectivo'),
 (139,
  datetime.date(2024, 1, 7),
  'Elena',
  'Santos',
  'Laura Delgado',
  'Tarjeta'),
 (140,
  datetime.date(2024, 1, 7),
  'Fernando',
  'Delgado',
  'Jorge Herrera',
  'Tarjeta'),
 (141,
  datetime.date(2024, 1, 7),
  'Amelia',
  'Rodríguez',
  'Olga Gil',
  'Tarjeta'),
 (142,
  datetime.date(2024, 1, 7),
  'Natalia',
  'Rodríguez',
  'Elena Rodríguez',
  'Efectivo'),
 (143,
  datetime.date(2024, 1, 7),
  'Álvaro',
  'Jiménez',
  'Antonio Delgado',
  'Tarjeta'),
 (144,
  datetime.date(2024, 1, 7),
  'Vera',
  'Romero',
  'Diego Cabrera',
  'Tarjeta'),
 (145, datetime.date(2024, 1, 7), 'Hugo', 'Reyes', 'Amelia Pérez', 'Tarjeta'),
 (146, datetime.date(2024, 1, 7), 'Manuel', 'Peña', 'Adriana Vega', 'Tarjeta'),
 (147, datetime.date(2024, 1, 7), 'Clara', 'García', 'Luis Ramos', 'Efectivo'),
 (148,
  datetime.date(2024, 1, 7),
  'Pedro',
  'Fuentes',
  'Gonzalo Ortega',
  'Efectivo'),
 (149,
  datetime.date(2024, 1, 7),
  'Enrique',
  'Serrano',
  'María Torres',
  'Tarjeta'),
 (150,
  datetime.date(2024, 1, 7),
  'Ricardo',
  'Ortiz',
  'Álvaro Vega',
  'Tarjeta'),
 (151,
  datetime.date(2024, 1, 7),
  'Álvaro',
  'Iglesias',
  'Patricia Reyes',
  'Tarjeta'),
 (152,
  datetime.date(2024, 1, 7),
  'Ricardo',
  'Díaz',
  'Adriana Vega',
  'Efectivo'),
 (153, datetime.date(2024, 1, 7), 'Diego', 'Torres', 'Olga Romero', 'Tarjeta'),
 (154, datetime.date(2024, 1, 7), 'Antonio', 'Pérez', 'José León', 'Efectivo'),
 (155,
  datetime.date(2024, 1, 7),
  'Luis',
  'Guerrero',
  'Noelia Ramírez',
  'Tarjeta'),
 (156,
  datetime.date(2024, 1, 7),
  'Álvaro',
  'Pérez',
  'Fernando Herrera',
  'Efectivo'),
 (157,
  datetime.date(2024, 1, 7),
  'Daniel',
  'Sánchez',
  'Isabel Campos',
  'Tarjeta'),
 (158,
  datetime.date(2024, 1, 7),
  'Gonzalo',
  'Cabrera',
  'Jorge Herrera',
  'Tarjeta'),
 (159,
  datetime.date(2024, 1, 7),
  'Sofía',
  'Álvarez',
  'Adriana Campos',
  'Efectivo'),
 (160,
  datetime.date(2024, 1, 7),
  'Jorge',
  'Castillo',
  'Gonzalo Rubio',
  'Tarjeta'),
 (161,
  datetime.date(2024, 1, 7),
  'Clara',
  'Navarro',
  'Paula Ortiz',
  'Tarjeta'),
 (162, datetime.date(2024, 1, 7), 'Ana', 'Cabrera', 'Irene Marín', 'Efectivo'),
 (163,
  datetime.date(2024, 1, 8),
  'Javier',
  'Ortiz',
  'Manuel Vázquez',
  'Efectivo'),
 (164, datetime.date(2024, 1, 8), 'Amelia', 'Gil', 'Eva Rodríguez', 'Tarjeta'),
 (165, datetime.date(2024, 1, 8), 'Julia', 'Ruiz', 'Álvaro Vega', 'Tarjeta'),
 (166,
  datetime.date(2024, 1, 8),
  'Amelia',
  'Medina',
  'José Martínez',
  'Tarjeta'),
 (167,
  datetime.date(2024, 1, 8),
  'Rafael',
  'Cabrera',
  'Isabel Serrano',
  'Tarjeta'),
 (168,
  datetime.date(2024, 1, 8),
  'Paula',
  'Ortega',
  'Paula Fernández',
  'Efectivo'),
 (169,
  datetime.date(2024, 1, 8),
  'Pedro',
  'Guerrero',
  'Adriana Vega',
  'Tarjeta'),
 (170, datetime.date(2024, 1, 8), 'Carmen', 'Cruz', 'Adriana Vega', 'Tarjeta'),
 (171,
  datetime.date(2024, 1, 8),
  'Adriana',
  'Sánchez',
  'Isabel Sánchez',
  'Efectivo'),
 (172,
  datetime.date(2024, 1, 8),
  'Rafael',
  'Reyes',
  'Fernando Romero',
  'Efectivo'),
 (173,
  datetime.date(2024, 1, 8),
  'José',
  'Martínez',
  'Paula Romero',
  'Tarjeta'),
 (174, datetime.date(2024, 1, 8), 'Luis', 'Pérez', 'Ana Molina', 'Tarjeta'),
 (175,
  datetime.date(2024, 1, 8),
  'Irene',
  'Fuentes',
  'Laura Castillo',
  'Tarjeta'),
 (176, datetime.date(2024, 1, 8), 'Julia', 'Ramos', 'Lucía Campos', 'Tarjeta'),
 (177,
  datetime.date(2024, 1, 8),
  'Javier',
  'Sánchez',
  'Carlos García',
  'Efectivo'),
 (178, datetime.date(2024, 1, 8), 'Ricardo', 'Rubio', 'Ana Peña', 'Tarjeta'),
 (179,
  datetime.date(2024, 1, 8),
  'Rocío',
  'Hernández',
  'Paula León',
  'Tarjeta'),
 (180,
  datetime.date(2024, 1, 8),
  'Luis',
  'Ortega',
  'José Martínez',
  'Tarjeta'),
 (181,
  datetime.date(2024, 1, 8),
  'Andrés',
  'Romero',
  'Julia Ortega',
  'Tarjeta'),
 (182,
  datetime.date(2024, 1, 8),
  'Natalia',
  'Hernández',
  'Álvaro Vega',
  'Tarjeta'),
 (183, datetime.date(2024, 1, 8), 'María', 'Díaz', 'Irene García', 'Tarjeta'),
 (184,
  datetime.date(2024, 1, 8),
  'Carmen',
  'Reyes',
  'Luis Molina',
  'Efectivo'),
 (185, datetime.date(2024, 1, 8), 'José', 'Delgado', 'José Ruiz', 'Tarjeta'),
 (186,
  datetime.date(2024, 1, 8),
  'Vera',
  'Jiménez',
  'Teresa Rodríguez',
  'Tarjeta'),
 (187,
  datetime.date(2024, 1, 8),
  'Pedro',
  'Peña',
  'Adriana Jiménez',
  'Tarjeta'),
 (188,
  datetime.date(2024, 1, 8),
  'Sara',
  'Delgado',
  'Alberto Navarro',
  'Efectivo'),
 (189,
  datetime.date(2024, 1, 8),
  'José',
  'Iglesias',
  'Laura Delgado',
  'Tarjeta'),
 (190,
  datetime.date(2024, 1, 8),
  'Roberto',
  'Ortiz',
  'Irene Marín',
  'Efectivo'),
 (191,
  datetime.date(2024, 1, 8),
  'Enrique',
  'Castillo',
  'Manuel Vázquez',
  'Tarjeta'),
 (192, datetime.date(2024, 1, 9), 'Clara', 'Pérez', 'Pablo Peña', 'Efectivo'),
 (193,
  datetime.date(2024, 1, 9),
  'Rocío',
  'Herrera',
  'Olga Carrasco',
  'Tarjeta'),
 (194,
  datetime.date(2024, 1, 9),
  'Lucía',
  'Santos',
  'Antonio León',
  'Tarjeta'),
 (195,
  datetime.date(2024, 1, 9),
  'Juan',
  'Marín',
  'Francisco Castillo',
  'Tarjeta'),
 (196,
  datetime.date(2024, 1, 9),
  'Patricia',
  'Pérez',
  'Teresa Campos',
  'Tarjeta'),
 (197,
  datetime.date(2024, 1, 9),
  'Alberto',
  'Rodríguez',
  'Ana Rubio',
  'Tarjeta'),
 (198,
  datetime.date(2024, 1, 9),
  'Noelia',
  'Calvo',
  'Noelia Ramírez',
  'Tarjeta'),
 (199, datetime.date(2024, 1, 9), 'Andrés', 'Peña', 'Antonio León', 'Tarjeta'),
 (200, datetime.date(2024, 1, 9), 'Ricardo', 'Molina', 'Ana Peña', 'Tarjeta'),
 (201,
  datetime.date(2024, 1, 9),
  'Noelia',
  'Castillo',
  'Alberto Navarro',
  'Efectivo'),
 (202, datetime.date(2024, 1, 9), 'Laura', 'Torres', 'Hugo Flores', 'Tarjeta'),
 (203, datetime.date(2024, 1, 9), 'Vera', 'Vega', 'Carlos Alonso', 'Efectivo'),
 (204,
  datetime.date(2024, 1, 9),
  'Alberto',
  'Fernández',
  'Laura Delgado',
  'Tarjeta'),
 (205, datetime.date(2024, 1, 9), 'Enrique', 'Ortiz', 'Ana Marín', 'Tarjeta'),
 (206,
  datetime.date(2024, 1, 9),
  'Elena',
  'Gil',
  'Elena Rodríguez',
  'Tarjeta'),
 (207,
  datetime.date(2024, 1, 9),
  'Álvaro',
  'Pérez',
  'Roberto Ortiz',
  'Tarjeta'),
 (208, datetime.date(2024, 1, 9), 'Ana', 'Navarro', 'José León', 'Tarjeta'),
 (209,
  datetime.date(2024, 1, 9),
  'Francisco',
  'Marín',
  'Vera Castro',
  'Efectivo'),
 (210, datetime.date(2024, 1, 9), 'Julia', 'Cruz', 'Ana Molina', 'Tarjeta'),
 (211,
  datetime.date(2024, 1, 10),
  'Sergio',
  'Gutiérrez',
  'Olga Carrasco',
  'Tarjeta'),
 (212,
  datetime.date(2024, 1, 10),
  'Antonio',
  'Pérez',
  'Ricardo Hernández',
  'Tarjeta'),
 (213,
  datetime.date(2024, 1, 10),
  'Amelia',
  'González',
  'Manuel Rubio',
  'Tarjeta'),
 (214,
  datetime.date(2024, 1, 10),
  'Antonio',
  'Molina',
  'Sofía Martínez',
  'Tarjeta'),
 (215,
  datetime.date(2024, 1, 10),
  'Clara',
  'Rubio',
  'Ricardo Medina',
  'Tarjeta'),
 (216,
  datetime.date(2024, 1, 10),
  'Diego',
  'Gutiérrez',
  'Adriana Campos',
  'Tarjeta'),
 (217,
  datetime.date(2024, 1, 10),
  'Irene',
  'León',
  'Rafael Herrera',
  'Tarjeta'),
 (218,
  datetime.date(2024, 1, 10),
  'Roberto',
  'Ortiz',
  'Teresa Alonso',
  'Tarjeta'),
 (219,
  datetime.date(2024, 1, 10),
  'Adriana',
  'Delgado',
  'Paula Ortega',
  'Tarjeta'),
 (220,
  datetime.date(2024, 1, 10),
  'Diego',
  'Martínez',
  'Alicia Ortiz',
  'Efectivo'),
 (221,
  datetime.date(2024, 1, 10),
  'María',
  'Jiménez',
  'Isabel Gutiérrez',
  'Tarjeta'),
 (222,
  datetime.date(2024, 1, 10),
  'Víctor',
  'Martínez',
  'Carmen Guerrero',
  'Tarjeta'),
 (223,
  datetime.date(2024, 1, 10),
  'Amelia',
  'Rodríguez',
  'Sofía García',
  'Tarjeta'),
 (224,

2. Productos con stock bajo
* Filtra aquellos productos cuyo stock sea menor a 10.
* Muestra nombre del producto, categoría y stock.

In [57]:
sql = ('SELECT p.nombre_producto, c.nombre_categoria, p.stock FROM productos p JOIN categorias c ON p.id_categoria = c.id_categoria WHERE p.stock < 10;')
consultas(sql)

[('Leche', 'Lácteos', 5), ('Pollo', 'Carnes', 3)]

3. Ventas totales por categoría
* Muestra el nombre de la categoría y la suma total de las ventas (ej.: multiplicando cantidad * precio_unitario) para cada categoría.
* Realiza el JOIN con detalle_orden, productos y categorias.
* Utiliza agrupación (GROUP BY).

In [60]:
sql = ('SELECT c.nombre_categoria as categoria, sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) as ventas FROM categorias c JOIN productos p ON p.id_categoria = c.id_categoria JOIN detalle_orden d ON d.id_producto = p.id_producto group by c.id_categoria;')
consultas(sql)

[('Lácteos', 222786.8467805956),
 ('Carnes', 227952.58592651726),
 ('Frutas', 180463.60064031807),
 ('Verduras', 131926.20125690647),
 ('Bebidas', 155266.5210544592),
 ('Snacks', 212508.6896167872),
 ('Hogar', 142622.52379586754),
 ('Limpieza', 152946.31741725263),
 ('Perfumería', 200431.42891535728),
 ('Jardín', 265155.9206756894)]

4. Clientes con mayores gastos acumulados
* Muestra el nombre del cliente y el monto total que ha gastado (suma de todas sus órdenes).
* Asegúrate de tener en cuenta posibles descuentos (descuento) si se ha definido. Por ejemplo, la fórmula podría ser (cantidad * precio_unitario) - descuento.
* Ordena el resultado de mayor a menor gasto acumulado.

In [61]:
sql = ('SELECT c.first_name as nombre, c.last_name as apellido, sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) as compras FROM clientes c JOIN ordenes o ON c.id_cliente = o.id_cliente JOIN detalle_orden d ON d.id_orden = o.id_orden GROUP BY c.id_cliente ORDER BY sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) DESC;')
consultas(sql)

[('Jorge', 'Medina', 3399.4966075198),
 ('Paula', 'Ortega', 3065.5386828252786),
 ('Juan', 'Ortiz', 2824.583774766333),
 ('Víctor', 'López', 2714.862792306479),
 ('Sofía', 'Romero', 2688.9731014507506),
 ('Carmen', 'Reyes', 2681.750100209991),
 ('Lucía', 'Torres', 2668.152602063397),
 ('Teresa', 'Muñoz', 2627.4556946976145),
 ('Patricia', 'Calvo', 2624.988489420392),
 ('Enrique', 'González', 2620.8942098096195),
 ('Carmen', 'Ramos', 2618.6293119574307),
 ('Hugo', 'Rubio', 2562.612102684313),
 ('Gonzalo', 'Ortiz', 2477.1237885781275),
 ('Alicia', 'Cruz', 2475.4800048678185),
 ('Laura', 'Torres', 2473.741782155109),
 ('Lucía', 'González', 2457.333695687029),
 ('María', 'Campos', 2455.842428905724),
 ('Ana', 'González', 2439.212589122278),
 ('Isabel', 'Delgado', 2418.2795894402357),
 ('Enrique', 'Ortiz', 2405.3692010923833),
 ('Carmen', 'Herrera', 2404.342807275218),
 ('Antonio', 'Medina', 2385.1146591942643),
 ('Gonzalo', 'López', 2371.4989829444926),
 ('Eva', 'Ortega', 2370.825291045804),
 ('Alicia', 'Rubio', 2329.5823721738375),
 ('Rocío', 'Herrera', 2305.6798022859584),
 ('Natalia', 'Peña', 2302.953294819221),
 ('Sofía', 'López', 2302.810382435872),
 ('Amelia', 'Muñoz', 2300.8936900270087),
 ('Diego', 'Martínez', 2295.510020786729),
 ('Luis', 'Guerrero', 2293.343681398492),
 ('Ricardo', 'Torres', 2287.111889316416),
 ('Daniel', 'Cruz', 2279.0028083966417),
 ('Adriana', 'Fernández', 2278.6085800274404),
 ('Andrés', 'Romero', 2277.650710090402),
 ('Paula', 'Delgado', 2276.0053072627943),
 ('Enrique', 'Fuentes', 2241.4250148593264),
 ('Andrés', 'Ramos', 2239.9237041650076),
 ('María', 'Sánchez', 2236.609280680452),
 ('Irene', 'Alonso', 2216.2016970842324),
 ('Fernando', 'Díaz', 2212.787872830807),
 ('Paula', 'Muñoz', 2195.434398710815),
 ('Andrés', 'Peña', 2186.576401277451),
 ('Clara', 'Torres', 2177.0222080888666),
 ('Antonio', 'Pérez', 2148.2722898236148),
 ('Manuel', 'Calvo', 2137.5273868738327),
 ('Enrique', 'Castro', 2135.4767005442263),
 ('Gonzalo', 'Cabrera', 2135.3281989558623),
 ('Sara', 'Ramos', 2131.2121955738285),
 ('Natalia', 'López', 2126.8238027359444),
 ('Lucía', 'Reyes', 2126.4040854754685),
 ('Pedro', 'Molina', 2114.7113039213687),
 ('Roberto', 'Calvo', 2106.3147985161136),
 ('Laura', 'Fernández', 2105.949479710229),
 ('Carlos', 'Flores', 2094.6036948509623),
 ('Hugo', 'Molina', 2092.375704433604),
 ('Rafael', 'González', 2071.545610362725),
 ('Teresa', 'Campos', 2069.484092747701),
 ('Pablo', 'Díaz', 2064.762603480832),
 ('Fernando', 'Díaz', 2063.776993020393),
 ('Noelia', 'García', 2060.930383803053),
 ('Alberto', 'Reyes', 2052.249183516967),
 ('Javier', 'Medina', 2049.8937015443025),
 ('Sergio', 'Reyes', 2047.7655886517152),
 ('Clara', 'González', 2045.2273124666742),
 ('Andrés', 'Peña', 2034.7940192330668),
 ('Eva', 'Marín', 2023.7112131317626),
 ('Marta', 'Cruz', 2022.908884260884),
 ('Rocío', 'Hernández', 2015.0875733443138),
 ('Marta', 'Peña', 2011.9531936317896),
 ('Francisco', 'Ramírez', 2011.5808199951427),
 ('Irene', 'Castro', 2010.7533073271256),
 ('Sara', 'García', 2009.8852825277977),
 ('Marta', 'Rodríguez', 2004.3420955901313),
 ('Pedro', 'Ramos', 2003.2879963371604),
 ('Alicia', 'Muñoz', 1992.568695967673),
 ('Patricia', 'Vega', 1988.8942012869),
 ('Carmen', 'Cabrera', 1987.3389974339902),
 ('Daniel', 'Gil', 1986.2504218831568),
 ('Carlos', 'Serrano', 1983.4631779246251),
 ('Laura', 'García', 1982.7909954897837),
 ('Pedro', 'Serrano', 1981.7578914628834),
 ('Alberto', 'Molina', 1980.8232988806262),
 ('Gonzalo', 'Iglesias', 1979.7124884448945),
 ('Juan', 'Álvarez', 1975.8364767112807),
 ('Manuel', 'Moreno', 1972.16578661332),
 ('Noelia', 'Iglesias', 1966.7092903953758),
 ('Roberto', 'Cruz', 1962.1903890117915),
 ('Marta', 'Castro', 1957.3656196654454),
 ('Sofía', 'López', 1956.4323760449163),
 ('Manuel', 'Alonso', 1954.4564712865506),
 ('Francisco', 'Iglesias', 1947.1248898293286),
 ('Alberto', 'Ramos', 1945.9147102158959),
 ('Adriana', 'Gutiérrez', 1944.6009235178292),
 ('Sergio', 'Castro', 1931.1341873583374),
 ('Alicia', 'Castro', 1930.9303857106627),
 ('María', 'Iglesias', 1926.1260977005336),
 ('Gonzalo', 'Fuentes', 1921.6423974569166),
 ('Andrés', 'Campos', 1915.520397245875),
 ('Alberto', 'Ramos', 1910.2515973634845),
 ('Víctor', 'Romero', 1906.5157931991118),
 ('María', 'Navarro', 1905.9599971186933),
 ('Teresa', 'López', 1905.1074802296982),
 ('Antonio', 'Pérez', 1890.0653860929708),
 ('Juan', 'Marín', 1887.719381688307),
 ('Patricia', 'Calvo', 1887.0702838627924),
 ('Gonzalo', 'Gil', 1885.0853105411234),
 ('Alberto', 'Calvo', 1879.9328003258563),
 ('Carlos', 'Castillo', 1874.013480874352),
 ('Enrique', 'Rodríguez', 1868.2988824252475),
 ('Alicia', 'Romero', 1863.5979777424106),
 ('Lucía', 'Flores', 1861.8680928294784),
 ('Amelia', 'Rodríguez', 1857.984189608264),
 ('Antonio', 'Romero', 1852.6065027570207),
 ('Eva', 'Molina', 1848.816784624715),
 ('Pablo', 'Delgado', 1844.9390040762949),
 ('Isabel', 'Álvarez', 1843.8015953497784),
 ('Hugo', 'Fernández', 1842.8917778162065),
 ('Juan', 'Delgado', 1835.783167646344),
 ('Julia', 'Vega', 1835.6819134990074),
 ('Enrique', 'Cabrera', 1835.654214582312),
 ('Jorge', 'Campos', 1830.2897157324733),
 ('Patricia', 'Molina', 1827.9352875213256),
 ('Manuel', 'Vázquez', 1824.6956795842602),
 ('Rafael', 'Cabrera', 1824.2505166090352),
 ('Laura', 'Fernández', 1822.0801078649404),
 ('Daniel', 'Moreno', 1812.2554939319266),
 ('Natalia', 'Moreno', 1811.833612892752),
 ('Alicia', 'Torres', 1810.643985126395),
 ('Diego', 'León', 1810.4586160998545),
 ('Francisco', 'Serrano', 1810.3711730491104),
 ('Daniel', 'Muñoz', 1809.2850122866223),
 ('Adriana', 'Muñoz', 1802.9495033311032),
 ('Natalia', 'Cabrera', 1800.2734867460247),
 ('Isabel', 'Reyes', 1787.9044073498383),
 ('Patricia', 'Castillo', 1785.7464988981035),
 ('Hugo', 'Calvo', 1783.0508940426062),
 ('Natalia', 'Castillo', 1781.2662192938583),
 ('Manuel', 'Herrera', 1778.9201859024124),
 ('Patricia', 'Navarro', 1769.1349020814732),
 ('Jorge', 'Castillo', 1767.1429942060706),
 ('Víctor', 'Torres', 1766.8001998220523),
 ('Ricardo', 'Torres', 1763.569593436727),
 ('Víctor', 'González', 1763.2027050838572),
 ('Sofía', 'Fernández', 1761.541385953917),
 ('Marta', 'González', 1759.926111169917),
 ('Teresa', 'Reyes', 1757.5543827933952),
 ('Roberto', 'Carrasco', 1756.6807026976935),
 ('Francisco', 'Delgado', 1751.7971913228434),
 ('José', 'Pérez', 1751.2015762272122),
 ('Alberto', 'Díaz', 1747.9816994814196),
 ('Manuel', 'Peña', 1746.6405873430385),
 ('Carlos', 'Pérez', 1745.4380807011255),
 ('Gonzalo', 'Ruiz', 1744.9619115561006),
 ('Irene', 'León', 1738.6897090824573),
 ('Lucía', 'Molina', 1737.5849690375103),
 ('Carmen', 'Reyes', 1736.8213773512714),
 ('Luis', 'Romero', 1735.8679077169952),
 ('Ricardo', 'Flores', 1735.8478146876696),
 ('Vera', 'Herrera', 1733.8929825409575),
 ('Sofía', 'Navarro', 1730.9348951191662),
 ('Alicia', 'López', 1727.873188476435),
 ('Teresa', 'Alonso', 1727.3671001337184),
 ('Jorge', 'García', 1721.5884903302003),
 ('Francisco', 'Herrera', 1721.5350009205192),
 ('Natalia', 'Gil', 1715.4388645394206),
 ('Elena', 'Gil', 1710.5027029878602),
 ('Laura', 'Peña', 1707.0509899818296),
 ('Clara', 'Muñoz', 1704.864182936679),
 ('Manuel', 'López', 1703.986492661819),
 ('Patricia', 'Hernández', 1699.7671986927344),
 ('Sara', 'Delgado', 1699.7432046097733),
 ('Amelia', 'Fernández', 1699.4026993796563),
 ('Daniel', 'Sánchez', 1695.9018947667391),
 ('Teresa', 'Vázquez', 1694.2321920880745),
 ('Carlos', 'Herrera', 1693.4847022382048),
 ('Ricardo', 'Rubio', 1693.0458920830847),
 ('Ricardo', 'Ortiz', 1692.1435797013658),
 ('Sofía', 'Sánchez', 1687.3699941911548),
 ('Patricia', 'Hernández', 1686.1389912466561),
 ('Natalia', 'Cruz', 1679.578572639072),
 ('Laura', 'Flores', 1679.576103950286),
 ('Isabel', 'Álvarez', 1677.839591645347),
 ('Antonio', 'Marín', 1670.1928109964474),
 ('Ana', 'Iglesias', 1670.1866788839911),
 ('Hugo', 'Navarro', 1663.5629896475828),
 ('Jorge', 'Ramírez', 1659.5889931176825),
 ('Irene', 'Sánchez', 1658.1383741439122),
 ('Roberto', 'Jiménez', 1657.3520947994753),
 ('Manuel', 'Peña', 1657.1208805049566),
 ('Luis', 'Ortega', 1655.6923877378758),
 ('Andrés', 'Delgado', 1654.1976116565781),
 ('Isabel', 'Guerrero', 1651.9374856653626),
 ('Alicia', 'Cabrera', 1650.2475841427383),
 ('Antonio', 'Carrasco', 1647.9678872168342),
 ('Roberto', 'Gil', 1647.8759175362047),
 ('Irene', 'Iglesias', 1646.4770993518548),
 ('Eva', 'Reyes', 1645.7001986893038),
 ('Rafael', 'Navarro', 1643.9626723491358),
 ('Sofía', 'Marín', 1643.4381872198944),
 ('Pablo', 'Medina', 1638.5589942014067),
 ('Teresa', 'Romero', 1632.892791456331),
 ('Alberto', 'Castro', 1632.629706429883),
 ('Olga', 'Díaz', 1630.2760110920822),
 ('Eva', 'Moreno', 1629.3870067705882),
 ('Roberto', 'Domínguez', 1624.8837894876938),
 ('Fernando', 'Carrasco', 1623.8169949717371),
 ('Amelia', 'Vázquez', 1622.4214136816618),
 ('Clara', 'Moreno', 1620.3576984048589),
 ('Luis', 'García', 1619.2074915732815),
 ('Vera', 'López', 1617.0755674134432),
 ('Sergio', 'García', 1616.406504874904),
 ('Teresa', 'Alonso', 1615.7863988438494),
 ('Patricia', 'Campos', 1615.0911757786864),
 ('Paula', 'Hernández', 1614.5445939281299),
 ('José', 'Peña', 1614.5380002673044),
 ('Andrés', 'Ramos', 1612.5715094275993),
 ('Pablo', 'Calvo', 1605.9671142100817),
 ('Laura', 'García', 1605.8990168164526),
 ('Sara', 'Ramos', 1602.5040773953137),
 ('Hugo', 'Fuentes', 1597.5450986711473),
 ('Jorge', 'Marín', 1596.3724030136523),
 ('Luis', 'Herrera', 1595.8552997700615),
 ('Rafael', 'Álvarez', 1595.54338699296),
 ('Hugo', 'Gutiérrez', 1595.1535831549515),
 ('Vera', 'Gutiérrez', 1594.8048936993837),
 ('Adriana', 'Martínez', 1594.6957056685935),
 ('Álvaro', 'Serrano', 1589.2538015477253),
 ('Alicia', 'Moreno', 1585.0217042912907),
 ('Isabel', 'Castillo', 1582.6875952298733),
 ('José', 'Fernández', 1581.9301939482946),
 ('Alberto', 'Álvarez', 1579.605296716739),
 ('Manuel', 'Muñoz', 1577.5958985931038),
 ('Andrés', 'Jiménez', 1577.2578842312755),
 ('Pedro', 'González', 1575.8774747169205),
 ('Ana', 'Rodríguez', 1571.128703312884),
 ('Javier', 'Serrano', 1570.0265812322884),
 ('Pablo', 'Moreno', 1567.0223123881456),
 ('Alicia', 'Fernández', 1565.972479128595),
 ('José', 'Guerrero', 1564.7063104800404),
 ('Isabel', 'Hernández', 1563.61818058424),
 ('Víctor', 'Martínez', 1563.400417403216),
 ('Francisco', 'Ortega', 1563.3774925565906),
 ('Amelia', 'González', 1563.0327831979216),
 ('Carmen', 'Alonso', 1562.8323824831307),
 ('Pedro', 'Torres', 1562.8114714643955),
 ('Irene', 'Delgado', 1561.631285218065),
 ('Teresa', 'León', 1559.6191916305381),
 ('Hugo', 'Romero', 1558.7635862541883),
 ('Gonzalo', 'Guerrero', 1558.7482878367798),
 ('Manuel', 'Cabrera', 1556.2560910383554),
 ('Marta', 'Guerrero', 1555.052496383134),
 ('Francisco', 'Marín', 1554.7650888931357),
 ('Gonzalo', 'Pérez', 1550.5247197342915),
 ('Sergio', 'Navarro', 1550.1166869872243),
 ('José', 'Delgado', 1547.9247888118261),
 ('Diego', 'Ramos', 1546.8629997260573),
 ('Julia', 'Rodríguez', 1544.9175119458882),
 ('Paula', 'Serrano', 1543.4791895178698),
 ('Ricardo', 'Guerrero', 1541.1886933843152),
 ('Antonio', 'Moreno', 1541.0493900774559),
 ('Amelia', 'Herrera', 1538.7593907315047),
 ('Manuel', 'Castro', 1537.4717879431107),
 ('Olga', 'Serrano', 1537.3728969621193),
 ('Clara', 'Hernández', 1535.3712980594387),
 ('Alicia', 'García', 1533.711813351546),
 ('Juan', 'García', 1532.547989581384),
 ('Irene', 'Guerrero', 1530.0859908872246),
 ('Gonzalo', 'Gil', 1528.2773827236729),
 ('Clara', 'Rubio', 1523.5106992870967),
 ('Noelia', 'Marín', 1523.0318155905948),
 ('Diego', 'Moreno', 1522.0081918193991),
 ('Sofía', 'Ruiz', 1521.9565866215917),
 ('Juan', 'Sánchez', 1521.345301042099),
 ('Hugo', 'León', 1517.6106977255304),
 ('José', 'Castillo', 1516.0458923703602),
 ('Francisco', 'Alonso', 1514.2064801107945),
 ('Andrés', 'Serrano', 1512.605002703201),
 ('Rocío', 'Vázquez', 1511.953992268279),
 ('Javier', 'Hernández', 1510.6910983386758),
 ('Teresa', 'Medina', 1510.0189907334784),
 ('Luis', 'Molina', 1508.1984032971584),
 ('Olga', 'López', 1507.829494298801),
 ('Patricia', 'Peña', 1507.605495454453),
 ('Eva', 'García', 1505.647406147646),
 ('Antonio', 'Pérez', 1503.762103065671),
 ('Roberto', 'Castro', 1503.4819945926704),
 ('Andrés', 'Jiménez', 1503.2352066433566),
 ('Alicia', 'Cruz', 1503.1800989245041),
 ('Rocío', 'Muñoz', 1502.0791006642037),
 ('Adriana', 'Hernández', 1501.530617972189),
 ('Luis', 'Moreno', 1501.390872641204),
 ('Jorge', 'Molina', 1498.094299781394),
 ('Rocío', 'Medina', 1497.8568066147873),
 ('Víctor', 'Romero', 1497.3891975113),
 ('Eva', 'Peña', 1496.5645062373876),
 ('Diego', 'Torres', 1496.1554058804834),
 ('Luis', 'Romero', 1495.219591402942),
 ('Juan', 'Peña', 1494.0726940703719),
 ('Sara', 'Peña', 1493.2091029317694),
 ('Clara', 'Torres', 1493.0179772972765),
 ('Laura', 'Martínez', 1490.1886167008556),
 ('Paula', 'Molina', 1490.1443949898096),
 ('Ana', 'Ortega', 1487.896402413963),
 ('Patricia', 'Vega', 1487.5656959404082),
 ('Diego', 'Santos', 1487.3693181039175),
 ('Teresa', 'Ortiz', 1485.101691912002),
 ('Hugo', 'López', 1483.1805886687953),
 ('Carlos', 'Ramírez', 1480.4248063837408),
 ('Gonzalo', 'Romero', 1477.4300926312412),
 ('Carlos', 'Castro', 1477.1105031189957),
 ('Pablo', 'Iglesias', 1476.2698982983663),
 ('Jorge', 'Alonso', 1475.8877009694609),
 ('María', 'Ramos', 1474.774212305601),
 ('Alberto', 'Moreno', 1473.8117848725212),
 ('Julia', 'Carrasco', 1473.7962796792467),
 ('Sofía', 'Reyes', 1472.3337866319239),
 ('José', 'Iglesias', 1468.4877963231063),
 ('Teresa', 'Martínez', 1467.645598794916),
 ('Rocío', 'Guerrero', 1466.5451001742274),
 ('Clara', 'Hernández', 1465.9756008855677),
 ('Sara', 'Rubio', 1462.7419980588852),
 ('Víctor', 'Campos', 1462.6962848018009),
 ('Natalia', 'Gutiérrez', 1462.2396877587469),
 ('Pablo', 'Sánchez', 1461.110792520103),
 ('Juan', 'González', 1458.9724829936586),
 ('Marta', 'Iglesias', 1458.283616187343),
 ('Sergio', 'Serrano', 1457.887103360416),
 ('Víctor', 'Fernández', 1457.6476047319898),
 ('Juan', 'Alonso', 1455.8209111426568),
 ('Ana', 'López', 1455.1481944887369),
 ('Javier', 'Álvarez', 1452.2184933344054),
 ('Carlos', 'Iglesias', 1450.8551073402894),
 ('Hugo', 'Cabrera', 1450.3097918647202),
 ('Laura', 'Pérez', 1448.6689986871409),
 ('Alberto', 'Carrasco', 1443.3758060831215),
 ('Antonio', 'Gutiérrez', 1441.0122807320997),
 ('Marta', 'Alonso', 1440.8731877672699),
 ('Marta', 'Cruz', 1436.606191135022),
 ('Pablo', 'Reyes', 1434.2740804181824),
 ('Rafael', 'Navarro', 1434.2062939149594),
 ('Laura', 'Jiménez', 1434.0808954752592),
 ('Noelia', 'Ramírez', 1434.0526960759564),
 ('Clara', 'Rodríguez', 1432.464317609069),
 ('Pedro', 'Molina', 1431.0496163169382),
 ('Francisco', 'Fernández', 1430.641998219948),
 ('Manuel', 'Castro', 1429.6419891419928),
 ('Roberto', 'Flores', 1429.2044745806531),
 ('Ana', 'Navarro', 1429.133404322824),
 ('Irene', 'Cabrera', 1425.8450034963523),
 ('Víctor', 'Santos', 1424.896924150376),
 ('Álvaro', 'Ramos', 1424.5903807869465),
 ('Sergio', 'Castillo', 1424.4609942672175),
 ('Manuel', 'Rubio', 1424.003004917733),
 ('Rocío', 'Navarro', 1422.0410061535392),
 ('Amelia', 'González', 1421.983086272874),
 ('Elena', 'Molina', 1421.8232888642146),
 ('Marta', 'Ortega', 1421.0760010720755),
 ('Andrés', 'Castillo', 1418.5172122919628),
 ('Jorge', 'Álvarez', 1418.2008796154132),
 ('Fernando', 'Alonso', 1416.7610112444272),
 ('Adriana', 'Martínez', 1415.8866925330265),
 ('Natalia', 'López', 1415.189472858377),
 ('Patricia', 'López', 1414.6589997307435),
 ('Javier', 'Delgado', 1413.2870973274203),
 ('Teresa', 'Muñoz', 1411.7152961489492),
 ('Roberto', 'Flores', 1410.8348799720427),
 ('Elena', 'Campos', 1410.4267070055935),
 ('Roberto', 'Ortiz', 1405.5108007791275),
 ('Ana', 'Delgado', 1403.8876965452685),
 ('Gonzalo', 'Molina', 1403.7010229485631),
 ('Lucía', 'González', 1402.2250654636484),
 ('Rocío', 'Rodríguez', 1401.8895006298198),
 ('José', 'Medina', 1401.102985778365),
 ('Ana', 'Sánchez', 1401.0221946342915),
 ('Teresa', 'Iglesias', 1399.079094256369),
 ('Ana', 'Ramos', 1398.5937093658479),
 ('Isabel', 'Guerrero', 1397.5105828272606),
 ('Elena', 'León', 1397.114384533888),
 ('Patricia', 'García', 1395.5203877023891),
 ('Rocío', 'Gutiérrez', 1394.7721202133685),
 ('Marta', 'Delgado', 1388.5017968688503),
 ('José', 'Castro', 1387.7719049684092),
 ('Patricia', 'Flores', 1384.071887349723),
 ('Ricardo', 'Martínez', 1383.2633961560186),
 ('Adriana', 'Medina', 1382.7511936443032),
 ('Javier', 'Ortiz', 1379.8234847551735),
 ('Noelia', 'Ruiz', 1378.1217850688256),
 ('Álvaro', 'Domínguez', 1375.8586829675655),
 ('Marta', 'Reyes', 1375.5599088434894),
 ('Olga', 'Carrasco', 1372.1486872522823),
 ('Amelia', 'Reyes', 1371.805496662788),
 ('Pedro', 'Santos', 1371.3301079431712),
 ('María', 'Díaz', 1370.9868921439481),
 ('Pablo', 'Molina', 1370.8495883778571),
 ('Fernando', 'Vázquez', 1369.628203637715),
 ('Víctor', 'Castro', 1369.5951204257067),
 ('Andrés', 'Campos', 1369.093474414066),
 ('Víctor', 'Calvo', 1368.9676915303573),
 ('Carlos', 'Ramírez', 1368.9146958456258),
 ('Sara', 'Vega', 1366.53837934004),
 ('Clara', 'Fernández', 1366.2510057667978),
 ('María', 'Ruiz', 1366.0612003040792),
 ('Ana', 'Ramos', 1363.8833818733306),
 ('Jorge', 'Reyes', 1362.1778898037883),
 ('Alicia', 'Castillo', 1361.6867987351275),
 ('Marta', 'López', 1360.712515055649),
 ('Álvaro', 'Gutiérrez', 1358.9502822475624),
 ('Luis', 'Ortiz', 1356.8744917752515),
 ('Juan', 'Moreno', 1356.7953127372011),
 ('Amelia', 'González', 1356.1656986553253),
 ('Antonio', 'Martínez', 1355.559198857806),
 ('Elena', 'Guerrero', 1354.6685169855282),
 ('Jorge', 'Gutiérrez', 1354.648000334546),
 ('Jorge', 'Gutiérrez', 1354.2416022368532),
 ('Alberto', 'Alonso', 1352.4656174423967),
 ('Elena', 'León', 1351.5284927264383),
 ('Pedro', 'Rubio', 1351.3811102611512),
 ('Alberto', 'Vázquez', 1351.337894229135),
 ('Sara', 'Alonso', 1346.3432040850105),
 ('Clara', 'Peña', 1345.6532993957965),
 ('Rocío', 'Serrano', 1342.3499940701015),
 ('Julia', 'Herrera', 1341.9467208368885),
 ('Adriana', 'Molina', 1339.258899364701),
 ('Sofía', 'Serrano', 1339.0720970333082),
 ('Manuel', 'Vega', 1338.8303985841853),
 ('José', 'González', 1338.4740987155599),
 ('Amelia', 'Ruiz', 1335.0500868979075),
 ('Teresa', 'Marín', 1335.0476861821255),
 ('Isabel', 'Serrano', 1333.2354984556773),
 ('Daniel', 'González', 1332.3018958751802),
 ('Patricia', 'Alonso', 1331.064680010329),
 ('Sofía', 'Hernández', 1329.871797314581),
 ('Manuel', 'Castro', 1326.97980453026),
 ('Elena', 'Santos', 1326.57579313038),
 ('Daniel', 'Flores', 1325.7802875138566),
 ('José', 'Iglesias', 1324.3845938132417),
 ('Vera', 'Santos', 1322.492998818725),
 ('Adriana', 'Vázquez', 1322.0540900930778),
 ('María', 'Sánchez', 1321.8525797861978),
 ('Jorge', 'Alonso', 1320.7235959495545),
 ('Eva', 'Guerrero', 1320.4656086390703),
 ('Roberto', 'Santos', 1320.0479885816649),
 ('Sofía', 'Iglesias', 1318.7422999980342),
 ('Rafael', 'Vega', 1318.6886060302272),
 ('Natalia', 'Rodríguez', 1317.7456916972649),
 ('Antonio', 'Ramos', 1315.5970886292585),
 ('Antonio', 'Navarro', 1312.9557057551326),
 ('Pedro', 'Gil', 1312.7547960304514),
 ('Gonzalo', 'Calvo', 1311.376306317177),
 ('Hugo', 'Reyes', 1310.8443093674416),
 ('Enrique', 'Alonso', 1305.996983084671),
 ('Hugo', 'Castro', 1305.5445913296285),
 ('Patricia', 'Santos', 1302.0007891569112),
 ('Adriana', 'Cabrera', 1300.7335991448103),
 ('Daniel', 'Moreno', 1298.6227728999156),
 ('Roberto', 'Campos', 1298.4765011019113),
 ('Roberto', 'Domínguez', 1298.2278885562255),
 ('María', 'Jiménez', 1294.8296044809463),
 ('Manuel', 'Alonso', 1294.7102914613047),
 ('Ricardo', 'Fuentes', 1294.3471949123843),
 ('Lucía', 'Cruz', 1292.9761986461385),
 ('Marta', 'Díaz', 1292.540111769808),
 ('Carlos', 'Rubio', 1291.8793002254113),
 ('Pedro', 'Díaz', 1291.0571888461218),
 ('Manuel', 'Álvarez', 1290.819986113198),
 ('Alicia', 'Cabrera', 1290.6780013035125),
 ('Isabel', 'Álvarez', 1283.0432104014076),

5. Empleados y número de órdenes gestionadas
* Muestra el nombre del empleado, el puesto y la cantidad de órdenes que ha gestionado.
* Utiliza GROUP BY y COUNT.

In [5]:
sql = ('SELECT e.nombre_empleado AS EMPLEADO, e.puesto AS PUESTO, count(o.id_empleado) AS ORDENES FROM empleados e JOIN ordenes o ON o.id_empleado = e.id_empleado GROUP BY e.id_empleado')
consultas(sql)

[('Marta Vega', 'Cajero', 54),
 ('José Martínez', 'Reponedor', 55),
 ('Olga Hernández', 'Encargado de sección', 56),
 ('Rafael Herrera', 'Gerente', 53),
 ('Marta Serrano', 'Personal de limpieza', 60),
 ('Isabel Sánchez', 'Panadero', 56),
 ('Teresa Alonso', 'Carnicero', 47),
 ('Adriana Jiménez', 'Pescadero', 60),
 ('Jorge Torres', 'Responsable de almacén', 39),
 ('Ricardo León', 'Supervisor de caja', 54),
 ('Alicia Rodríguez', 'Frutero', 55),
 ('Amelia Ruiz', 'Charcutero', 44),
 ('Irene García', 'Jefe de turno', 51),
 ('Julia Fuentes', 'Operador logístico', 36),
 ('Elena Moreno', 'Atención al cliente', 53),
 ('Juan Delgado', 'Auxiliar de caja', 44),
 ('Ricardo Guerrero', 'Encargado de inventario', 42),
 ('Julia Peña', 'Responsable de compras', 45),
 ('Sara Domínguez', 'Promotor de ventas', 55),
 ('Diego Gutiérrez', 'Encargado de seguridad', 47),
 ('Francisco Castillo', 'Cajero', 49),
 ('Manuel Castro', 'Reponedor', 53),
 ('Andrés Guerrero', 'Encargado de sección', 43),
 ('Alberto Marín', 'Gerente', 51),
 ('Fernando Vega', 'Personal de limpieza', 56),
 ('Adriana Campos', 'Panadero', 39),
 ('Rafael Torres', 'Carnicero', 43),
 ('Luis Molina', 'Pescadero', 40),
 ('Carlos Sánchez', 'Responsable de almacén', 61),
 ('Gonzalo Ortega', 'Supervisor de caja', 54),
 ('Pablo León', 'Frutero', 54),
 ('Diego Sánchez', 'Charcutero', 52),
 ('Luis Cruz', 'Jefe de turno', 58),
 ('Roberto Ortiz', 'Operador logístico', 61),
 ('Paula Romero', 'Atención al cliente', 59),
 ('Carlos Alonso', 'Auxiliar de caja', 41),
 ('Diego Delgado', 'Encargado de inventario', 43),
 ('Jorge Martínez', 'Responsable de compras', 48),
 ('Lucía Rubio', 'Promotor de ventas', 52),
 ('Jorge Herrera', 'Encargado de seguridad', 58),
 ('Luis Carrasco', 'Cajero', 41),
 ('Teresa Campos', 'Reponedor', 45),
 ('Olga Torres', 'Encargado de sección', 60),
 ('Pedro Alonso', 'Gerente', 53),
 ('Daniel Molina', 'Personal de limpieza', 54),
 ('Juan Campos', 'Panadero', 49),
 ('Ricardo Ramos', 'Carnicero', 51),
 ('Alberto Hernández', 'Pescadero', 51),
 ('Olga Gil', 'Responsable de almacén', 53),
 ('Paula Romero', 'Supervisor de caja', 47),
 ('Isabel Gutiérrez', 'Frutero', 42),
 ('Roberto Ortiz', 'Charcutero', 47),
 ('Ana Rubio', 'Jefe de turno', 35),
 ('Javier Jiménez', 'Operador logístico', 54),
 ('Daniel López', 'Atención al cliente', 52),
 ('Roberto Iglesias', 'Auxiliar de caja', 42),
 ('Paula Flores', 'Encargado de inventario', 52),
 ('Daniel Delgado', 'Responsable de compras', 51),
 ('Rocío Molina', 'Promotor de ventas', 55),
 ('Rocío Romero', 'Encargado de seguridad', 60),
 ('Laura Medina', 'Cajero', 48),
 ('Manuel Rubio', 'Reponedor', 54),
 ('María Torres', 'Encargado de sección', 48),
 ('Elena Domínguez', 'Gerente', 58),
 ('Alicia Ortiz', 'Personal de limpieza', 43),
 ('Clara Cabrera', 'Panadero', 54),
 ('Carlos García', 'Carnicero', 53),
 ('Ana Peña', 'Pescadero', 58),
 ('Fernando Romero', 'Responsable de almacén', 66),
 ('Andrés Díaz', 'Supervisor de caja', 51),
 ('Pablo Romero', 'Frutero', 42),
 ('Elena Pérez', 'Charcutero', 49),
 ('Daniel León', 'Jefe de turno', 59),
 ('Lucía Campos', 'Operador logístico', 38),
 ('Pablo Peña', 'Atención al cliente', 49),
 ('Teresa Rodríguez', 'Auxiliar de caja', 59),
 ('Pedro Pérez', 'Encargado de inventario', 50),
 ('Hugo Flores', 'Responsable de compras', 52),
 ('Noelia Castillo', 'Promotor de ventas', 41),
 ('Laura Sánchez', 'Encargado de seguridad', 34),
 ('Roberto Muñoz', 'Cajero', 45),
 ('José Guerrero', 'Reponedor', 59),
 ('Pablo Cabrera', 'Encargado de sección', 51),
 ('Olga Romero', 'Gerente', 54),
 ('Andrés Marín', 'Personal de limpieza', 46),
 ('Patricia Rodríguez', 'Panadero', 41),
 ('Vera Gutiérrez', 'Carnicero', 50),
 ('Adriana Ruiz', 'Pescadero', 44),
 ('Laura Castillo', 'Responsable de almacén', 44),
 ('Carlos Fernández', 'Supervisor de caja', 72),
 ('Elena Rodríguez', 'Frutero', 66),
 ('Álvaro Vega', 'Charcutero', 47),
 ('Paula Molina', 'Jefe de turno', 50),
 ('Carmen Reyes', 'Operador logístico', 49),
 ('Amelia Delgado', 'Atención al cliente', 49),
 ('Marta Fuentes', 'Auxiliar de caja', 44),
 ('Amelia Ramos', 'Encargado de inventario', 51),
 ('Olga Carrasco', 'Responsable de compras', 56),
 ('Noelia Ramírez', 'Promotor de ventas', 44),
 ('Adriana Vega', 'Encargado de seguridad', 44),
 ('Irene Marín', 'Cajero', 55),
 ('Manuel Vázquez', 'Reponedor', 58),
 ('Patricia Navarro', 'Encargado de sección', 56),
 ('Irene Peña', 'Gerente', 62),
 ('Julia Ortega', 'Personal de limpieza', 43),
 ('Daniel Fernández', 'Panadero', 39),
 ('Patricia Reyes', 'Carnicero', 51),
 ('Clara Calvo', 'Pescadero', 59),
 ('Eva Iglesias', 'Responsable de almacén', 46),
 ('Rocío Sánchez', 'Supervisor de caja', 47),
 ('Vera Alonso', 'Frutero', 43),
 ('Antonio Delgado', 'Charcutero', 41),
 ('Alberto Santos', 'Jefe de turno', 41),
 ('Antonio Guerrero', 'Operador logístico', 55),
 ('Antonio León', 'Atención al cliente', 57),
 ('Eva Rodríguez', 'Auxiliar de caja', 57),
 ('Juan Moreno', 'Encargado de inventario', 57),
 ('Daniel Ramos', 'Responsable de compras', 48),
 ('Isabel Campos', 'Promotor de ventas', 51),
 ('Irene Sánchez', 'Encargado de seguridad', 39),
 ('Alberto Jiménez', 'Cajero', 54),
 ('Carmen Guerrero', 'Reponedor', 45),
 ('Fernando Herrera', 'Encargado de sección', 43),
 ('Rafael Herrera', 'Gerente', 48),
 ('Amelia Hernández', 'Personal de limpieza', 44),
 ('Paula León', 'Panadero', 56),
 ('Luis Hernández', 'Carnicero', 44),
 ('Daniel Navarro', 'Pescadero', 40),
 ('María Navarro', 'Responsable de almacén', 43),
 ('Noelia López', 'Supervisor de caja', 44),
 ('Isabel Serrano', 'Frutero', 42),
 ('Ana Martínez', 'Charcutero', 39),
 ('Rocío Marín', 'Jefe de turno', 48),
 ('Amelia Pérez', 'Operador logístico', 61),
 ('Sofía Castillo', 'Atención al cliente', 62),
 ('Enrique Calvo', 'Auxiliar de caja', 51),
 ('Paula Ortega', 'Encargado de inventario', 68),
 ('Ana Pérez', 'Responsable de compras', 41),
 ('Javier Navarro', 'Promotor de ventas', 50),
 ('Sofía García', 'Encargado de seguridad', 46),
 ('Rafael Martínez', 'Cajero', 55),
 ('Fernando Carrasco', 'Reponedor', 43),
 ('Ana Molina', 'Encargado de sección', 54),
 ('Álvaro Sánchez', 'Gerente', 34),
 ('Irene López', 'Personal de limpieza', 44),
 ('Pablo Ruiz', 'Panadero', 47),
 ('Luis Ramos', 'Carnicero', 39),
 ('Javier Fernández', 'Pescadero', 49),
 ('Noelia Álvarez', 'Responsable de almacén', 62),
 ('José Ruiz', 'Supervisor de caja', 41),
 ('Noelia Gil', 'Frutero', 55),
 ('Elena Medina', 'Charcutero', 61),
 ('Daniel Álvarez', 'Jefe de turno', 42),
 ('Eva Pérez', 'Operador logístico', 34),
 ('Alicia Flores', 'Atención al cliente', 55),
 ('Daniel Gutiérrez', 'Auxiliar de caja', 44),
 ('Clara Castillo', 'Encargado de inventario', 45),
 ('Pablo León', 'Responsable de compras', 51),
 ('Adriana Álvarez', 'Promotor de ventas', 54),
 ('Juan Navarro', 'Encargado de seguridad', 47),
 ('Alberto Navarro', 'Cajero', 53),
 ('Irene Alonso', 'Reponedor', 40),
 ('Sofía Martínez', 'Encargado de sección', 58),
 ('Manuel Vega', 'Gerente', 52),
 ('Ana Marín', 'Personal de limpieza', 50),
 ('Teresa Delgado', 'Panadero', 57),
 ('Amelia Marín', 'Carnicero', 61),
 ('María Rodríguez', 'Pescadero', 37),
 ('Ricardo Domínguez', 'Responsable de almacén', 47),
 ('Rafael García', 'Supervisor de caja', 57),
 ('Natalia Moreno', 'Frutero', 46),
 ('Jorge Cabrera', 'Charcutero', 52),
 ('Adriana Medina', 'Jefe de turno', 49),
 ('Ana Campos', 'Operador logístico', 61),
 ('Ricardo Hernández', 'Atención al cliente', 48),
 ('Vera Castro', 'Auxiliar de caja', 56),
 ('Diego Cabrera', 'Encargado de inventario', 40),
 ('Elena Navarro', 'Responsable de compras', 41),
 ('Roberto Cruz', 'Promotor de ventas', 48),
 ('José León', 'Encargado de seguridad', 57),
 ('Paula Ortiz', 'Cajero', 69),
 ('Eva Ruiz', 'Reponedor', 53),
 ('Elena Marín', 'Encargado de sección', 45),
 ('Sergio Sánchez', 'Gerente', 61),
 ('Eva Delgado', 'Personal de limpieza', 40),
 ('José León', 'Panadero', 51),
 ('Ricardo Vázquez', 'Carnicero', 55),
 ('Pedro Gil', 'Pescadero', 53),
 ('Álvaro León', 'Responsable de almacén', 37),
 ('Paula Fernández', 'Supervisor de caja', 53),
 ('Rafael Álvarez', 'Frutero', 46),
 ('Gonzalo Martínez', 'Charcutero', 47),
 ('Carlos Romero', 'Jefe de turno', 44),
 ('Noelia Vega', 'Operador logístico', 58),
 ('Diego Martínez', 'Atención al cliente', 52),
 ('Gonzalo Rubio', 'Auxiliar de caja', 68),
 ('Ricardo Medina', 'Encargado de inventario', 49),
 ('Carmen Martínez', 'Responsable de compras', 52),
 ('Jorge Ramos', 'Promotor de ventas', 50),
 ('Laura Delgado', 'Encargado de seguridad', 50)]

6. Ordenes filtradas por fecha y tienda
* Muestra todas las órdenes que se realizaron en un rango de fechas determinado (ej.: del 1 de enero de 2025 al 31 de enero de 2025) y en una tienda específica.
* Incluye datos de la tienda y del cliente.

In [ ]:
sql = ('')
consultas(sql)

7. Ranking de productos más vendidos en cada tienda
* Para cada tienda, muestra los 3 productos más vendidos (en términos de cantidad total).
* Tendrás que unir tiendas, empleados, ordenes y detalle_orden, además de productos.
* Usa GROUP BY y ordena por la cantidad sumada (y opcionalmente, un LIMIT 3).

In [ ]:
sql = ('')
consultas(sql)

Opcional: añadir alguna consulta con subconsultas o algo que no se abarque en las anteriores consulta.

In [ ]:
sql = ('')
consultas(sql)