In [2]:
import mysql.connector as con
import pandas as pd
import random
import datetime 
from datetime import datetime, timedelta

## ENUNCIADO EJERCICIO 

### 1. CREAR BASE DE DATOS (33%)

* Crear con código SQL una base de datos llamada supermercado.
* Código Python con mysql connector que ejecute el SQL para borrar y generar la base de datos vacía.

In [3]:
def crear_tabla(sql):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="admin",
            database='supermercado'
        )
        cursor = connection.cursor()
        cursor.execute(sql)
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

In [4]:
sql = "DROP DATABASE IF EXISTS supermercado; CREATE DATABASE IF NOT EXISTS supermercado;"

In [5]:
crear_tabla(sql)

## Crear TABLAS

![alt text](image.png)

tiendas
- id_tienda (PRIMARY KEY)
- nombre_tienda
- direccion
- ciudad

In [6]:
sql = "CREATE TABLE IF NOT EXISTS tiendas (id_tienda INT AUTO_INCREMENT PRIMARY KEY, nombre_tienda VARCHAR(255) NOT NULL, direccion VARCHAR(255), ciudad VARCHAR(255) NOT NULL);"

In [7]:
crear_tabla(sql)

empleados
- id_empleado (PRIMARY KEY)
- nombre_empleado
- puesto (ej.: Cajero, Gerente, Reponedor)
- id_tienda (FOREIGN KEY que hace referencia a tiendas.id_tienda)

In [8]:
sql = "CREATE TABLE IF NOT EXISTS empleados (id_empleado INT AUTO_INCREMENT PRIMARY KEY, nombre_empleado VARCHAR(255) NOT NULL, puesto VARCHAR(60), id_tienda INT NOT NULL, FOREIGN KEY (id_tienda) REFERENCES tiendas(id_tienda) ON DELETE CASCADE);"

In [9]:
crear_tabla(sql)

categorias
- id_categoria (PRIMARY KEY)
- nombre_categoria

In [10]:
sql = "CREATE TABLE IF NOT EXISTS categorias (id_categoria INT AUTO_INCREMENT PRIMARY KEY, nombre_categoria VARCHAR(60));"

In [11]:
crear_tabla(sql)

productos
- id_producto (PRIMARY KEY)
- nombre_producto
- precio
- stock
- id_categoria (FOREIGN KEY que hace referencia a categorias.id_categoria)

In [12]:
sql = "CREATE TABLE IF NOT EXISTS productos (id_producto INT AUTO_INCREMENT PRIMARY KEY, nombre_producto VARCHAR(70), precio FLOAT(8,2), stock INT, id_categoria INT NOT NULL, FOREIGN KEY (id_categoria) REFERENCES categorias(id_categoria));"

In [13]:
crear_tabla(sql)

clientes
- id_cliente (PRIMARY KEY)
- first_name
- last_name
- email
- codigo_postal

In [14]:
sql = "CREATE TABLE IF NOT EXISTS clientes (id_cliente INT AUTO_INCREMENT PRIMARY KEY, first_name VARCHAR(50), last_name VARCHAR(50), email VARCHAR(200), codigo_postal INT);"

In [15]:
crear_tabla(sql)

ordenes
- id_orden (PRIMARY KEY)
- id_cliente (FOREIGN KEY que hace referencia a clientes.id_cliente)
- id_empleado (FOREIGN KEY que hace referencia a empleados.id_empleado)
- fecha_orden
- metodo_pago (una enum que solo admita tres valores Tarjeta, Efectivo)

In [16]:
sql = "CREATE TABLE IF NOT EXISTS ordenes (id_orden INT AUTO_INCREMENT PRIMARY KEY, id_cliente INT, id_empleado INT, fecha_orden DATE, metodo_pago ENUM('Tarjeta', 'Efectivo') DEFAULT 'Efectivo', FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente), FOREIGN KEY (id_empleado) REFERENCES empleados(id_empleado));"

In [17]:
crear_tabla(sql)

detalle_orden
- id_detalle (PRIMARY KEY)
- id_orden (FOREIGN KEY que hace referencia a ordenes.id_orden) NOT NULL
- id_producto (FOREIGN KEY que hace referencia a productos.id_producto) NOT NULL
- cantidad
- precio_unitario: mismo precio que en la tabla producto
- descuento (podría ser NULL si no se aplica)

In [18]:
sql = "CREATE TABLE IF NOT EXISTS detalle_orden (id_detalle INT AUTO_INCREMENT PRIMARY KEY, id_orden INT NOT NULL, id_producto INT NOT NULL, cantidad FLOAT(8,2), precio_unitario FLOAT(8,2), descuento TINYINT, FOREIGN KEY (id_orden) REFERENCES ordenes(id_orden), FOREIGN KEY (id_producto) REFERENCES productos(id_producto));"

In [19]:
crear_tabla(sql)

### 2. Generar datos demo desde Python (33%)

* Generar datos aleatorios en listas con Python similar los realizados en clase.
    * Uso de datetime, timedelta, random para generar datos aleatorios
* Pasar los datos a DataFrames de Pandas
* Pasar los DataFrames de Pandas a MySQL usando la función to_sql de Pandas con SQLAlchemy o usando MySQL Connector con sentencias INSERT.

In [20]:
def insertar_dataframe(df, table_name):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="admin",
            database='supermercado'
        )
        cursor = connection.cursor()
        
        columns = ','.join(df.columns)
        placeholders = ','.join(['%s'] * len(df.columns))
        sql = f'INSERT INTO {table_name} ({columns}) VALUES ({placeholders});'
    
        rows = [tuple(row) for index, row in df.iterrows()] # lista de tuplas con los datos del dataframe

        cursor.executemany(sql, rows)
        
        connection.commit()
        return cursor.rowcount
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

tiendas

* id_tienda: valores enteros consecutivos (por ejemplo, 1, 2, 3...).
* nombre_tienda: nombres ficticios o genéricos (p. ej. "Tienda Centro", "Super Norte", "Super Sur").
* direccion: direcciones simples (p. ej. “Calle Falsa 123”).
* ciudad: usar nombres de ciudades ficticias o reales (p. ej. “Madrid”, “Barcelona”, “México DF”, etc.).

En total 5 o 10 tiendas.

In [21]:
tiendas = ['Jerez Este', 'Sanlucar Oeste', 'Cadiz Norte', 'Valdelagrana Sur', 'Arcos Sur', 'Chiclana Norte', 'Barbate Este', 'Vejer Oeste', 'Conil Sur', 'Rota Norte']
direcciones = ['Calle Catavino 25', 'Calle Manzanilla 42', 'Calle del Pan 38', 'Calle Playa 57', 'Calle Castillo 182', 'Calle Barrosa 63', 'Calle Atun 98', 'Calle Pescadill 56', 'Calle Balsa 71', 'Calle Base 22']
ciudades = ['Jerez de la Frontera', 'Sanlucar de Barrameda', 'Cadiz', 'El Puerto de Santa Maria', 'Arcos de la Frontera', 'Chiclana de la Frontera', 'Barbate', 'Vejer de la Frontera', 'Conil de la Frontera', 'Rota']
df_tiendas = pd.DataFrame(zip(tiendas, direcciones, ciudades), columns=['nombre_tienda', 'direccion', 'ciudad'])
# generar columna id_tienda
df_tiendas = df_tiendas.reset_index().rename({'index': 'id_tienda'}, axis=1)
df_tiendas['id_tienda'] = df_tiendas['id_tienda'] + 1
df_tiendas

   id_tienda     nombre_tienda            direccion                    ciudad
0          1        Jerez Este    Calle Catavino 25      Jerez de la Frontera
1          2    Sanlucar Oeste  Calle Manzanilla 42     Sanlucar de Barrameda
2          3       Cadiz Norte     Calle del Pan 38                     Cadiz
3          4  Valdelagrana Sur       Calle Playa 57  El Puerto de Santa Maria
4          5         Arcos Sur   Calle Castillo 182      Arcos de la Frontera
5          6    Chiclana Norte     Calle Barrosa 63   Chiclana de la Frontera
6          7      Barbate Este        Calle Atun 98                   Barbate
7          8       Vejer Oeste   Calle Pescadill 56      Vejer de la Frontera
8          9         Conil Sur       Calle Balsa 71      Conil de la Frontera
9         10        Rota Norte        Calle Base 22                      Rota

In [22]:
insertar_dataframe(df_tiendas, 'tiendas')

10

empleados

* id_empleado: valores enteros consecutivos (1, 2, 3...).
* nombre_empleado: nombres y apellidos ficticios (p. ej. “Laura Gutiérrez”, “Juan Pérez”).
* puesto: limitarse a un conjunto reducido de valores (p. ej. {‘Cajero’, ‘Gerente’, ‘Reponedor’, ‘Vendedor’}).
* id_tienda: debe hacer referencia a una tienda existente (por ejemplo, un número entre 1 y 3 si solo tienes 3 tiendas).

En total 20 empleados por tienda.

In [23]:
#generar columna id_empleado
empleados = list()
nombres = ["Juan", "María", "Luis", "Ana", "Pedro", "Sofía", "Carlos", "Lucía", "Jorge", "Elena", "Manuel", "Laura", "Diego", "Clara", "Alberto", "Teresa", "Pablo", "Isabel", "Sergio", "Marta", "Roberto", "Julia", "Fernando", "Carmen", "Ricardo", "Paula", "Andrés", "Eva", "Antonio", "Sara", "José", "Natalia", "Francisco", "Patricia", "Hugo", "Adriana", "Rafael", "Irene", "Víctor", "Olga", "Daniel", "Noelia", "Álvaro", "Alicia", "Javier", "Rocío", "Enrique", "Amelia", "Gonzalo", "Vera"]
apellidos = ["García", "Martínez", "López", "Sánchez", "Pérez", "González", "Rodríguez", "Fernández", "Moreno", "Jiménez", "Hernández", "Muñoz", "Álvarez", "Romero", "Alonso", "Gutiérrez", "Ruiz", "Navarro", "Díaz", "Torres", "Castro", "Vázquez", "Ramos", "Gil", "Ramírez", "Flores", "Ortiz", "Marín", "Serrano", "Iglesias", "Delgado", "Domínguez", "Guerrero", "Molina", "Ortega", "Rubio", "Santos", "Medina", "Castillo", "Cruz", "Reyes", "Herrera", "Peña", "Carrasco", "Calvo", "Vega", "Cabrera", "Campos", "León", "Fuentes"]
trabajo = ["Cajero", "Reponedor", "Encargado de sección", "Gerente", "Personal de limpieza", "Panadero", "Carnicero", "Pescadero", "Responsable de almacén", "Supervisor de caja", "Frutero", "Charcutero", "Jefe de turno", "Operador logístico", "Atención al cliente", "Auxiliar de caja", "Encargado de inventario", "Responsable de compras", "Promotor de ventas", "Encargado de seguridad"]
for tienda in df_tiendas['id_tienda']:
    for empleado in range(20):
        nombre_empleado = (random.choice(nombres) + ' ' + random.choice(apellidos))
        puesto = trabajo[empleado]
        id_tienda = tienda
        empleados.append([nombre_empleado, puesto, id_tienda])
        
df_empleados = pd.DataFrame(empleados, columns=['nombre_empleado', 'puesto', 'id_tienda'])
        
df_empleados = df_empleados.reset_index().rename({'index': 'id_empleado'}, axis=1)
df_empleados['id_empleado'] = df_empleados['id_empleado'] + 1
df_empleados

     id_empleado     nombre_empleado                   puesto  id_tienda
0              1    Francisco Romero                   Cajero          1
1              2           Elena Gil                Reponedor          1
2              3     Andrés Castillo     Encargado de sección          1
3              4      Enrique Medina                  Gerente          1
4              5           Luis Cruz     Personal de limpieza          1
..           ...                 ...                      ...        ...
195          196        Carlos Calvo         Auxiliar de caja         10
196          197  Francisco González  Encargado de inventario         10
197          198     Javier Martínez   Responsable de compras         10
198          199          Julia Ruiz       Promotor de ventas         10
199          200        Fernando Gil   Encargado de seguridad         10

[200 rows x 4 columns]

In [24]:
insertar_dataframe(df_empleados, "empleados")

200

categorias

* id_categoria: valores enteros consecutivos (1, 2, 3...).
* nombre_categoria: selección de categorías (p. ej. “Lácteos”, “Carnes”, “Frutas”, “Verduras”, “Bebidas”, “Snacks”).

En total 10 categorías

In [25]:
categorias = ['Lácteos', 'Carnes', 'Frutas', 'Verduras', 'Bebidas', 'Snacks', 'Hogar', 'Limpieza', 'Perfumería', 'Jardín']

df_categorias = pd.DataFrame(categorias, columns=['nombre_categoria'])

# generar columna id_categoria
df_categorias = df_categorias.reset_index().rename({'index': 'id_categoria'}, axis=1)
df_categorias['id_categoria'] = df_categorias['id_categoria'] + 1
df_categorias

   id_categoria nombre_categoria
0             1          Lácteos
1             2           Carnes
2             3           Frutas
3             4         Verduras
4             5          Bebidas
5             6           Snacks
6             7            Hogar
7             8         Limpieza
8             9       Perfumería
9            10           Jardín

In [26]:
insertar_dataframe(df_categorias, 'categorias')

10


productos

* id_producto: valores enteros consecutivos (1, 2, 3...).
* nombre_producto: nombres como “Leche Entera”, “Manzana Roja”, “Refresco de Cola”, etc.
* precio: valores DECIMAL entre 0.50 y 50.00, por ejemplo.
* stock: valores INT entre 0 y 500 (o el rango que quieras).
* id_categoria: debe hacer referencia a las categorías que hayas definido (1, 2, 3, etc.).

En total 4 productos de cada categoría.

In [27]:
# generar columna id_producto
produ = ["Leche", "Yogur", "Queso", "Mantequilla", "Pollo", "Carne de res", "Cerdo", "Chuletas", "Manzana", "Banana", "Naranja", "Uva", "Zanahoria", "Tomate", "Lechuga", "Cebolla", "Agua", "Jugo de naranja", "Refresco", "Cerveza", "Papas fritas", "Chocolate", "Galletas", "Chicles", "Velas", "Platos desechables", "Bolsas de basura", "Pilas", "Detergente", "Jabón líquido", "Esponjas", "Desinfectante", "Champú", "Colonia", "Crema hidratante", "Desodorante", "Tierra para macetas", "Fertilizante", "Semillas", "Regadera"]
precios, lista_categorias, stock = list(), list(), list()
cantidad = len(produ)
for _ in range(cantidad):
    precios.append(random.uniform(0.50, 10.50))
    stock.append(random.randint(0, 100))
for categ in df_categorias['id_categoria']:
    for i in range(4):
        lista_categorias.append(categ)
lista_categorias        
df_productos = pd.DataFrame(zip(produ, precios, stock, lista_categorias), columns=['nombre_producto', 'precio', 'stock', 'id_categoria'])    
df_productos = df_productos.reset_index().rename({'index': 'id_producto'}, axis=1)
df_productos['id_producto'] = df_productos['id_producto'] + 1
df_productos

    id_producto      nombre_producto     precio  stock  id_categoria
0             1                Leche   7.343864     23             1
1             2                Yogur   2.391993      6             1
2             3                Queso   7.968326     38             1
3             4          Mantequilla   5.916627     15             1
4             5                Pollo   5.237205     64             2
5             6         Carne de res   2.058330     85             2
6             7                Cerdo   9.204477     85             2
7             8             Chuletas   9.489109     61             2
8             9              Manzana   2.250036     11             3
9            10               Banana   7.091741     40             3
10           11              Naranja   3.927396     24             3
11           12                  Uva  10.146478     31             3
12           13            Zanahoria   0.630872     56             4
13           14               Tomate  10.437699     57             4
14           15              Lechuga   2.853017     56             4
15           16              Cebolla  10.369693     11             4
16           17                 Agua   6.914589     36             5
17           18      Jugo de naranja   6.816834     25             5
18           19             Refresco   4.726027     75             5
19           20              Cerveza   4.755710     19             5
20           21         Papas fritas  10.227088      4             6
21           22            Chocolate   7.591284     45             6
22           23             Galletas   9.273320     22             6
23           24              Chicles   7.354195     16             6
24           25                Velas   5.177440     88             7
25           26   Platos desechables   2.087377     64             7
26           27     Bolsas de basura   5.488203     75             7
27           28                Pilas  10.119091     47             7
28           29           Detergente   0.941137     43             8
29           30        Jabón líquido   4.910838     69             8
30           31             Esponjas   4.190812     35             8
31           32        Desinfectante   8.654184     24             8
32           33               Champú   5.141485     44             9
33           34              Colonia   8.601103     54             9
34           35     Crema hidratante   1.516659     90             9
35           36          Desodorante   9.875920     53             9
36           37  Tierra para macetas  10.460069     40            10
37           38         Fertilizante   4.012174     86            10
38           39             Semillas   8.516184     28            10
39           40             Regadera   5.550078     82            10

In [28]:
insertar_dataframe(df_productos, 'productos')

40

clientes

* id_cliente: valores enteros consecutivos (1, 2, 3...).
* nombre_cliente: nombres y apellidos ficticios (p. ej. “Carlos López”, “María Gil”).
* email: podrías generar correos ficticios (p. ej. “carlos.lopez@test.com”).
* telefono: número de 9 o 10 dígitos (dependiendo del país).
* direccion: calles y números ficticios (p. ej. “Av. Siempre Viva 742”).

En total: 2000.

In [29]:
# generar columna id_cliente
nombre_cliente, apellido_cliente, email, postal, cliente_completo = list(), list(), list(), list(), list()
calles = ("Av. Libertad", "Calle Mayor", "Paseo de la Reforma", "Calle Real", "Av. de la Constitución", "Calle del Sol", "Calle de la Luna", "Calle los Pinos", "Calle de la Paz", "Calle Olivo", "Calle Cedro", "Calle Nogal", "Av. de las Flores", "Paseo del Prado", "Calle del Río", "Av. Central", "Calle Primavera", "Calle Otoño", "Calle Invierno", "Calle Verano", "Calle Granada", "Calle Sevilla", "Calle Córdoba", "Calle Málaga", "Calle Valencia", "Calle Zaragoza", "Calle Alicante", "Av. de los Ángeles", "Calle del Carmen", "Calle San Miguel", "Calle San Juan", "Calle del Pilar", "Calle Santa Teresa", "Calle San Francisco", "Calle de la Sierra", "Calle del Mar", "Av. del Norte", "Av. del Sur", "Calle del Este", "Calle del Oeste", "Calle Diamante", "Calle Esmeralda", "Calle Rubí", "Calle Zafiro", "Calle Ámbar", "Calle Turquesa", "Calle Topacio", "Calle Perla", "Calle Horizonte", "Calle Amanecer")
for _ in range(2000):
    nom = random.choice(nombres)
    nombre_cliente.append(nom)
    ape = random.choice(apellidos)
    apellido_cliente.append(ape)
    email.append((f'{nom}.{ape}@suemail.com'))
    postal.append(random.randint(11000, 11900))
    
df_clientes = pd.DataFrame(zip(nombre_cliente, apellido_cliente, email, postal), columns=['first_name', 'last_name', 'email', 'codigo_postal']) 
df_clientes = df_clientes.reset_index().rename({'index': 'id_cliente'}, axis=1)
df_clientes['id_cliente'] = df_clientes['id_cliente'] + 1
df_clientes

,id_cliente,first_name,last_name,email,codigo_postal
0,1,Diego,Gutiérrez,Diego.Gutiérrez@suemail.com,11098
1,2,Sergio,Fuentes,Sergio.Fuentes@suemail.com,11390
2,3,Sofía,Martínez,Sofía.Martínez@suemail.com,11878
3,4,Paula,Martínez,Paula.Martínez@suemail.com,11681
4,5,Patricia,Domínguez,Patricia.Domínguez@suemail.com,11345
...,...,...,...,...,...
1995,1996,Patricia,Ruiz,Patricia.Ruiz@suemail.com,11892
1996,1997,Sara,Vega,Sara.Vega@suemail.com,11307
1997,1998,Isabel,Castro,Isabel.Castro@suemail.com,11278
1998,1999,Marta,Fuentes,Marta.Fuentes@suemail.com,11619
1999,2000,Ana,Medina,Ana.Medina@suemail.com,11093

In [30]:
insertar_dataframe(df_clientes, 'clientes')

2000

ordenes

* id_orden: valores enteros consecutivos (1, 2, 3...).
* id_cliente: haz referencia a los IDs existentes de la tabla clientes.
* id_empleado: haz referencia a los IDs existentes de la tabla empleados.
* fecha_orden: genera fechas aleatorias o secuenciales (p. ej. entre ‘2024-01-01’ y ‘2025-01-01’).
* metodo_pago: escoge entre {‘Tarjeta’, ‘Efectivo’}.

En total: 10000.

In [31]:
# generar columna id_orden
cliente, emplea, fecha, metodo = list(), list(), list(), list()
fechas = [datetime(year=2024, month=1, day=1) + timedelta(days=numero) for numero in range(395)]
for _ in range(10000):
    cliente.append(random.choice(df_clientes['id_cliente']))
    emplea.append(random.choice(df_empleados['id_empleado']))
    fecha.append(random.choice(fechas))
    metodo.append(random.choices(['Tarjeta', 'Efectivo'], weights=[0.65, 0.35])[0])

fecha.sort()
df_ordenes = pd.DataFrame(zip(cliente, emplea, fecha, metodo), columns=['id_cliente', 'id_empleado', 'fecha_orden', 'metodo_pago'])
df_ordenes.sort_values('fecha_orden', inplace=True)
df_ordenes = df_ordenes.reset_index().rename({'index': 'id_orden'}, axis=1)
df_ordenes['id_orden'] = df_ordenes['id_orden'] + 1
df_ordenes.sort_values('id_orden', inplace=True)
df_ordenes.head(50)

    id_orden  id_cliente  id_empleado fecha_orden metodo_pago
0          1        1930          174  2024-01-01     Tarjeta
17         2         899           75  2024-01-01     Tarjeta
16         3         995            6  2024-01-01    Efectivo
15         4         449           55  2024-01-01     Tarjeta
14         5         656           46  2024-01-01     Tarjeta
13         6        1680          181  2024-01-01     Tarjeta
12         7        1511           48  2024-01-01    Efectivo
11         8         491           60  2024-01-01    Efectivo
10         9        1323            5  2024-01-01     Tarjeta
18        10        1275           21  2024-01-01     Tarjeta
8         11        1522          177  2024-01-01     Tarjeta
7         12         241            1  2024-01-01    Efectivo
6         13         706           22  2024-01-01     Tarjeta
5         14        1277          190  2024-01-01     Tarjeta
4         15          17           97  2024-01-01     Tarjeta
9         16        1587            7  2024-01-01     Tarjeta
3         17         662          173  2024-01-01    Efectivo
2         18         974           62  2024-01-01     Tarjeta
1         19        1841          199  2024-01-01     Tarjeta
33        20         196           53  2024-01-02     Tarjeta
39        21        1174           25  2024-01-02     Tarjeta
35        22         411          158  2024-01-02    Efectivo
36        23         650           28  2024-01-02     Tarjeta
37        24        1303           93  2024-01-02     Tarjeta
38        25        1106           22  2024-01-02     Tarjeta
40        26         114           90  2024-01-02    Efectivo
41        27        1108           89  2024-01-02     Tarjeta
42        28         305          200  2024-01-02     Tarjeta
43        29        1223           41  2024-01-02    Efectivo
44        30         448           33  2024-01-02    Efectivo
32        31        1355           32  2024-01-02    Efectivo
34        32         333           85  2024-01-02     Tarjeta
30        33         889          124  2024-01-02     Tarjeta
28        34         556           27  2024-01-02    Efectivo
19        35         624           18  2024-01-02    Efectivo
20        36        1822           74  2024-01-02    Efectivo
21        37         399          183  2024-01-02     Tarjeta
22        38         490          156  2024-01-02     Tarjeta
31        39        1697          162  2024-01-02    Efectivo
23        40         656            4  2024-01-02     Tarjeta
29        41         741           18  2024-01-02    Efectivo
25        42        1996           57  2024-01-02     Tarjeta
26        43        1198          103  2024-01-02     Tarjeta
24        44        1643          165  2024-01-02     Tarjeta
27        45         347          168  2024-01-02     Tarjeta
65        46        1342           55  2024-01-03    Efectivo
64        47        1220           50  2024-01-03     Tarjeta
63        48         862           36  2024-01-03     Tarjeta
62        49        1286          187  2024-01-03    Efectivo
61        50          20          180  2024-01-03     Tarjeta

In [32]:
insertar_dataframe(df_ordenes, 'ordenes')

10000

detalle_orden

* id_detalle: valores enteros consecutivos (1, 2, 3...).
* id_orden: referencia al ID de alguna orden válida.
* id_producto: referencia al ID de algún producto válido.
* cantidad: valores entre 1 y 20, por ejemplo.
* precio_unitario: usar el mismo precio que está en la tabla productos o uno ligeramente distinto si quieres simular ofertas.
* descuento: valores DECIMAL bajos (p. ej. 0.00, 1.00, 2.50) o NULL.

En total: 30000.

In [33]:
orden_completa = list()
productos = df_productos['id_producto']
orden_20 = df_ordenes['id_orden']
for orden in df_ordenes['id_orden']:
    ordenes = orden
    producto = (int(random.choice(productos)))
    cant = random.randint(1, 20)
    valor = float(df_productos['precio'][df_productos['id_producto'] == producto].iloc[0])
    descuento = random.uniform(0, 0.25)
    orden_completa.append([ordenes, producto, cant, round(valor, 2), round(descuento, 2)])   
for orden in range(20000):
    ordenes = random.choice(orden_20)
    producto = (int(random.choice(productos)))
    cant = random.randint(1, 20)
    valor = float(df_productos['precio'][df_productos['id_producto'] == producto].iloc[0])
    descuento = random.uniform(0, 0.25)
    orden_completa.append([ordenes, producto, cant, round(valor,2), round(descuento, 2)])   
df_detalle_orden = pd.DataFrame(orden_completa, columns=['id_orden', 'id_producto', 'cantidad', 'precio_unitario', 'descuento'])
df_detalle_orden = df_detalle_orden.reset_index().rename({'index': 'id_detalle'}, axis=1)
df_detalle_orden['id_detalle'] = df_detalle_orden['id_detalle'] + 1
df_detalle_orden

       id_detalle  id_orden  id_producto  cantidad  precio_unitario  descuento
0               1         1            8        12             9.49       0.00
1               2         2           29        18             0.94       0.01
2               3         3           28         9            10.12       0.11
3               4         4           28        10            10.12       0.22
4               5         5           36        15             9.88       0.15
...           ...       ...          ...       ...              ...        ...
29995       29996      7462           17         6             6.91       0.18
29996       29997      1986           10        14             7.09       0.15
29997       29998      5519            8         3             9.49       0.09
29998       29999      1439           24         5             7.35       0.09
29999       30000      6977            8         5             9.49       0.16

[30000 rows x 6 columns]

In [34]:
insertar_dataframe(df_detalle_orden, 'detalle_orden')

30000

### 3. Consultas SQL (34%)

In [35]:
def consultas(sql):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="admin",
            database='supermercado'
        )
        cursor = connection.cursor()
        cursor.execute(sql)
        return cursor.fetchall()
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

1. Listado de órdenes con detalles de cliente y empleado
* Muestra el ID de la orden, la fecha, el nombre del cliente, el nombre del empleado que atendió la compra y el método de pago.
* Utiliza un JOIN entre las tablas ordenes, clientes y empleados.

In [36]:
sql = ('SELECT o.id_orden, o.fecha_orden, c.first_name, c.last_name, e.nombre_empleado, o.metodo_pago FROM ordenes o JOIN clientes c ON c.id_cliente = o.id_cliente JOIN empleados e ON e.id_empleado = o.id_empleado ORDER BY o.id_orden;') 
consultas(sql)

[(1,
  datetime.date(2024, 1, 1),
  'Olga',
  'Vázquez',
  'Gonzalo Fernández',
  'Tarjeta'),
 (2,
  datetime.date(2024, 1, 1),
  'Ricardo',
  'Ramos',
  'Patricia Álvarez',
  'Tarjeta'),
 (3,
  datetime.date(2024, 1, 1),
  'Enrique',
  'Iglesias',
  'Sergio Iglesias',
  'Efectivo'),
 (4, datetime.date(2024, 1, 1), 'Julia', 'Romero', 'José Sánchez', 'Tarjeta'),
 (5,
  datetime.date(2024, 1, 1),
  'Ricardo',
  'Cabrera',
  'Amelia Vázquez',
  'Tarjeta'),
 (6, datetime.date(2024, 1, 1), 'Olga', 'Díaz', 'Pablo Ruiz', 'Tarjeta'),
 (7,
  datetime.date(2024, 1, 1),
  'Lucía',
  'Hernández',
  'Elena Moreno',
  'Efectivo'),
 (8, datetime.date(2024, 1, 1), 'Eva', 'Delgado', 'Luis Díaz', 'Efectivo'),
 (9, datetime.date(2024, 1, 1), 'Elena', 'Sánchez', 'Luis Cruz', 'Tarjeta'),
 (10,
  datetime.date(2024, 1, 1),
  'Roberto',
  'López',
  'Manuel Muñoz',
  'Tarjeta'),
 (11,
  datetime.date(2024, 1, 1),
  'Álvaro',
  'López',
  'Enrique Guerrero',
  'Tarjeta'),
 (12,
  datetime.date(2024, 1, 1),
  'Elena',
  'Delgado',
  'Francisco Romero',
  'Efectivo'),
 (13, datetime.date(2024, 1, 1), 'Pablo', 'Pérez', 'Olga Vázquez', 'Tarjeta'),
 (14,
  datetime.date(2024, 1, 1),
  'Ricardo',
  'Hernández',
  'Sara Ramírez',
  'Tarjeta'),
 (15,
  datetime.date(2024, 1, 1),
  'Andrés',
  'Molina',
  'Isabel Romero',
  'Tarjeta'),
 (16,
  datetime.date(2024, 1, 1),
  'Enrique',
  'Ortiz',
  'Daniel Hernández',
  'Tarjeta'),
 (17, datetime.date(2024, 1, 1), 'Juan', 'León', 'Juan Reyes', 'Efectivo'),
 (18, datetime.date(2024, 1, 1), 'Daniel', 'Díaz', 'Roberto Pérez', 'Tarjeta'),
 (19, datetime.date(2024, 1, 1), 'Irene', 'Ortega', 'Julia Ruiz', 'Tarjeta'),
 (20,
  datetime.date(2024, 1, 2),
  'Teresa',
  'Sánchez',
  'María Guerrero',
  'Tarjeta'),
 (21,
  datetime.date(2024, 1, 2),
  'Patricia',
  'Fernández',
  'Jorge Ramírez',
  'Tarjeta'),
 (22,
  datetime.date(2024, 1, 2),
  'Javier',
  'Alonso',
  'Ricardo Romero',
  'Efectivo'),
 (23, datetime.date(2024, 1, 2), 'Fernando', 'Medina', 'Vera Gil', 'Tarjeta'),
 (24, datetime.date(2024, 1, 2), 'Olga', 'Serrano', 'Jorge López', 'Tarjeta'),
 (25,
  datetime.date(2024, 1, 2),
  'Antonio',
  'Castro',
  'Olga Vázquez',
  'Tarjeta'),
 (26,
  datetime.date(2024, 1, 2),
  'Roberto',
  'Ruiz',
  'María Cabrera',
  'Efectivo'),
 (27, datetime.date(2024, 1, 2), 'Rocío', 'Cruz', 'Jorge Díaz', 'Tarjeta'),
 (28, datetime.date(2024, 1, 2), 'José', 'López', 'Fernando Gil', 'Tarjeta'),
 (29,
  datetime.date(2024, 1, 2),
  'Sofía',
  'Castro',
  'Pablo González',
  'Efectivo'),
 (30, datetime.date(2024, 1, 2), 'Álvaro', 'Muñoz', 'Rocío León', 'Efectivo'),
 (31,
  datetime.date(2024, 1, 2),
  'Jorge',
  'Romero',
  'Julia Ramírez',
  'Efectivo'),
 (32, datetime.date(2024, 1, 2), 'Julia', 'Ramos', 'María Castro', 'Tarjeta'),
 (33, datetime.date(2024, 1, 2), 'Vera', 'Cruz', 'Pablo Vega', 'Tarjeta'),
 (34,
  datetime.date(2024, 1, 2),
  'Andrés',
  'Moreno',
  'Antonio Muñoz',
  'Efectivo'),
 (35,
  datetime.date(2024, 1, 2),
  'Adriana',
  'Díaz',
  'Irene Herrera',
  'Efectivo'),
 (36, datetime.date(2024, 1, 2), 'Lucía', 'Marín', 'Eva Ramos', 'Efectivo'),
 (37, datetime.date(2024, 1, 2), 'Julia', 'Guerrero', 'Luis Reyes', 'Tarjeta'),
 (38,
  datetime.date(2024, 1, 2),
  'Roberto',
  'Reyes',
  'Juan Sánchez',
  'Tarjeta'),
 (39, datetime.date(2024, 1, 2), 'Pablo', 'Medina', 'Ana Alonso', 'Efectivo'),
 (40,
  datetime.date(2024, 1, 2),
  'Ricardo',
  'Cabrera',
  'Enrique Medina',
  'Tarjeta'),
 (41,
  datetime.date(2024, 1, 2),
  'Ricardo',
  'Delgado',
  'Irene Herrera',
  'Efectivo'),
 (42, datetime.date(2024, 1, 2), 'Patricia', 'Ruiz', 'Hugo Torres', 'Tarjeta'),
 (43, datetime.date(2024, 1, 2), 'Teresa', 'Medina', 'Juan Vega', 'Tarjeta'),
 (44,
  datetime.date(2024, 1, 2),
  'Irene',
  'Rodríguez',
  'María Medina',
  'Tarjeta'),
 (45, datetime.date(2024, 1, 2), 'Carmen', 'Ramos', 'Paula Alonso', 'Tarjeta'),
 (46,
  datetime.date(2024, 1, 3),
  'Manuel',
  'Delgado',
  'José Sánchez',
  'Efectivo'),
 (47, datetime.date(2024, 1, 3), 'Elena', 'Herrera', 'Eva Reyes', 'Tarjeta'),
 (48, datetime.date(2024, 1, 3), 'Gonzalo', 'Vega', 'Lucía León', 'Tarjeta'),
 (49,
  datetime.date(2024, 1, 3),
  'Fernando',
  'Castillo',
  'Daniel Fuentes',
  'Efectivo'),
 (50, datetime.date(2024, 1, 3), 'Ana', 'León', 'José Álvarez', 'Tarjeta'),
 (51, datetime.date(2024, 1, 3), 'Javier', 'García', 'Rocío Vega', 'Tarjeta'),
 (52,
  datetime.date(2024, 1, 3),
  'Gonzalo',
  'Fuentes',
  'Irene Castro',
  'Efectivo'),
 (53, datetime.date(2024, 1, 3), 'Manuel', 'Reyes', 'Luis Moreno', 'Efectivo'),
 (54, datetime.date(2024, 1, 3), 'José', 'Ruiz', 'Ana Alonso', 'Tarjeta'),
 (55, datetime.date(2024, 1, 3), 'Eva', 'Álvarez', 'Marta López', 'Tarjeta'),
 (56, datetime.date(2024, 1, 3), 'Isabel', 'Herrera', 'Jorge Gil', 'Tarjeta'),
 (57,
  datetime.date(2024, 1, 3),
  'Noelia',
  'Fernández',
  'María Cabrera',
  'Tarjeta'),
 (58,
  datetime.date(2024, 1, 3),
  'Ricardo',
  'Torres',
  'María Cabrera',
  'Tarjeta'),
 (59, datetime.date(2024, 1, 3), 'Jorge', 'Fuentes', 'Elena Gil', 'Efectivo'),
 (60, datetime.date(2024, 1, 3), 'Vera', 'Jiménez', 'Paula León', 'Tarjeta'),
 (61, datetime.date(2024, 1, 3), 'Olga', 'Díaz', 'Rocío Gil', 'Tarjeta'),
 (62,
  datetime.date(2024, 1, 3),
  'Alberto',
  'Iglesias',
  'Noelia Serrano',
  'Tarjeta'),
 (63,
  datetime.date(2024, 1, 3),
  'Patricia',
  'Martínez',
  'Eva Ramos',
  'Efectivo'),
 (64,
  datetime.date(2024, 1, 3),
  'Antonio',
  'Hernández',
  'José Serrano',
  'Tarjeta'),
 (65, datetime.date(2024, 1, 3), 'Elena', 'Pérez', 'Noelia Calvo', 'Tarjeta'),
 (66,
  datetime.date(2024, 1, 3),
  'Francisco',
  'Rubio',
  'Pablo Ramírez',
  'Tarjeta'),
 (67, datetime.date(2024, 1, 3), 'Daniel', 'Castro', 'Carlos Gil', 'Tarjeta'),
 (68,
  datetime.date(2024, 1, 4),
  'Natalia',
  'Jiménez',
  'Antonio López',
  'Tarjeta'),
 (69,
  datetime.date(2024, 1, 4),
  'Marta',
  'Rubio',
  'Andrés Castillo',
  'Efectivo'),
 (70,
  datetime.date(2024, 1, 4),
  'Sofía',
  'Martínez',
  'Patricia Iglesias',
  'Tarjeta'),
 (71, datetime.date(2024, 1, 4), 'Julia', 'Cruz', 'Juan Jiménez', 'Efectivo'),
 (72,
  datetime.date(2024, 1, 4),
  'Rocío',
  'Ramírez',
  'Gonzalo Fernández',
  'Tarjeta'),
 (73,
  datetime.date(2024, 1, 4),
  'Carlos',
  'Ruiz',
  'Amelia González',
  'Tarjeta'),
 (74, datetime.date(2024, 1, 4), 'Juan', 'Peña', 'María Ramos', 'Efectivo'),
 (75,
  datetime.date(2024, 1, 4),
  'José',
  'Iglesias',
  'Vera Torres',
  'Efectivo'),
 (76, datetime.date(2024, 1, 4), 'Diego', 'Jiménez', 'Pablo Vega', 'Tarjeta'),
 (77, datetime.date(2024, 1, 4), 'Ana', 'Peña', 'Irene Castro', 'Tarjeta'),
 (78,
  datetime.date(2024, 1, 4),
  'Elena',
  'Rodríguez',
  'Teresa Vázquez',
  'Efectivo'),
 (79, datetime.date(2024, 1, 4), 'Ana', 'Castillo', 'Pedro León', 'Tarjeta'),
 (80, datetime.date(2024, 1, 4), 'Manuel', 'López', 'Elena Gil', 'Tarjeta'),
 (81,
  datetime.date(2024, 1, 4),
  'Laura',
  'Medina',
  'María Hernández',
  'Tarjeta'),
 (82, datetime.date(2024, 1, 4), 'Olga', 'Moreno', 'Jorge Díaz', 'Efectivo'),
 (83,
  datetime.date(2024, 1, 4),
  'Carmen',
  'Romero',
  'Isabel Calvo',
  'Tarjeta'),
 (84,
  datetime.date(2024, 1, 4),
  'Paula',
  'Rodríguez',
  'Irene González',
  'Efectivo'),
 (85,
  datetime.date(2024, 1, 4),
  'José',
  'Martínez',
  'Antonio Serrano',
  'Tarjeta'),
 (86, datetime.date(2024, 1, 4), 'Daniel', 'Pérez', 'Sofía Ruiz', 'Tarjeta'),
 (87, datetime.date(2024, 1, 4), 'Carmen', 'Gil', 'Eva Sánchez', 'Tarjeta'),
 (88,
  datetime.date(2024, 1, 4),
  'Roberto',
  'Guerrero',
  'Sergio Iglesias',
  'Tarjeta'),
 (89, datetime.date(2024, 1, 5), 'Isabel', 'Delgado', 'María Peña', 'Tarjeta'),
 (90,
  datetime.date(2024, 1, 5),
  'Vera',
  'Ortega',
  'Francisco Romero',
  'Tarjeta'),
 (91,
  datetime.date(2024, 1, 5),
  'Manuel',
  'Ramírez',
  'Daniel Reyes',
  'Tarjeta'),
 (92, datetime.date(2024, 1, 5), 'Elena', 'Delgado', 'María Ramos', 'Tarjeta'),
 (93, datetime.date(2024, 1, 5), 'Irene', 'López', 'Rocío Vega', 'Tarjeta'),
 (94, datetime.date(2024, 1, 5), 'María', 'Ramos', 'Irene Vázquez', 'Tarjeta'),
 (95,
  datetime.date(2024, 1, 5),
  'Andrés',
  'Rodríguez',
  'Carlos Navarro',
  'Tarjeta'),
 (96,
  datetime.date(2024, 1, 5),
  'Carlos',
  'Domínguez',
  'José Sánchez',
  'Tarjeta'),
 (97,
  datetime.date(2024, 1, 5),
  'Gonzalo',
  'Álvarez',
  'Marta López',
  'Tarjeta'),
 (98, datetime.date(2024, 1, 5), 'Teresa', 'Marín', 'Andrés Peña', 'Tarjeta'),
 (99,
  datetime.date(2024, 1, 5),
  'Pablo',
  'Ortega',
  'Enrique Fuentes',
  'Tarjeta'),
 (100,
  datetime.date(2024, 1, 5),
  'Antonio',
  'Muñoz',
  'Vera Torres',
  'Tarjeta'),
 (101,
  datetime.date(2024, 1, 5),
  'Lucía',
  'Flores',
  'Amelia Vázquez',
  'Efectivo'),
 (102, datetime.date(2024, 1, 5), 'Eva', 'Navarro', 'Pablo Vega', 'Tarjeta'),
 (103,
  datetime.date(2024, 1, 5),
  'Alicia',
  'Molina',
  'Manuel Martínez',
  'Tarjeta'),
 (104,
  datetime.date(2024, 1, 5),
  'Ana',
  'Martínez',
  'Isabel Flores',
  'Efectivo'),
 (105,
  datetime.date(2024, 1, 5),
  'Carlos',
  'Romero',
  'Eva Campos',
  'Efectivo'),
 (106, datetime.date(2024, 1, 5), 'Olga', 'Peña', 'Rafael Navarro', 'Tarjeta'),
 (107, datetime.date(2024, 1, 5), 'Julia', 'Rubio', 'Luis Ortiz', 'Tarjeta'),
 (108,
  datetime.date(2024, 1, 5),
  'Pablo',
  'Herrera',
  'Isabel Calvo',
  'Efectivo'),
 (109, datetime.date(2024, 1, 5), 'Eva', 'Cruz', 'Luis Campos', 'Tarjeta'),
 (110, datetime.date(2024, 1, 5), 'José', 'Serrano', 'Sara Peña', 'Tarjeta'),
 (111,
  datetime.date(2024, 1, 5),
  'Adriana',
  'Castillo',
  'Sara Muñoz',
  'Tarjeta'),
 (112,
  datetime.date(2024, 1, 5),
  'Lucía',
  'Cabrera',
  'Ricardo Romero',
  'Tarjeta'),
 (113, datetime.date(2024, 1, 6), 'Jorge', 'Moreno', 'Luis Reyes', 'Tarjeta'),
 (114,
  datetime.date(2024, 1, 6),
  'Olga',
  'Fuentes',
  'Olga Ortega',
  'Efectivo'),
 (115, datetime.date(2024, 1, 6), 'Pablo', 'Ortiz', 'Noelia Calvo', 'Tarjeta'),
 (116,
  datetime.date(2024, 1, 6),
  'Roberto',
  'Álvarez',
  'Jorge López',
  'Tarjeta'),
 (117,
  datetime.date(2024, 1, 6),
  'Alicia',
  'Campos',
  'Vera Torres',
  'Tarjeta'),
 (118,
  datetime.date(2024, 1, 6),
  'Alberto',
  'Ortiz',
  'Sergio García',
  'Tarjeta'),
 (119,
  datetime.date(2024, 1, 6),
  'Laura',
  'Castillo',
  'Luis Moreno',
  'Efectivo'),
 (120,
  datetime.date(2024, 1, 6),
  'Roberto',
  'Alonso',
  'Andrés Domínguez',
  'Tarjeta'),
 (121,
  datetime.date(2024, 1, 6),
  'Ricardo',
  'Cabrera',
  'José Gutiérrez',
  'Tarjeta'),
 (122,
  datetime.date(2024, 1, 6),
  'Lucía',
  'Iglesias',
  'Patricia Álvarez',
  'Efectivo'),
 (123,
  datetime.date(2024, 1, 6),
  'Pedro',
  'Moreno',
  'Juan Jiménez',
  'Tarjeta'),
 (124,
  datetime.date(2024, 1, 6),
  'Álvaro',
  'Moreno',
  'Rafael Alonso',
  'Tarjeta'),
 (125,
  datetime.date(2024, 1, 6),
  'Fernando',
  'Serrano',
  'Vera Iglesias',
  'Efectivo'),
 (126,
  datetime.date(2024, 1, 6),
  'Ana',
  'Herrera',
  'Isabel Flores',
  'Efectivo'),
 (127,
  datetime.date(2024, 1, 6),
  'Alberto',
  'Reyes',
  'Noelia Ortega',
  'Tarjeta'),
 (128, datetime.date(2024, 1, 6), 'Adriana', 'León', 'Eva Sánchez', 'Tarjeta'),
 (129,
  datetime.date(2024, 1, 6),
  'Fernando',
  'Delgado',
  'Sergio Iglesias',
  'Efectivo'),
 (130,
  datetime.date(2024, 1, 6),
  'Olga',
  'Castillo',
  'Vera Moreno',
  'Tarjeta'),
 (131,
  datetime.date(2024, 1, 6),
  'Javier',
  'Delgado',
  'Juan Cabrera',
  'Efectivo'),
 (132,
  datetime.date(2024, 1, 7),
  'Sara',
  'Castro',
  'Paula García',
  'Efectivo'),
 (133, datetime.date(2024, 1, 7), 'Clara', 'Calvo', 'Lucía León', 'Tarjeta'),
 (134,
  datetime.date(2024, 1, 7),
  'Álvaro',
  'Medina',
  'María Castro',
  'Tarjeta'),
 (135,
  datetime.date(2024, 1, 7),
  'Manuel',
  'Delgado',
  'Manuel Moreno',
  'Efectivo'),
 (136, datetime.date(2024, 1, 7), 'Jorge', 'Díaz', 'Rocío León', 'Tarjeta'),
 (137, datetime.date(2024, 1, 7), 'María', 'Cruz', 'Laura Moreno', 'Efectivo'),
 (138, datetime.date(2024, 1, 7), 'Julia', 'Rubio', 'Carlos Calvo', 'Tarjeta'),
 (139,
  datetime.date(2024, 1, 7),
  'Isabel',
  'Alonso',
  'Irene Vázquez',
  'Tarjeta'),
 (140,
  datetime.date(2024, 1, 7),
  'Ricardo',
  'García',
  'Antonio López',
  'Efectivo'),
 (141,
  datetime.date(2024, 1, 7),
  'Roberto',
  'Flores',
  'Paula Alonso',
  'Efectivo'),
 (142,
  datetime.date(2024, 1, 7),
  'Francisco',
  'Martínez',
  'Rocío León',
  'Tarjeta'),
 (143,
  datetime.date(2024, 1, 7),
  'Alberto',
  'Ramos',
  'Pablo Ramírez',
  'Tarjeta'),
 (144,
  datetime.date(2024, 1, 7),
  'Pablo',
  'Castillo',
  'Marta López',
  'Tarjeta'),
 (145,
  datetime.date(2024, 1, 7),
  'Sofía',
  'Herrera',
  'Francisco Fuentes',
  'Efectivo'),
 (146, datetime.date(2024, 1, 7), 'Vera', 'Díaz', 'Roberto Pérez', 'Tarjeta'),
 (147, datetime.date(2024, 1, 7), 'Rocío', 'Vega', 'Vera Gil', 'Efectivo'),
 (148, datetime.date(2024, 1, 7), 'Ana', 'Medina', 'Marta Marín', 'Efectivo'),
 (149,
  datetime.date(2024, 1, 7),
  'Paula',
  'Gil',
  'Antonio Serrano',
  'Tarjeta'),
 (150,
  datetime.date(2024, 1, 7),
  'Antonio',
  'Guerrero',
  'Manuel Muñoz',
  'Tarjeta'),
 (151, datetime.date(2024, 1, 7), 'Eva', 'Pérez', 'Jorge López', 'Tarjeta'),
 (152,
  datetime.date(2024, 1, 7),
  'Pablo',
  'Fuentes',
  'Irene Herrera',
  'Tarjeta'),
 (153,
  datetime.date(2024, 1, 8),
  'Gonzalo',
  'Domínguez',
  'Carlos Rodríguez',
  'Efectivo'),
 (154,
  datetime.date(2024, 1, 8),
  'Luis',
  'Serrano',
  'Irene Castro',
  'Efectivo'),
 (155, datetime.date(2024, 1, 8), 'Luis', 'Santos', 'Diego Vega', 'Tarjeta'),
 (156,
  datetime.date(2024, 1, 8),
  'Alberto',
  'Ortiz',
  'Julia Ortiz',
  'Tarjeta'),
 (157, datetime.date(2024, 1, 8), 'Lucía', 'Marín', 'María Peña', 'Efectivo'),
 (158,
  datetime.date(2024, 1, 8),
  'Fernando',
  'Domínguez',
  'Vera Vázquez',
  'Efectivo'),
 (159,
  datetime.date(2024, 1, 8),
  'Elena',
  'Calvo',
  'Enrique Marín',
  'Efectivo'),
 (160,
  datetime.date(2024, 1, 8),
  'Carmen',
  'Santos',
  'Pablo Vega',
  'Efectivo'),
 (161, datetime.date(2024, 1, 8), 'Paula', 'Santos', 'Lucía León', 'Efectivo'),
 (162,
  datetime.date(2024, 1, 8),
  'Sergio',
  'Delgado',
  'Isabel García',
  'Efectivo'),
 (163, datetime.date(2024, 1, 8), 'Sara', 'Molina', 'José Sánchez', 'Tarjeta'),
 (164,
  datetime.date(2024, 1, 8),
  'Irene',
  'Carrasco',
  'Sergio García',
  'Tarjeta'),
 (165,
  datetime.date(2024, 1, 8),
  'Laura',
  'Gutiérrez',
  'Elena Moreno',
  'Efectivo'),
 (166,
  datetime.date(2024, 1, 8),
  'Vera',
  'Iglesias',
  'Sofía Ortega',
  'Tarjeta'),
 (167,
  datetime.date(2024, 1, 8),
  'Laura',
  'Ortega',
  'Irene Vázquez',
  'Tarjeta'),
 (168, datetime.date(2024, 1, 8), 'Lucía', 'Reyes', 'Carlos Gil', 'Tarjeta'),
 (169,
  datetime.date(2024, 1, 8),
  'Pedro',
  'Torres',
  'Patricia Iglesias',
  'Tarjeta'),
 (170,
  datetime.date(2024, 1, 8),
  'Sergio',
  'Ortiz',
  'Enrique Fuentes',
  'Efectivo'),
 (171,
  datetime.date(2024, 1, 8),
  'Sergio',
  'Torres',
  'María Ramos',
  'Efectivo'),
 (172,
  datetime.date(2024, 1, 9),
  'José',
  'Ortiz',
  'Noelia Serrano',
  'Efectivo'),
 (173,
  datetime.date(2024, 1, 9),
  'Ricardo',
  'Sánchez',
  'Patricia Castro',
  'Tarjeta'),
 (174,
  datetime.date(2024, 1, 9),
  'Pablo',
  'Fernández',
  'Sofía Hernández',
  'Efectivo'),
 (175,
  datetime.date(2024, 1, 9),
  'Diego',
  'Vega',
  'Lucía Hernández',
  'Tarjeta'),
 (176,
  datetime.date(2024, 1, 9),
  'María',
  'Pérez',
  'Patricia Moreno',
  'Efectivo'),
 (177,
  datetime.date(2024, 1, 9),
  'Paula',
  'Cabrera',
  'Eva Guerrero',
  'Tarjeta'),
 (178,
  datetime.date(2024, 1, 9),
  'Roberto',
  'Reyes',
  'Gonzalo González',
  'Tarjeta'),
 (179,
  datetime.date(2024, 1, 9),
  'Natalia',
  'Moreno',
  'Francisco Flores',
  'Efectivo'),
 (180,
  datetime.date(2024, 1, 9),
  'Jorge',
  'Pérez',
  'Enrique Guerrero',
  'Tarjeta'),
 (181,
  datetime.date(2024, 1, 9),
  'Alberto',
  'Cabrera',
  'Luis Vega',
  'Efectivo'),
 (182, datetime.date(2024, 1, 9), 'María', 'Medina', 'María Peña', 'Efectivo'),
 (183, datetime.date(2024, 1, 9), 'Manuel', 'Cruz', 'Rafael Marín', 'Tarjeta'),
 (184,
  datetime.date(2024, 1, 9),
  'Sofía',
  'Delgado',
  'Clara Campos',
  'Tarjeta'),
 (185,
  datetime.date(2024, 1, 9),
  'Javier',
  'Vega',
  'Teresa Jiménez',
  'Tarjeta'),
 (186,
  datetime.date(2024, 1, 9),
  'Paula',
  'Guerrero',
  'María Serrano',
  'Efectivo'),
 (187, datetime.date(2024, 1, 9), 'Pablo', 'Vázquez', 'Rocío Gil', 'Tarjeta'),
 (188, datetime.date(2024, 1, 9), 'Marta', 'Díaz', 'Luis Ortiz', 'Tarjeta'),
 (189,
  datetime.date(2024, 1, 9),
  'Clara',
  'Torres',
  'Rafael Alonso',
  'Efectivo'),
 (190, datetime.date(2024, 1, 9), 'Jorge', 'Ruiz', 'Elena Gil', 'Tarjeta'),
 (191,
  datetime.date(2024, 1, 9),
  'Luis',
  'Peña',
  'Andrés Domínguez',
  'Efectivo'),
 (192,
  datetime.date(2024, 1, 9),
  'Natalia',
  'Rodríguez',
  'José Herrera',
  'Efectivo'),
 (193, datetime.date(2024, 1, 9), 'Julia', 'Gil', 'Noelia Serrano', 'Tarjeta'),
 (194,
  datetime.date(2024, 1, 9),
  'Lucía',
  'Romero',
  'Roberto Calvo',
  'Tarjeta'),
 (195,
  datetime.date(2024, 1, 9),
  'Vera',
  'Cruz',
  'Daniel Hernández',
  'Efectivo'),
 (196,
  datetime.date(2024, 1, 10),
  'Daniel',
  'Cruz',
  'Sara Ramírez',
  'Tarjeta'),
 (197,
  datetime.date(2024, 1, 10),
  'Antonio',
  'Guerrero',
  'Sergio Hernández',
  'Efectivo'),
 (198,
  datetime.date(2024, 1, 10),
  'Ricardo',
  'Díaz',
  'Teresa León',
  'Tarjeta'),
 (199, datetime.date(2024, 1, 10), 'Paula', 'Muñoz', 'Sara Muñoz', 'Efectivo'),
 (200, datetime.date(2024, 1, 10), 'Sara', 'Ortiz', 'Carlos Calvo', 'Tarjeta'),
 (201,
  datetime.date(2024, 1, 10),
  'Víctor',
  'Navarro',
  'Paula García',
  'Tarjeta'),
 (202,
  datetime.date(2024, 1, 10),
  'Carmen',
  'Medina',
  'Jorge López',
  'Tarjeta'),
 (203, datetime.date(2024, 1, 10), 'Andrés', 'León', 'Eva Campos', 'Tarjeta'),
 (204,
  datetime.date(2024, 1, 10),
  'Javier',
  'Muñoz',
  'Daniel Reyes',
  'Efectivo'),
 (205,
  datetime.date(2024, 1, 10),
  'Alicia',
  'Serrano',
  'Isabel Flores',
  'Tarjeta'),
 (206,
  datetime.date(2024, 1, 10),
  'Diego',
  'Gutiérrez',
  'Fernando Alonso',
  'Tarjeta'),
 (207,
  datetime.date(2024, 1, 10),
  'Fernando',
  'Guerrero',
  'Julia Ortiz',
  'Tarjeta'),
 (208,
  datetime.date(2024, 1, 10),
  'Paula',
  'Santos',
  'Rafael Navarro',
  'Tarjeta'),
 (209,
  datetime.date(2024, 1, 10),
  'Rocío',
  'Ramos',
  'Paula Alonso',
  'Efectivo'),
 (210,
  datetime.date(2024, 1, 10),
  'Carmen',
  'Romero',
  'Vera Rubio',
  'Tarjeta'),
 (211,
  datetime.date(2024, 1, 10),
  'Laura',
  'Moreno',
  'Rafael Alonso',
  'Tarjeta'),
 (212,
  datetime.date(2024, 1, 10),
  'Álvaro',
  'García',
  'Marta García',
  'Tarjeta'),
 (213,
  datetime.date(2024, 1, 10),
  'Roberto',
  'Molina',
  'Andrés Peña',
  'Tarjeta'),
 (214,
  datetime.date(2024, 1, 10),
  'Diego',
  'Campos',
  'Elena Moreno',
  'Tarjeta'),
 (215,
  datetime.date(2024, 1, 10),
  'Isabel',
  'Carrasco',
  'Julia Ortiz',
  'Tarjeta'),
 (216,
  datetime.date(2024, 1, 10),
  'Isabel',
  'Navarro',
  'Eva Campos',
  'Tarjeta'),
 (217,
  datetime.date(2024, 1, 11),
  'Julia',
  'Rubio',
  'Juan Cabrera',
  'Tarjeta'),
 (218, datetime.date(2024, 1, 11), 'Juan', 'León', 'Rocío León', 'Tarjeta'),
 (219,
  datetime.date(2024, 1, 11),
  'Ricardo',
  'Carrasco',
  'Juan Reyes',
  'Tarjeta'),
 (220, datetime.date(2024, 1, 11), 'Luis', 'Santos', 'José Peña', 'Tarjeta'),
 (221,
  datetime.date(2024, 1, 11),
  'Pedro',
  'Sánchez',
  'Elena Ramírez',
  'Tarjeta'),
 (222, datetime.date(2024, 1, 11), 'Olga', 'Díaz', 'Pablo Serrano', 'Tarjeta'),
 (223,
  datetime.date(2024, 1, 11),
  'Amelia',
  'Domínguez',
  'Diego Vega',
  'Efectivo'),
 (224,
  datetime.date(2024, 1, 11),
  'Sofía',
  'Herrera',
  'Paula Alonso',
  'Tarjeta'),
 (225,
  datetime.date(2024, 1, 11),
  'Alberto',
  'Santos',
  'Rafael Alonso',
  'Tarjeta'),
 (226,
  datetime.date(2024, 1, 11),
  'Antonio',
  'Rubio',
  'José González',
  'Efectivo'),

2. Productos con stock bajo
* Filtra aquellos productos cuyo stock sea menor a 10.
* Muestra nombre del producto, categoría y stock.

In [37]:
sql = ('SELECT p.nombre_producto, c.nombre_categoria, p.stock FROM productos p JOIN categorias c ON p.id_categoria = c.id_categoria WHERE p.stock < 10;')
consultas(sql)

[('Yogur', 'Lácteos', 6), ('Papas fritas', 'Snacks', 4)]

3. Ventas totales por categoría
* Muestra el nombre de la categoría y la suma total de las ventas (ej.: multiplicando cantidad * precio_unitario) para cada categoría.
* Realiza el JOIN con detalle_orden, productos y categorias.
* Utiliza agrupación (GROUP BY).

In [38]:
sql = ('SELECT c.nombre_categoria as categoria, sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) as ventas_netas, sum(d.precio_unitario * d.cantidad) as ventas_brutas FROM categorias c JOIN productos p ON p.id_categoria = c.id_categoria JOIN detalle_orden d ON d.id_producto = p.id_producto group by c.id_categoria;')
consultas(sql)

[('Carnes', 201401.62, 201401.62),
 ('Limpieza', 153845.14, 153845.14),
 ('Hogar', 172332.85, 172332.85),
 ('Perfumería', 199882.86, 199882.86),
 ('Frutas', 182328.15, 182328.15),
 ('Snacks', 283837.2, 283837.2),
 ('Lácteos', 187404.56, 187404.56),
 ('Verduras', 193789.07, 193789.07),
 ('Bebidas', 185699.63, 185699.63),
 ('Jardín', 217066.01, 217066.01)]

4. Clientes con mayores gastos acumulados
* Muestra el nombre del cliente y el monto total que ha gastado (suma de todas sus órdenes).
* Asegúrate de tener en cuenta posibles descuentos (descuento) si se ha definido. Por ejemplo, la fórmula podría ser (cantidad * precio_unitario) - descuento.
* Ordena el resultado de mayor a menor gasto acumulado.

In [39]:
sql = ('SELECT c.first_name as nombre, c.last_name as apellido, sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) as compras FROM clientes c JOIN ordenes o ON c.id_cliente = o.id_cliente JOIN detalle_orden d ON d.id_orden = o.id_orden GROUP BY c.id_cliente ORDER BY sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) DESC;')
consultas(sql)

[('Vera', 'Jiménez', 4086.73),
 ('Eva', 'Medina', 3027.77),
 ('Olga', 'Serrano', 2978.51),
 ('Manuel', 'Reyes', 2895.15),
 ('Noelia', 'Serrano', 2888.27),
 ('Lucía', 'Marín', 2884.28),
 ('Paula', 'Vega', 2857.29),
 ('Lucía', 'Hernández', 2855.11),
 ('Isabel', 'García', 2854.47),
 ('Ricardo', 'Navarro', 2846.9),
 ('Álvaro', 'Navarro', 2815.32),
 ('Olga', 'Sánchez', 2799.26),
 ('Carmen', 'Ramos', 2792.96),
 ('Eva', 'González', 2634.79),
 ('Sara', 'Castro', 2634.49),
 ('Ana', 'Peña', 2625.91),
 ('Isabel', 'Peña', 2571.6),
 ('Alberto', 'Moreno', 2563.45),
 ('Pablo', 'Reyes', 2546.23),
 ('Alicia', 'Torres', 2541.52),
 ('Manuel', 'Molina', 2538.45),
 ('Alicia', 'Serrano', 2490.47),
 ('Rafael', 'Ortiz', 2464.6),
 ('Natalia', 'Pérez', 2462.25),
 ('Julia', 'Sánchez', 2417.92),
 ('Antonio', 'Ortiz', 2399.94),
 ('Clara', 'Domínguez', 2394.12),
 ('Álvaro', 'Ruiz', 2384.78),
 ('Manuel', 'Fuentes', 2382.64),
 ('Olga', 'Alonso', 2376.51),
 ('Fernando', 'López', 2360.36),
 ('Francisco', 'Calvo', 2355.75),
 ('Álvaro', 'Muñoz', 2352.8),
 ('Álvaro', 'Muñoz', 2346.76),
 ('Sergio', 'Ramos', 2342.25),
 ('Pablo', 'González', 2335.08),
 ('Isabel', 'Delgado', 2334.64),
 ('Álvaro', 'Santos', 2314.14),
 ('Pedro', 'López', 2295.3),
 ('Pedro', 'Gutiérrez', 2290.33),
 ('Ricardo', 'Ruiz', 2257.95),
 ('Pedro', 'Calvo', 2251.26),
 ('Pablo', 'Serrano', 2248.32),
 ('Manuel', 'García', 2239.95),
 ('Francisco', 'Guerrero', 2235.04),
 ('Roberto', 'Guerrero', 2234.65),
 ('Fernando', 'Gil', 2234.17),
 ('Pedro', 'Gutiérrez', 2232.71),
 ('Manuel', 'García', 2232.56),
 ('José', 'Cabrera', 2231.17),
 ('Olga', 'Fuentes', 2226.93),
 ('Marta', 'León', 2225.95),
 ('Ana', 'Medina', 2206.42),
 ('Paula', 'Marín', 2196.23),
 ('Diego', 'Cabrera', 2184.54),
 ('Carmen', 'Romero', 2184.0),
 ('Juan', 'Ortiz', 2181.64),
 ('Antonio', 'Castro', 2176.66),
 ('Vera', 'Gutiérrez', 2163.95),
 ('Elena', 'Castro', 2139.17),
 ('Laura', 'Moreno', 2131.36),
 ('Irene', 'Rodríguez', 2129.45),
 ('Elena', 'Gil', 2120.29),
 ('Clara', 'Vega', 2119.64),
 ('María', 'León', 2117.18),
 ('Olga', 'Ortiz', 2114.15),
 ('Víctor', 'López', 2113.68),
 ('Isabel', 'Reyes', 2108.82),
 ('Patricia', 'Vega', 2104.12),
 ('Lucía', 'Ramírez', 2100.98),
 ('Alberto', 'Vázquez', 2094.69),
 ('Carmen', 'Campos', 2087.81),
 ('Gonzalo', 'Rodríguez', 2084.27),
 ('Ricardo', 'Pérez', 2081.6),
 ('José', 'Navarro', 2078.19),
 ('Natalia', 'Alonso', 2076.34),
 ('Lucía', 'Flores', 2062.17),
 ('Pablo', 'Vázquez', 2058.18),
 ('Alberto', 'Iglesias', 2051.3),
 ('Alberto', 'Reyes', 2047.18),
 ('Ricardo', 'Ortiz', 2046.83),
 ('Noelia', 'Gutiérrez', 2045.78),
 ('Luis', 'Hernández', 2041.05),
 ('Víctor', 'Moreno', 2033.54),
 ('Carmen', 'Santos', 2031.55),
 ('Gonzalo', 'Campos', 2026.91),
 ('Elena', 'Rodríguez', 2026.55),
 ('Natalia', 'Gutiérrez', 2024.94),
 ('Juan', 'Torres', 2018.9),
 ('Adriana', 'Muñoz', 2012.94),
 ('Sergio', 'Marín', 2012.52),
 ('Clara', 'Gil', 2009.51),
 ('Carlos', 'Romero', 2008.25),
 ('Eva', 'Cabrera', 2004.58),
 ('Pablo', 'Medina', 1996.27),
 ('Paula', 'Santos', 1995.85),
 ('Enrique', 'Fuentes', 1993.0),
 ('Sara', 'Ortega', 1992.35),
 ('Víctor', 'Pérez', 1989.72),
 ('Olga', 'Gil', 1979.8),
 ('Sergio', 'Reyes', 1970.47),
 ('Pablo', 'García', 1970.0),
 ('Pedro', 'Calvo', 1969.55),
 ('Alberto', 'Rodríguez', 1968.59),
 ('Enrique', 'Medina', 1968.2),
 ('Antonio', 'Peña', 1965.64),
 ('Javier', 'García', 1964.2),
 ('Eva', 'Navarro', 1956.95),
 ('Olga', 'Medina', 1954.87),
 ('Gonzalo', 'Serrano', 1950.57),
 ('Ana', 'Fuentes', 1948.45),
 ('Sara', 'López', 1937.03),
 ('Diego', 'Santos', 1934.55),
 ('Gonzalo', 'Cruz', 1931.64),
 ('Pablo', 'Cabrera', 1931.43),
 ('Jorge', 'Sánchez', 1928.82),
 ('Marta', 'Fernández', 1928.47),
 ('Isabel', 'Calvo', 1927.7),
 ('Pedro', 'López', 1915.03),
 ('Pedro', 'Campos', 1913.6),
 ('José', 'Ortiz', 1909.72),
 ('Alberto', 'Castillo', 1909.48),
 ('Marta', 'Ortiz', 1908.92),
 ('Hugo', 'Jiménez', 1904.56),
 ('Andrés', 'Torres', 1904.07),
 ('Eva', 'Álvarez', 1901.98),
 ('Pablo', 'Fernández', 1887.67),
 ('Ricardo', 'Reyes', 1876.56),
 ('Diego', 'Sánchez', 1859.17),
 ('Juan', 'Carrasco', 1855.86),
 ('Manuel', 'Castillo', 1851.87),
 ('Fernando', 'Guerrero', 1845.39),
 ('Daniel', 'Peña', 1838.1),
 ('Juan', 'Navarro', 1837.87),
 ('Lucía', 'Hernández', 1836.14),
 ('Luis', 'Serrano', 1835.24),
 ('Elena', 'Rodríguez', 1833.22),
 ('Carlos', 'Rubio', 1830.67),
 ('Antonio', 'Delgado', 1830.04),
 ('Lucía', 'Romero', 1828.79),
 ('Irene', 'Gil', 1824.22),
 ('Teresa', 'Díaz', 1819.97),
 ('Andrés', 'Gil', 1818.6),
 ('Roberto', 'Moreno', 1815.9),
 ('Manuel', 'Herrera', 1815.52),
 ('Patricia', 'Castillo', 1803.36),
 ('Alberto', 'Peña', 1803.29),
 ('Ana', 'León', 1800.71),
 ('Noelia', 'Guerrero', 1798.75),
 ('Ricardo', 'Jiménez', 1788.5),
 ('Lucía', 'Reyes', 1787.66),
 ('Rocío', 'García', 1786.88),
 ('Luis', 'Iglesias', 1785.12),
 ('Rocío', 'Cruz', 1784.38),
 ('Carlos', 'Peña', 1782.43),
 ('Gonzalo', 'Peña', 1782.31),
 ('Pablo', 'González', 1780.51),
 ('Daniel', 'López', 1778.44),
 ('Luis', 'Alonso', 1774.09),
 ('Alberto', 'Fuentes', 1772.98),
 ('Luis', 'Hernández', 1772.23),
 ('Enrique', 'Torres', 1769.58),
 ('Amelia', 'Cruz', 1768.15),
 ('Antonio', 'Ramírez', 1762.97),
 ('Roberto', 'Campos', 1761.88),
 ('Carmen', 'Peña', 1760.81),
 ('Ricardo', 'Carrasco', 1760.78),
 ('Francisco', 'Torres', 1758.48),
 ('Pablo', 'Herrera', 1757.48),
 ('Laura', 'Molina', 1751.03),
 ('Ana', 'Ramírez', 1749.2),
 ('Irene', 'Delgado', 1748.21),
 ('Rocío', 'Vega', 1745.59),
 ('Carlos', 'Iglesias', 1745.05),
 ('Julia', 'Marín', 1740.87),
 ('José', 'Calvo', 1739.35),
 ('Noelia', 'Fernández', 1738.34),
 ('Lucía', 'Cabrera', 1736.54),
 ('Jorge', 'Pérez', 1736.47),
 ('Natalia', 'Jiménez', 1734.32),
 ('Vera', 'Ramos', 1730.06),
 ('Gonzalo', 'González', 1729.67),
 ('Paula', 'Muñoz', 1727.1),
 ('Antonio', 'Ortega', 1726.72),
 ('José', 'Carrasco', 1726.22),
 ('Isabel', 'Cruz', 1725.73),
 ('Amelia', 'Navarro', 1725.2),
 ('José', 'Serrano', 1724.48),
 ('Ricardo', 'Díaz', 1721.27),
 ('Ana', 'Herrera', 1719.91),
 ('Carmen', 'Sánchez', 1717.36),
 ('Hugo', 'Calvo', 1714.41),
 ('Manuel', 'Fernández', 1709.17),
 ('Andrés', 'Gil', 1708.62),
 ('Lucía', 'Campos', 1707.68),
 ('Teresa', 'Gil', 1705.1),
 ('Sergio', 'Navarro', 1702.91),
 ('Luis', 'Castillo', 1695.67),
 ('Andrés', 'González', 1695.45),
 ('Pedro', 'Ramos', 1693.47),
 ('Olga', 'Herrera', 1693.14),
 ('Andrés', 'Molina', 1687.54),
 ('Vera', 'Reyes', 1686.72),
 ('María', 'Ramírez', 1686.26),
 ('Gonzalo', 'Martínez', 1682.26),
 ('José', 'Iglesias', 1680.93),
 ('Laura', 'Castro', 1677.09),
 ('Julia', 'Pérez', 1673.07),
 ('Elena', 'Pérez', 1666.53),
 ('Andrés', 'Jiménez', 1666.01),
 ('Elena', 'Gil', 1665.11),
 ('Enrique', 'Calvo', 1660.61),
 ('Rocío', 'García', 1657.79),
 ('Andrés', 'Santos', 1656.04),
 ('Pablo', 'Medina', 1652.28),
 ('Gonzalo', 'Álvarez', 1651.35),
 ('Andrés', 'Vega', 1649.22),
 ('Carmen', 'Medina', 1649.14),
 ('Pablo', 'Carrasco', 1649.04),
 ('Amelia', 'Domínguez', 1649.03),
 ('Juan', 'Molina', 1646.21),
 ('Laura', 'Peña', 1642.61),
 ('Noelia', 'Gutiérrez', 1642.18),
 ('Juan', 'Fernández', 1639.81),
 ('Pablo', 'Martínez', 1638.73),
 ('Isabel', 'Castro', 1635.5),
 ('Álvaro', 'Ortiz', 1632.04),
 ('Carmen', 'Fernández', 1631.47),
 ('Natalia', 'Castillo', 1631.13),
 ('Francisco', 'Castro', 1630.94),
 ('Jorge', 'García', 1629.98),
 ('Alicia', 'Álvarez', 1628.05),
 ('Julia', 'Campos', 1625.11),
 ('Diego', 'Campos', 1624.69),
 ('Elena', 'Iglesias', 1624.16),
 ('José', 'Ruiz', 1623.86),
 ('Rocío', 'Cabrera', 1623.85),
 ('Isabel', 'Guerrero', 1623.62),
 ('Olga', 'Serrano', 1623.29),
 ('Pedro', 'Navarro', 1621.84),
 ('Luis', 'Gutiérrez', 1620.0),
 ('Clara', 'Martínez', 1619.76),
 ('Laura', 'Torres', 1619.71),
 ('Patricia', 'Alonso', 1619.43),
 ('Olga', 'Delgado', 1618.07),
 ('Rocío', 'Delgado', 1617.71),
 ('Laura', 'Navarro', 1617.15),
 ('Roberto', 'Ramos', 1615.93),
 ('Ana', 'Gil', 1615.15),
 ('Andrés', 'Serrano', 1612.62),
 ('Marta', 'Hernández', 1612.25),
 ('Gonzalo', 'Herrera', 1612.09),
 ('Antonio', 'Iglesias', 1608.99),
 ('José', 'Rodríguez', 1608.98),
 ('Daniel', 'López', 1608.92),
 ('Patricia', 'Muñoz', 1608.19),
 ('Pedro', 'Medina', 1603.88),
 ('Olga', 'Castro', 1600.44),
 ('Carmen', 'Calvo', 1599.56),
 ('Juan', 'Muñoz', 1596.35),
 ('Sofía', 'Herrera', 1595.39),
 ('Víctor', 'Navarro', 1592.93),
 ('José', 'Ruiz', 1592.91),
 ('Sofía', 'Martínez', 1591.06),
 ('Carmen', 'Castillo', 1588.55),
 ('Rafael', 'Calvo', 1584.22),
 ('María', 'Díaz', 1583.82),
 ('Pablo', 'Peña', 1582.64),
 ('Javier', 'Pérez', 1582.06),
 ('Sergio', 'Torres', 1578.95),
 ('Sofía', 'Gil', 1577.62),
 ('Noelia', 'Muñoz', 1577.62),
 ('Sergio', 'Medina', 1573.77),
 ('Pablo', 'Martínez', 1570.74),
 ('Fernando', 'Rodríguez', 1570.0),
 ('Pedro', 'Fernández', 1569.13),
 ('Elena', 'Gil', 1566.14),
 ('Daniel', 'Fernández', 1566.14),
 ('Alberto', 'Rubio', 1563.11),
 ('Roberto', 'Cruz', 1562.52),
 ('Alberto', 'López', 1562.37),
 ('Manuel', 'Fuentes', 1555.67),
 ('Elena', 'Rubio', 1552.8),
 ('Gonzalo', 'Iglesias', 1552.32),
 ('Enrique', 'Santos', 1550.43),
 ('Javier', 'Torres', 1549.44),
 ('Andrés', 'Ortega', 1547.24),
 ('Francisco', 'Campos', 1546.94),
 ('Natalia', 'Torres', 1545.84),
 ('Eva', 'Carrasco', 1545.12),
 ('Laura', 'Peña', 1545.11),
 ('Gonzalo', 'Hernández', 1543.21),
 ('Rafael', 'Muñoz', 1542.55),
 ('Laura', 'Santos', 1541.61),
 ('Natalia', 'Peña', 1540.09),
 ('Amelia', 'Jiménez', 1537.34),
 ('Elena', 'Navarro', 1535.73),
 ('Sofía', 'Fuentes', 1534.12),
 ('Olga', 'Jiménez', 1533.22),
 ('Jorge', 'Álvarez', 1530.23),
 ('Irene', 'Alonso', 1527.24),
 ('Eva', 'Campos', 1526.73),
 ('Carlos', 'Álvarez', 1526.44),
 ('Alberto', 'Delgado', 1526.3),
 ('Alicia', 'Vega', 1523.04),
 ('Gonzalo', 'Castillo', 1522.25),
 ('Rocío', 'Hernández', 1521.37),
 ('Noelia', 'Cabrera', 1518.86),
 ('José', 'Romero', 1516.93),
 ('Luis', 'Serrano', 1515.96),
 ('Paula', 'López', 1513.99),
 ('Patricia', 'Vázquez', 1511.95),
 ('Andrés', 'Rodríguez', 1511.12),
 ('Amelia', 'Guerrero', 1511.07),
 ('Vera', 'López', 1509.31),
 ('Luis', 'Navarro', 1508.75),
 ('Andrés', 'Ortega', 1507.34),
 ('Olga', 'Vázquez', 1505.28),
 ('Hugo', 'Moreno', 1504.89),
 ('Alicia', 'Torres', 1504.17),
 ('María', 'Romero', 1503.58),
 ('Adriana', 'Ramos', 1500.83),
 ('Sergio', 'Santos', 1500.02),
 ('Rocío', 'Campos', 1499.85),
 ('Luis', 'León', 1499.46),
 ('Sofía', 'Carrasco', 1496.47),
 ('Diego', 'Muñoz', 1496.16),
 ('Noelia', 'Vega', 1495.55),
 ('Luis', 'Santos', 1492.23),
 ('Ana', 'Vega', 1490.45),
 ('Lucía', 'Álvarez', 1490.44),
 ('Manuel', 'Ramírez', 1489.57),
 ('Vera', 'Guerrero', 1486.97),
 ('Manuel', 'Pérez', 1486.94),
 ('Marta', 'Rubio', 1485.54),
 ('Andrés', 'Guerrero', 1485.38),
 ('Amelia', 'Fernández', 1481.09),
 ('Olga', 'Díaz', 1480.75),
 ('Sofía', 'Hernández', 1479.92),
 ('Amelia', 'Serrano', 1479.55),
 ('Enrique', 'Díaz', 1479.15),
 ('Adriana', 'Domínguez', 1472.84),
 ('Hugo', 'Vega', 1471.99),
 ('José', 'Castro', 1471.84),
 ('Alberto', 'Cabrera', 1468.11),
 ('Marta', 'Muñoz', 1467.84),
 ('Marta', 'Domínguez', 1467.34),
 ('Luis', 'Fuentes', 1466.14),
 ('Carmen', 'Guerrero', 1466.14),
 ('Sofía', 'Peña', 1464.18),
 ('Sofía', 'Serrano', 1463.22),
 ('Julia', 'Medina', 1460.88),
 ('Diego', 'Alonso', 1459.61),
 ('Antonio', 'Guerrero', 1457.69),
 ('Rocío', 'Ruiz', 1457.62),
 ('Vera', 'Molina', 1455.5),
 ('Rafael', 'Medina', 1454.48),
 ('Javier', 'Muñoz', 1452.71),
 ('Julia', 'Muñoz', 1450.79),
 ('Alicia', 'López', 1450.2),
 ('Amelia', 'Martínez', 1449.65),
 ('Carlos', 'Díaz', 1448.5),
 ('Eva', 'Cruz', 1448.47),
 ('Adriana', 'Flores', 1448.31),
 ('Irene', 'Romero', 1448.09),
 ('Roberto', 'Domínguez', 1446.73),
 ('José', 'Pérez', 1445.37),
 ('Carlos', 'Jiménez', 1444.93),
 ('Pablo', 'Rubio', 1442.68),
 ('Julia', 'Rubio', 1442.65),
 ('Teresa', 'Molina', 1441.11),
 ('Clara', 'Navarro', 1440.32),
 ('Carmen', 'Castillo', 1440.21),
 ('Sofía', 'Medina', 1438.52),
 ('Rocío', 'Cruz', 1436.14),
 ('Rocío', 'Ramírez', 1434.21),
 ('Diego', 'Alonso', 1433.84),
 ('Natalia', 'Iglesias', 1431.51),
 ('Lucía', 'Cabrera', 1431.27),
 ('Antonio', 'Muñoz', 1429.97),
 ('Julia', 'León', 1429.45),
 ('Víctor', 'Martínez', 1429.12),
 ('Elena', 'Rodríguez', 1429.07),
 ('Alicia', 'Campos', 1428.32),
 ('Javier', 'Ruiz', 1427.74),
 ('Antonio', 'Sánchez', 1427.34),
 ('Lucía', 'Iglesias', 1426.62),
 ('Sara', 'Muñoz', 1425.66),
 ('Julia', 'Navarro', 1422.93),
 ('Vera', 'Serrano', 1421.54),
 ('Irene', 'Peña', 1419.57),
 ('Irene', 'Ortiz', 1417.7),
 ('Julia', 'Guerrero', 1416.9),
 ('Pedro', 'Iglesias', 1416.64),
 ('Alberto', 'Muñoz', 1415.36),
 ('Luis', 'Sánchez', 1413.63),
 ('Marta', 'Martínez', 1411.87),
 ('Luis', 'Álvarez', 1411.19),
 ('Francisco', 'Moreno', 1410.84),
 ('Gonzalo', 'Guerrero', 1408.0),
 ('José', 'Cruz', 1405.22),
 ('Andrés', 'Rodríguez', 1399.8),
 ('Isabel', 'García', 1399.46),
 ('Irene', 'Peña', 1398.02),
 ('Andrés', 'Carrasco', 1397.92),
 ('Andrés', 'Gutiérrez', 1394.4),
 ('Adriana', 'Castillo', 1394.09),
 ('Lucía', 'Flores', 1389.93),
 ('Lucía', 'Torres', 1387.2),
 ('Lucía', 'Iglesias', 1387.18),
 ('Hugo', 'Romero', 1381.89),
 ('Vera', 'Serrano', 1381.8),
 ('Carlos', 'Hernández', 1380.77),
 ('Laura', 'Ramírez', 1380.57),
 ('Lucía', 'Campos', 1380.42),
 ('Julia', 'Serrano', 1380.21),
 ('Ana', 'Castillo', 1380.16),
 ('Hugo', 'Alonso', 1379.84),
 ('Víctor', 'Pérez', 1379.73),
 ('Víctor', 'Herrera', 1378.18),
 ('Paula', 'Peña', 1377.71),
 ('Juan', 'Castillo', 1376.89),
 ('Vera', 'León', 1376.75),
 ('Natalia', 'Guerrero', 1375.38),
 ('Luis', 'Pérez', 1374.88),
 ('Manuel', 'Romero', 1373.7),
 ('Rocío', 'Alonso', 1373.01),
 ('Javier', 'Alonso', 1372.7),
 ('Ana', 'Muñoz', 1371.72),
 ('Rafael', 'Romero', 1371.43),
 ('Sergio', 'Rubio', 1368.97),
 ('Enrique', 'Torres', 1368.81),
 ('Sara', 'Santos', 1368.41),
 ('Marta', 'López', 1367.47),
 ('Andrés', 'Moreno', 1366.65),
 ('Pablo', 'Ortiz', 1365.13),
 ('Alicia', 'León', 1364.35),
 ('Sofía', 'Domínguez', 1361.83),
 ('Laura', 'Sánchez', 1359.54),
 ('Adriana', 'Vega', 1359.01),
 ('Andrés', 'Vega', 1358.85),
 ('Rafael', 'Ramírez', 1357.89),
 ('Teresa', 'Navarro', 1357.48),
 ('Alicia', 'Santos', 1357.29),
 ('Víctor', 'Iglesias', 1357.04),
 ('Irene', 'Peña', 1356.59),
 ('Isabel', 'Delgado', 1356.31),
 ('Álvaro', 'García', 1352.71),
 ('Pablo', 'Fuentes', 1352.16),
 ('Álvaro', 'Moreno', 1351.77),
 ('Alberto', 'Ramos', 1351.13),
 ('Rocío', 'Ramos', 1350.22),
 ('María', 'Castillo', 1350.12),
 ('Pablo', 'Gutiérrez', 1349.72),
 ('Ricardo', 'Ruiz', 1349.41),
 ('Ana', 'Campos', 1349.26),
 ('Carmen', 'López', 1348.65),
 ('Enrique', 'González', 1348.11),
 ('Javier', 'Moreno', 1346.08),
 ('Sergio', 'González', 1345.82),
 ('Vera', 'Díaz', 1343.85),
 ('Daniel', 'Díaz', 1343.36),
 ('Víctor', 'Rodríguez', 1342.6),
 ('Sergio', 'Rodríguez', 1342.6),
 ('Pedro', 'Flores', 1342.53),
 ('Lucía', 'Castillo', 1340.67),
 ('Daniel', 'Martínez', 1340.08),
 ('Ricardo', 'Hernández', 1339.89),
 ('Diego', 'Gutiérrez', 1338.48),
 ('Álvaro', 'Calvo', 1335.52),
 ('Laura', 'Castillo', 1335.48),
 ('Gonzalo', 'Ortega', 1334.68),
 ('Elena', 'Delgado', 1333.97),
 ('Laura', 'Gutiérrez', 1333.49),
 ('Alicia', 'Vega', 1333.25),
 ('Rocío', 'Flores', 1332.24),
 ('Víctor', 'Alonso', 1331.82),
 ('Julia', 'Marín', 1330.15),
 ('Sara', 'Hernández', 1324.19),
 ('Amelia', 'Sánchez', 1321.71),
 ('Enrique', 'Martínez', 1315.77),
 ('Hugo', 'García', 1315.52),
 ('Francisco', 'Ruiz', 1314.72),
 ('Carmen', 'Gil', 1311.32),
 ('Patricia', 'González', 1311.18),
 ('Manuel', 'Calvo', 1309.22),
 ('Luis', 'Castro', 1309.03),
 ('Andrés', 'Iglesias', 1305.68),
 ('Rocío', 'Reyes', 1304.34),
 ('Elena', 'Álvarez', 1302.12),
 ('Francisco', 'Flores', 1301.83),
 ('Julia', 'Ortega', 1301.32),
 ('Elena', 'Cabrera', 1301.29),
 ('Pedro', 'Torres', 1300.31),
 ('Hugo', 'Serrano', 1298.94),
 ('Hugo', 'Navarro', 1298.87),
 ('Sara', 'Molina', 1298.64),
 ('Gonzalo', 'Molina', 1298.13),
 ('Sara', 'Gil', 1297.14),
 ('Amelia', 'Ortiz', 1294.3),
 ('Amelia', 'Ramos', 1292.6),
 ('Paula', 'López', 1291.86),
 ('Amelia', 'Santos', 1291.46),
 ('Enrique', 'Pérez', 1291.45),
 ('José', 'Torres', 1289.56),
 ('Víctor', 'Castro', 1288.55),
 ('Alberto', 'Fernández', 1287.5),
 ('Pablo', 'Fernández', 1287.5),
 ('Jorge', 'León', 1287.19),
 ('Patricia', 'Guerrero', 1286.77),
 ('Manuel', 'García', 1286.45),
 ('Hugo', 'Moreno', 1286.29),
 ('Sara', 'Molina', 1283.16),
 ('Clara', 'Ramos', 1283.06),
 ('Vera', 'Ortega', 1282.89),
 ('Carmen', 'Castillo', 1278.19),
 ('Daniel', 'Moreno', 1277.18),
 ('Fernando', 'Campos', 1276.76),
 ('Eva', 'Pérez', 1276.64),
 ('Víctor', 'Díaz', 1276.12),
 ('María', 'Fuentes', 1274.31),
 ('Javier', 'Jiménez', 1273.78),
 ('Sofía', 'Vázquez', 1272.99),
 ('Sofía', 'Marín', 1271.97),
 ('Alicia', 'Santos', 1271.75),
 ('Víctor', 'Rubio', 1271.58),
 ('Andrés', 'Gutiérrez', 1270.69),
 ('Isabel', 'Peña', 1270.39),
 ('Sara', 'Ruiz', 1269.88),
 ('Irene', 'López', 1269.86),
 ('Andrés', 'Fernández', 1268.68),
 ('Carlos', 'Calvo', 1267.04),
 ('Eva', 'Flores', 1266.99),
 ('María', 'Medina', 1266.65),
 ('María', 'Pérez', 1266.51),
 ('Hugo', 'León', 1265.06),
 ('Daniel', 'Flores', 1264.72),
 ('Diego', 'Molina', 1264.39),
 ('María', 'Cruz', 1264.2),
 ('Hugo', 'Castro', 1264.08),
 ('Luis', 'Cruz', 1262.99),
 ('Laura', 'Cabrera', 1262.74),
 ('Alicia', 'Santos', 1261.77),
 ('María', 'Medina', 1261.4),
 ('Julia', 'Santos', 1261.14),
 ('Natalia', 'Sánchez', 1260.67),
 ('Julia', 'Guerrero', 1260.02),
 ('Pablo', 'Vázquez', 1259.03),
 ('Rocío', 'Medina', 1255.52),
 ('Carlos', 'Domínguez', 1254.83),
 ('María', 'Cruz', 1254.04),
 ('Roberto', 'Herrera', 1253.97),
 ('Lucía', 'Domínguez', 1250.13),
 ('Sara', 'Flores', 1249.78),
 ('Fernando', 'Romero', 1248.41),
 ('Andrés', 'Serrano', 1248.24),
 ('Elena', 'Sánchez', 1247.96),
 ('Antonio', 'Marín', 1247.39),
 ('Gonzalo', 'Fuentes', 1246.0),
 ('Carlos', 'Vázquez', 1244.62),
 ('Antonio', 'Pérez', 1243.99),
 ('Marta', 'Medina', 1243.03),
 ('Luis', 'Martínez', 1242.89),
 ('Elena', 'Calvo', 1242.13),
 ('Jorge', 'Jiménez', 1241.35),
 ('Marta', 'Díaz', 1239.73),
 ('Roberto', 'Ramírez', 1239.21),
 ('Adriana', 'Díaz', 1237.93),
 ('Adriana', 'Martínez', 1237.01),
 ('Sergio', 'Domínguez', 1236.27),
 ('Julia', 'Torres', 1236.12),
 ('Julia', 'Torres', 1231.23),
 ('Gonzalo', 'Ramírez', 1230.86),
 ('José', 'Castillo', 1229.97),
 ('Juan', 'Moreno', 1229.85),
 ('Manuel', 'Ortega', 1228.58),
 ('Ana', 'Fuentes', 1228.0),
 ('Manuel', 'Reyes', 1227.62),
 ('Andrés', 'Cruz', 1227.58),
 ('Eva', 'Romero', 1226.73),
 ('Jorge', 'Gutiérrez', 1226.1),
 ('Julia', 'Alonso', 1225.77),
 ('Rocío', 'Pérez', 1224.95),
 ('Antonio', 'García', 1224.9),
 ('Rocío', 'González', 1224.84),
 ('Patricia', 'Peña', 1223.89),
 ('Francisco', 'Cruz', 1223.32),
 ('Rafael', 'Vega', 1219.66),
 ('Clara', 'Jiménez', 1218.08),
 ('Paula', 'Campos', 1218.0),
 ('Sergio', 'Fuentes', 1217.62),
 ('Pablo', 'Ruiz', 1216.8),
 ('Sofía', 'Calvo', 1216.02),
 ('Alberto', 'Vázquez', 1215.75),
 ('Ana', 'Navarro', 1214.45),
 ('Elena', 'Ortega', 1214.15),
 ('Sofía', 'Díaz', 1212.54),
 ('Laura', 'Torres', 1212.3),
 ('Irene', 'Vega', 1212.22),
 ('Teresa', 'Castillo', 1210.64),
 ('Sara', 'Fernández', 1210.58),
 ('Manuel', 'Ramírez', 1206.14),
 ('Isabel', 'Guerrero', 1205.86),
 ('Rafael', 'Peña', 1205.53),
 ('Sergio', 'Martínez', 1204.94),
 ('Sergio', 'Delgado', 1203.55),
 ('Sofía', 'Calvo', 1202.99),
 ('Sara', 'Flores', 1201.41),
 ('Vera', 'Molina', 1201.18),
 ('Amelia', 'Calvo', 1200.76),
 ('Carmen', 'Martínez', 1198.94),
 ('Javier', 'Calvo', 1198.56),
 ('José', 'López', 1196.88),
 ('Hugo', 'González', 1196.87),
 ('Elena', 'Pérez', 1195.79),
 ('Vera', 'Cruz', 1195.78),
 ('Lucía', 'Ramos', 1195.54),
 ('Pablo', 'Medina', 1194.31),
 ('Adriana', 'León', 1194.1),
 ('Isabel', 'García', 1193.92),
 ('Isabel', 'Gil', 1192.9),
 ('Laura', 'Gutiérrez', 1190.31),
 ('Manuel', 'Delgado', 1188.98),
 ('Carlos', 'Ruiz', 1188.8),
 ('Vera', 'García', 1187.17),
 ('Patricia', 'Martínez', 1186.41),
 ('Diego', 'Fernández', 1186.12),
 ('José', 'Navarro', 1185.92),
 ('Sofía', 'Castro', 1182.84),
 ('Amelia', 'Castro', 1182.09),
 ('Lucía', 'Cruz', 1180.36),
 ('Rocío', 'Ramírez', 1179.23),

5. Empleados y número de órdenes gestionadas
* Muestra el nombre del empleado, el puesto y la cantidad de órdenes que ha gestionado.
* Utiliza GROUP BY y COUNT.

In [40]:
sql = ('SELECT e.nombre_empleado AS EMPLEADO, e.puesto AS PUESTO, count(o.id_empleado) AS ORDENES FROM empleados e JOIN ordenes o ON o.id_empleado = e.id_empleado GROUP BY e.id_empleado')
consultas(sql)

[('Francisco Romero', 'Cajero', 53),
 ('Elena Gil', 'Reponedor', 47),
 ('Andrés Castillo', 'Encargado de sección', 46),
 ('Enrique Medina', 'Gerente', 53),
 ('Luis Cruz', 'Personal de limpieza', 51),
 ('Sergio Iglesias', 'Panadero', 49),
 ('Daniel Hernández', 'Carnicero', 52),
 ('Rocío Vega', 'Pescadero', 59),
 ('Eva Campos', 'Responsable de almacén', 47),
 ('Marta Cruz', 'Supervisor de caja', 43),
 ('Julia Fernández', 'Frutero', 49),
 ('Francisco Hernández', 'Charcutero', 47),
 ('Isabel García', 'Jefe de turno', 39),
 ('Gonzalo Medina', 'Operador logístico', 49),
 ('Noelia Ortega', 'Atención al cliente', 43),
 ('José Serrano', 'Auxiliar de caja', 39),
 ('Daniel Jiménez', 'Encargado de inventario', 57),
 ('Irene Herrera', 'Responsable de compras', 55),
 ('Pablo Ramírez', 'Promotor de ventas', 55),
 ('Sofía Ruiz', 'Encargado de seguridad', 54),
 ('Manuel Muñoz', 'Cajero', 60),
 ('Olga Vázquez', 'Reponedor', 52),
 ('Clara González', 'Encargado de sección', 57),
 ('Andrés Domínguez', 'Gerente', 41),
 ('Jorge Ramírez', 'Personal de limpieza', 45),
 ('Vera Torres', 'Panadero', 49),
 ('Antonio Muñoz', 'Carnicero', 44),
 ('Vera Gil', 'Pescadero', 43),
 ('Patricia Iglesias', 'Responsable de almacén', 40),
 ('Juan Cabrera', 'Supervisor de caja', 45),
 ('Ana Delgado', 'Frutero', 41),
 ('Julia Ramírez', 'Charcutero', 57),
 ('Rocío León', 'Jefe de turno', 59),
 ('Antonio Serrano', 'Operador logístico', 54),
 ('Carlos Gil', 'Atención al cliente', 62),
 ('Lucía León', 'Auxiliar de caja', 49),
 ('Irene Castro', 'Encargado de inventario', 74),
 ('Andrés Peña', 'Responsable de compras', 59),
 ('Javier Ramírez', 'Promotor de ventas', 53),
 ('Diego Vega', 'Encargado de seguridad', 46),
 ('Pablo González', 'Cajero', 48),
 ('Javier Cruz', 'Reponedor', 45),
 ('Laura Díaz', 'Encargado de sección', 55),
 ('Pedro Martínez', 'Gerente', 54),
 ('Irene Vázquez', 'Personal de limpieza', 44),
 ('Amelia Vázquez', 'Panadero', 53),
 ('Elena Ramírez', 'Carnicero', 53),
 ('Elena Moreno', 'Pescadero', 57),
 ('Jorge Cabrera', 'Responsable de almacén', 43),
 ('Eva Reyes', 'Supervisor de caja', 38),
 ('Carmen Ruiz', 'Frutero', 52),
 ('Andrés Peña', 'Charcutero', 58),
 ('María Guerrero', 'Jefe de turno', 67),
 ('Carlos Rodríguez', 'Operador logístico', 51),
 ('José Sánchez', 'Atención al cliente', 54),
 ('Luis Vega', 'Auxiliar de caja', 44),
 ('Hugo Torres', 'Encargado de inventario', 39),
 ('José Herrera', 'Responsable de compras', 49),
 ('Olga Ortega', 'Promotor de ventas', 51),
 ('Luis Díaz', 'Encargado de seguridad', 62),
 ('Francisco Fuentes', 'Cajero', 47),
 ('Roberto Pérez', 'Reponedor', 54),
 ('Adriana Vega', 'Encargado de sección', 50),
 ('Amelia González', 'Gerente', 58),
 ('José Iglesias', 'Personal de limpieza', 56),
 ('Sofía Hernández', 'Panadero', 59),
 ('Teresa Jiménez', 'Carnicero', 47),
 ('Sara Peña', 'Pescadero', 47),
 ('Carlos Navarro', 'Responsable de almacén', 46),
 ('Teresa Vázquez', 'Supervisor de caja', 59),
 ('Daniel Reyes', 'Frutero', 38),
 ('Manuel Torres', 'Charcutero', 51),
 ('Luis Ortiz', 'Jefe de turno', 49),
 ('Eva Ramos', 'Operador logístico', 54),
 ('Patricia Álvarez', 'Atención al cliente', 61),
 ('Isabel Domínguez', 'Auxiliar de caja', 52),
 ('Noelia Serrano', 'Encargado de inventario', 51),
 ('Noelia Calvo', 'Responsable de compras', 52),
 ('Marta García', 'Promotor de ventas', 44),
 ('Alberto Castro', 'Encargado de seguridad', 48),
 ('Sara Marín', 'Cajero', 46),
 ('Sergio Hernández', 'Reponedor', 50),
 ('Noelia Castro', 'Encargado de sección', 52),
 ('Alberto Vega', 'Gerente', 47),
 ('María Castro', 'Personal de limpieza', 57),
 ('Francisco Flores', 'Panadero', 42),
 ('Jorge Hernández', 'Carnicero', 35),
 ('Irene González', 'Pescadero', 50),
 ('Jorge Díaz', 'Responsable de almacén', 56),
 ('María Cabrera', 'Supervisor de caja', 44),
 ('Irene Sánchez', 'Frutero', 63),
 ('Sergio Vázquez', 'Charcutero', 55),
 ('Jorge López', 'Jefe de turno', 47),
 ('María Serrano', 'Operador logístico', 37),
 ('Marta López', 'Atención al cliente', 54),
 ('Vera Vázquez', 'Auxiliar de caja', 57),
 ('Isabel Romero', 'Encargado de inventario', 44),
 ('Pedro Marín', 'Responsable de compras', 53),
 ('Sara Muñoz', 'Promotor de ventas', 60),
 ('Diego Flores', 'Encargado de seguridad', 58),
 ('Rafael Ortega', 'Cajero', 50),
 ('José Peña', 'Reponedor', 53),
 ('Juan Vega', 'Encargado de sección', 46),
 ('Lucía Ruiz', 'Gerente', 57),
 ('Sara Romero', 'Personal de limpieza', 42),
 ('José González', 'Panadero', 53),
 ('Vera Rubio', 'Carnicero', 63),
 ('Rafael Alonso', 'Pescadero', 51),
 ('Noelia Serrano', 'Responsable de almacén', 41),
 ('Gonzalo González', 'Supervisor de caja', 45),
 ('Clara Campos', 'Frutero', 44),
 ('Juan Jiménez', 'Charcutero', 59),
 ('Sara González', 'Jefe de turno', 52),
 ('Diego Calvo', 'Operador logístico', 48),
 ('Marta Marín', 'Atención al cliente', 50),
 ('Jorge Peña', 'Auxiliar de caja', 53),
 ('Sergio Torres', 'Encargado de inventario', 55),
 ('Andrés Rodríguez', 'Responsable de compras', 57),
 ('Pablo Serrano', 'Promotor de ventas', 38),
 ('Luis Moreno', 'Encargado de seguridad', 52),
 ('Jorge Gil', 'Cajero', 70),
 ('Enrique Fuentes', 'Reponedor', 49),
 ('Laura Guerrero', 'Encargado de sección', 42),
 ('Pablo Vega', 'Gerente', 52),
 ('Isabel Calvo', 'Personal de limpieza', 46),
 ('Jorge Domínguez', 'Panadero', 45),
 ('Enrique Marín', 'Carnicero', 50),
 ('Vera Iglesias', 'Pescadero', 49),
 ('Rafael Marín', 'Responsable de almacén', 50),
 ('Gonzalo Castro', 'Supervisor de caja', 58),
 ('Roberto Calvo', 'Frutero', 45),
 ('Sofía Ortega', 'Charcutero', 72),
 ('Isabel Hernández', 'Jefe de turno', 59),
 ('María Ramos', 'Operador logístico', 52),
 ('Isabel Flores', 'Atención al cliente', 46),
 ('Adriana Muñoz', 'Auxiliar de caja', 59),
 ('Manuel Herrera', 'Encargado de inventario', 42),
 ('Lucía Hernández', 'Responsable de compras', 40),
 ('Laura Moreno', 'Promotor de ventas', 42),
 ('Paula León', 'Encargado de seguridad', 56),
 ('Rafael Rodríguez', 'Cajero', 35),
 ('Patricia Moreno', 'Reponedor', 48),
 ('Eva Calvo', 'Encargado de sección', 47),
 ('Sergio García', 'Gerente', 40),
 ('José García', 'Personal de limpieza', 48),
 ('Pedro León', 'Panadero', 33),
 ('Antonio López', 'Carnicero', 51),
 ('Teresa León', 'Pescadero', 56),
 ('Alberto Moreno', 'Responsable de almacén', 49),
 ('Natalia Medina', 'Supervisor de caja', 35),
 ('Daniel Torres', 'Frutero', 55),
 ('Hugo Castillo', 'Charcutero', 55),
 ('Patricia Castro', 'Jefe de turno', 46),
 ('Andrés Marín', 'Operador logístico', 58),
 ('Manuel Moreno', 'Atención al cliente', 45),
 ('Juan Sánchez', 'Auxiliar de caja', 44),
 ('Eva Guerrero', 'Encargado de inventario', 44),
 ('Ricardo Romero', 'Responsable de compras', 48),
 ('Paula García', 'Promotor de ventas', 50),
 ('Luis Campos', 'Encargado de seguridad', 46),
 ('María Hernández', 'Cajero', 56),
 ('Ana Alonso', 'Reponedor', 48),
 ('Eva Sánchez', 'Encargado de sección', 55),
 ('Pedro Gutiérrez', 'Gerente', 51),
 ('María Medina', 'Personal de limpieza', 38),
 ('Manuel Martínez', 'Panadero', 45),
 ('Gonzalo Vega', 'Carnicero', 46),
 ('Paula Alonso', 'Pescadero', 47),
 ('Fernando Alonso', 'Responsable de almacén', 42),
 ('Julia Ortiz', 'Supervisor de caja', 49),
 ('María Peña', 'Frutero', 51),
 ('Noelia Fernández', 'Charcutero', 46),
 ('Juan Reyes', 'Jefe de turno', 45),
 ('Gonzalo Fernández', 'Operador logístico', 50),
 ('Carmen Ortiz', 'Atención al cliente', 53),
 ('Andrés Domínguez', 'Auxiliar de caja', 39),
 ('Enrique Guerrero', 'Encargado de inventario', 45),
 ('Elena Sánchez', 'Responsable de compras', 48),
 ('Diego Gutiérrez', 'Promotor de ventas', 52),
 ('José Álvarez', 'Encargado de seguridad', 43),
 ('Pablo Ruiz', 'Cajero', 57),
 ('Jorge Molina', 'Reponedor', 45),
 ('Luis Reyes', 'Encargado de sección', 51),
 ('Antonio López', 'Gerente', 47),
 ('Isabel Peña', 'Personal de limpieza', 48),
 ('José Ortiz', 'Panadero', 45),
 ('Daniel Fuentes', 'Carnicero', 48),
 ('José Gutiérrez', 'Pescadero', 50),
 ('Laura Alonso', 'Responsable de almacén', 48),
 ('Sara Ramírez', 'Supervisor de caja', 57),
 ('Clara Carrasco', 'Frutero', 59),
 ('Rafael Navarro', 'Charcutero', 63),
 ('Rocío Gil', 'Jefe de turno', 56),
 ('Vera Moreno', 'Operador logístico', 57),
 ('Alicia Moreno', 'Atención al cliente', 44),
 ('Carlos Calvo', 'Auxiliar de caja', 42),
 ('Francisco González', 'Encargado de inventario', 52),
 ('Javier Martínez', 'Responsable de compras', 48),
 ('Julia Ruiz', 'Promotor de ventas', 57),
 ('Fernando Gil', 'Encargado de seguridad', 47)]

6. Ordenes filtradas por fecha y tienda
* Muestra todas las órdenes que se realizaron en un rango de fechas determinado (ej.: del 1 de enero de 2025 al 31 de enero de 2025) y en una tienda específica.
* Incluye datos de la tienda y del cliente.

In [41]:
sql = ("SELECT t.id_tienda, t.nombre_tienda AS tienda, o.id_orden AS factura, o.fecha_orden AS fecha, concat(c.first_name,' ',c.last_name) AS cliente FROM tiendas t JOIN empleados e ON t.id_tienda = e.id_tienda JOIN ordenes o ON o.id_empleado = e.id_empleado JOIN clientes c ON c.id_cliente = o.id_cliente WHERE T.id_tienda = 1 and o.fecha_orden > '2024-01-31' and o.fecha_orden < '2024-03-01' ORDER BY o.fecha_orden;")
consultas(sql)

[(1, 'Jerez Este', 741, datetime.date(2024, 2, 1), 'Isabel Ortega'),
 (1, 'Jerez Este', 752, datetime.date(2024, 2, 1), 'Andrés Rodríguez'),
 (1, 'Jerez Este', 768, datetime.date(2024, 2, 2), 'Pablo Pérez'),
 (1, 'Jerez Este', 783, datetime.date(2024, 2, 2), 'Alicia Ruiz'),
 (1, 'Jerez Este', 797, datetime.date(2024, 2, 3), 'Antonio Torres'),
 (1, 'Jerez Este', 807, datetime.date(2024, 2, 4), 'Alberto Iglesias'),
 (1, 'Jerez Este', 830, datetime.date(2024, 2, 4), 'Paula Ortiz'),
 (1, 'Jerez Este', 845, datetime.date(2024, 2, 5), 'Fernando Alonso'),
 (1, 'Jerez Este', 860, datetime.date(2024, 2, 6), 'María Santos'),
 (1, 'Jerez Este', 865, datetime.date(2024, 2, 6), 'Francisco Herrera'),
 (1, 'Jerez Este', 878, datetime.date(2024, 2, 6), 'Rafael Sánchez'),
 (1, 'Jerez Este', 884, datetime.date(2024, 2, 6), 'Daniel Ortega'),
 (1, 'Jerez Este', 899, datetime.date(2024, 2, 7), 'Rocío Vega'),
 (1, 'Jerez Este', 951, datetime.date(2024, 2, 10), 'Natalia Martínez'),
 (1, 'Jerez Este', 963, datetime.date(2024, 2, 10), 'Jorge Ortiz'),
 (1, 'Jerez Este', 981, datetime.date(2024, 2, 11), 'Daniel Torres'),
 (1, 'Jerez Este', 1013, datetime.date(2024, 2, 12), 'Sergio Marín'),
 (1, 'Jerez Este', 1014, datetime.date(2024, 2, 12), 'Gonzalo Domínguez'),
 (1, 'Jerez Este', 1029, datetime.date(2024, 2, 13), 'José Sánchez'),
 (1, 'Jerez Este', 1036, datetime.date(2024, 2, 13), 'Vera Cruz'),
 (1, 'Jerez Este', 1056, datetime.date(2024, 2, 14), 'Luis Ramírez'),
 (1, 'Jerez Este', 1065, datetime.date(2024, 2, 14), 'Javier Ortiz'),
 (1, 'Jerez Este', 1090, datetime.date(2024, 2, 15), 'Laura González'),
 (1, 'Jerez Este', 1094, datetime.date(2024, 2, 16), 'Ricardo Ruiz'),
 (1, 'Jerez Este', 1097, datetime.date(2024, 2, 16), 'Elena Delgado'),
 (1, 'Jerez Este', 1108, datetime.date(2024, 2, 16), 'María Castillo'),
 (1, 'Jerez Este', 1109, datetime.date(2024, 2, 16), 'Víctor Torres'),
 (1, 'Jerez Este', 1111, datetime.date(2024, 2, 17), 'Luis Rubio'),
 (1, 'Jerez Este', 1124, datetime.date(2024, 2, 17), 'Víctor Guerrero'),
 (1, 'Jerez Este', 1125, datetime.date(2024, 2, 17), 'Francisco Medina'),
 (1, 'Jerez Este', 1134, datetime.date(2024, 2, 17), 'Irene Romero'),
 (1, 'Jerez Este', 1182, datetime.date(2024, 2, 19), 'Carmen Guerrero'),
 (1, 'Jerez Este', 1191, datetime.date(2024, 2, 19), 'Clara Martínez'),
 (1, 'Jerez Este', 1201, datetime.date(2024, 2, 19), 'Adriana Díaz'),
 (1, 'Jerez Este', 1205, datetime.date(2024, 2, 20), 'Eva Álvarez'),
 (1, 'Jerez Este', 1217, datetime.date(2024, 2, 20), 'Isabel Delgado'),
 (1, 'Jerez Este', 1222, datetime.date(2024, 2, 20), 'Alberto Fuentes'),
 (1, 'Jerez Este', 1224, datetime.date(2024, 2, 20), 'Lucía Flores'),
 (1, 'Jerez Este', 1228, datetime.date(2024, 2, 20), 'Carlos Ruiz'),
 (1, 'Jerez Este', 1230, datetime.date(2024, 2, 21), 'Sara Díaz'),
 (1, 'Jerez Este', 1236, datetime.date(2024, 2, 21), 'Daniel Ortiz'),
 (1, 'Jerez Este', 1258, datetime.date(2024, 2, 22), 'Elena Álvarez'),
 (1, 'Jerez Este', 1277, datetime.date(2024, 2, 22), 'Lucía Campos'),
 (1, 'Jerez Este', 1281, datetime.date(2024, 2, 22), 'Víctor Díaz'),
 (1, 'Jerez Este', 1290, datetime.date(2024, 2, 23), 'Noelia Romero'),
 (1, 'Jerez Este', 1314, datetime.date(2024, 2, 24), 'Víctor Rubio'),
 (1, 'Jerez Este', 1323, datetime.date(2024, 2, 24), 'Elena Gil'),
 (1, 'Jerez Este', 1327, datetime.date(2024, 2, 24), 'José Iglesias'),
 (1, 'Jerez Este', 1329, datetime.date(2024, 2, 25), 'Pablo Medina'),
 (1, 'Jerez Este', 1331, datetime.date(2024, 2, 25), 'Alicia León'),
 (1, 'Jerez Este', 1333, datetime.date(2024, 2, 25), 'Olga Herrera'),
 (1, 'Jerez Este', 1351, datetime.date(2024, 2, 25), 'Isabel Carrasco'),
 (1, 'Jerez Este', 1352, datetime.date(2024, 2, 26), 'Carlos Ortega'),
 (1, 'Jerez Este', 1356, datetime.date(2024, 2, 26), 'Andrés Gil'),
 (1, 'Jerez Este', 1385, datetime.date(2024, 2, 27), 'María Gil'),
 (1, 'Jerez Este', 1406, datetime.date(2024, 2, 27), 'Isabel García'),
 (1, 'Jerez Este', 1408, datetime.date(2024, 2, 27), 'Pablo González'),
 (1, 'Jerez Este', 1424, datetime.date(2024, 2, 28), 'Elena Calvo'),
 (1, 'Jerez Este', 1430, datetime.date(2024, 2, 28), 'Gonzalo Santos'),
 (1, 'Jerez Este', 1444, datetime.date(2024, 2, 29), 'Carlos Romero'),
 (1, 'Jerez Este', 1447, datetime.date(2024, 2, 29), 'Juan García'),
 (1, 'Jerez Este', 1452, datetime.date(2024, 2, 29), 'Julia Romero'),
 (1, 'Jerez Este', 1457, datetime.date(2024, 2, 29), 'Ana Medina')]

7. Ranking de productos más vendidos en cada tienda
* Para cada tienda, muestra los 3 productos más vendidos (en términos de cantidad total).
* Tendrás que unir tiendas, empleados, ordenes y detalle_orden, además de productos.
* Usa GROUP BY y ordena por la cantidad sumada (y opcionalmente, un LIMIT 3).

In [ ]:
#CON MUCHA AYUDA!!!!
sql = ('WITH ranking_productos AS (SELECT t.nombre_tienda, p.nombre_producto, SUM(do.cantidad) AS total_vendido, ROW_NUMBER() OVER (PARTITION BY t.id_tienda ORDER BY SUM(do.cantidad) DESC) AS ranking FROM tiendas t JOIN empleados e ON t.id_tienda = e.id_tienda JOIN ordenes o ON e.id_empleado = o.id_empleado JOIN detalle_orden do ON o.id_orden = do.id_orden JOIN productos p ON do.id_producto = p.id_producto GROUP BY t.id_tienda, t.nombre_tienda, p.id_producto, p.nombre_producto) SELECT nombre_tienda, nombre_producto, total_vendido FROM ranking_productos WHERE ranking <= 3 ORDER BY nombre_tienda, ranking;')
consultas(sql)

[('Arcos Sur', 'Pollo', 1005.0),
 ('Arcos Sur', 'Leche', 993.0),
 ('Arcos Sur', 'Jugo de naranja', 935.0),
 ('Barbate Este', 'Crema hidratante', 1038.0),
 ('Barbate Este', 'Desinfectante', 1032.0),
 ('Barbate Este', 'Detergente', 1023.0),
 ('Cadiz Norte', 'Chocolate', 1042.0),
 ('Cadiz Norte', 'Pilas', 935.0),
 ('Cadiz Norte', 'Refresco', 926.0),
 ('Chiclana Norte', 'Chicles', 1048.0),
 ('Chiclana Norte', 'Cebolla', 1040.0),
 ('Chiclana Norte', 'Champú', 1029.0),
 ('Conil Sur', 'Champú', 937.0),
 ('Conil Sur', 'Cebolla', 918.0),
 ('Conil Sur', 'Refresco', 902.0),
 ('Jerez Este', 'Detergente', 1048.0),
 ('Jerez Este', 'Jabón líquido', 1024.0),
 ('Jerez Este', 'Tomate', 971.0),
 ('Rota Norte', 'Chocolate', 1028.0),
 ('Rota Norte', 'Galletas', 1015.0),
 ('Rota Norte', 'Esponjas', 1003.0),
 ('Sanlucar Oeste', 'Mantequilla', 1013.0),
 ('Sanlucar Oeste', 'Zanahoria', 933.0),
 ('Sanlucar Oeste', 'Crema hidratante', 932.0),
 ('Valdelagrana Sur', 'Uva', 1107.0),
 ('Valdelagrana Sur', 'Pollo', 987.0),
 ('Valdelagrana Sur', 'Cerdo', 956.0),
 ('Vejer Oeste', 'Desodorante', 936.0),
 ('Vejer Oeste', 'Queso', 936.0),
 ('Vejer Oeste', 'Chicles', 903.0)]

Opcional: añadir alguna consulta con subconsultas o algo que no se abarque en las anteriores consulta.

In [43]:
sql = ('')
consultas(sql)

Ha ocurrido un error: No result set to fetch from

0