In [44]:
import mysql.connector as con
import pandas as pd
import random
import datetime 
from datetime import datetime, timedelta

## ENUNCIADO EJERCICIO 

### 1. CREAR BASE DE DATOS (33%)

* Crear con código SQL una base de datos llamada supermercado.
* Código Python con mysql connector que ejecute el SQL para borrar y generar la base de datos vacía.

In [45]:
def crear_tabla(sql):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="admin",
            database='supermercado'
        )
        cursor = connection.cursor()
        cursor.execute(sql)
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

In [46]:
sql = "DROP DATABASE IF EXISTS supermercado; CREATE DATABASE IF NOT EXISTS supermercado;"

In [47]:
crear_tabla(sql)

## Crear TABLAS

![alt text](image.png)

tiendas
- id_tienda (PRIMARY KEY)
- nombre_tienda
- direccion
- ciudad

In [48]:
sql = "CREATE TABLE IF NOT EXISTS tiendas (id_tienda INT AUTO_INCREMENT PRIMARY KEY, nombre_tienda VARCHAR(255) NOT NULL, direccion VARCHAR(255), ciudad VARCHAR(255) NOT NULL);"

In [49]:
crear_tabla(sql)

empleados
- id_empleado (PRIMARY KEY)
- nombre_empleado
- puesto (ej.: Cajero, Gerente, Reponedor)
- id_tienda (FOREIGN KEY que hace referencia a tiendas.id_tienda)

In [50]:
sql = "CREATE TABLE IF NOT EXISTS empleados (id_empleado INT AUTO_INCREMENT PRIMARY KEY, nombre_empleado VARCHAR(255) NOT NULL, puesto VARCHAR(60), id_tienda INT NOT NULL, FOREIGN KEY (id_tienda) REFERENCES tiendas(id_tienda) ON DELETE CASCADE);"

In [51]:
crear_tabla(sql)

categorias
- id_categoria (PRIMARY KEY)
- nombre_categoria

In [52]:
sql = "CREATE TABLE IF NOT EXISTS categorias (id_categoria INT AUTO_INCREMENT PRIMARY KEY, nombre_categoria VARCHAR(60));"

In [53]:
crear_tabla(sql)

productos
- id_producto (PRIMARY KEY)
- nombre_producto
- precio
- stock
- id_categoria (FOREIGN KEY que hace referencia a categorias.id_categoria)

In [54]:
sql = "CREATE TABLE IF NOT EXISTS productos (id_producto INT AUTO_INCREMENT PRIMARY KEY, nombre_producto VARCHAR(70), precio FLOAT(8,2), stock INT, id_categoria INT NOT NULL, FOREIGN KEY (id_categoria) REFERENCES categorias(id_categoria));"

In [55]:
crear_tabla(sql)

clientes
- id_cliente (PRIMARY KEY)
- first_name
- last_name
- email
- codigo_postal

In [56]:
sql = "CREATE TABLE IF NOT EXISTS clientes (id_cliente INT AUTO_INCREMENT PRIMARY KEY, first_name VARCHAR(50), last_name VARCHAR(50), email VARCHAR(200), codigo_postal INT);"

In [57]:
crear_tabla(sql)

ordenes
- id_orden (PRIMARY KEY)
- id_cliente (FOREIGN KEY que hace referencia a clientes.id_cliente)
- id_empleado (FOREIGN KEY que hace referencia a empleados.id_empleado)
- fecha_orden
- metodo_pago (una enum que solo admita tres valores Tarjeta, Efectivo)

In [58]:
sql = "CREATE TABLE IF NOT EXISTS ordenes (id_orden INT AUTO_INCREMENT PRIMARY KEY, id_cliente INT, id_empleado INT, fecha_orden DATE, metodo_pago ENUM('Tarjeta', 'Efectivo') DEFAULT 'Efectivo', FOREIGN KEY (id_cliente) REFERENCES clientes(id_cliente), FOREIGN KEY (id_empleado) REFERENCES empleados(id_empleado));"

In [59]:
crear_tabla(sql)

detalle_orden
- id_detalle (PRIMARY KEY)
- id_orden (FOREIGN KEY que hace referencia a ordenes.id_orden) NOT NULL
- id_producto (FOREIGN KEY que hace referencia a productos.id_producto) NOT NULL
- cantidad
- precio_unitario: mismo precio que en la tabla producto
- descuento (podría ser NULL si no se aplica)

In [60]:
sql = "CREATE TABLE IF NOT EXISTS detalle_orden (id_detalle INT AUTO_INCREMENT PRIMARY KEY, id_orden INT NOT NULL, id_producto INT NOT NULL, cantidad FLOAT(8,2), precio_unitario FLOAT(8,2), descuento TINYINT, FOREIGN KEY (id_orden) REFERENCES ordenes(id_orden), FOREIGN KEY (id_producto) REFERENCES productos(id_producto));"

In [61]:
crear_tabla(sql)

### 2. Generar datos demo desde Python (33%)

* Generar datos aleatorios en listas con Python similar los realizados en clase.
    * Uso de datetime, timedelta, random para generar datos aleatorios
* Pasar los datos a DataFrames de Pandas
* Pasar los DataFrames de Pandas a MySQL usando la función to_sql de Pandas con SQLAlchemy o usando MySQL Connector con sentencias INSERT.

In [62]:
def insertar_dataframe(df, table_name):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="admin",
            database='supermercado'
        )
        cursor = connection.cursor()
        
        columns = ','.join(df.columns)
        placeholders = ','.join(['%s'] * len(df.columns))
        sql = f'INSERT INTO {table_name} ({columns}) VALUES ({placeholders});'
    
        rows = [tuple(row) for index, row in df.iterrows()] # lista de tuplas con los datos del dataframe

        cursor.executemany(sql, rows)
        
        connection.commit()
        return cursor.rowcount
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

tiendas

* id_tienda: valores enteros consecutivos (por ejemplo, 1, 2, 3...).
* nombre_tienda: nombres ficticios o genéricos (p. ej. "Tienda Centro", "Super Norte", "Super Sur").
* direccion: direcciones simples (p. ej. “Calle Falsa 123”).
* ciudad: usar nombres de ciudades ficticias o reales (p. ej. “Madrid”, “Barcelona”, “México DF”, etc.).

En total 5 o 10 tiendas.

In [63]:
tiendas = ['Jerez Este', 'Sanlucar Oeste', 'Cadiz Norte', 'Valdelagrana Sur', 'Arcos Sur', 'Chiclana Norte', 'Barbate Este', 'Vejer Oeste', 'Conil Sur', 'Rota Norte']
direcciones = ['Calle Catavino 25', 'Calle Manzanilla 42', 'Calle del Pan 38', 'Calle Playa 57', 'Calle Castillo 182', 'Calle Barrosa 63', 'Calle Atun 98', 'Calle Pescadill 56', 'Calle Balsa 71', 'Calle Base 22']
ciudades = ['Jerez de la Frontera', 'Sanlucar de Barrameda', 'Cadiz', 'El Puerto de Santa Maria', 'Arcos de la Frontera', 'Chiclana de la Frontera', 'Barbate', 'Vejer de la Frontera', 'Conil de la Frontera', 'Rota']
df_tiendas = pd.DataFrame(zip(tiendas, direcciones, ciudades), columns=['nombre_tienda', 'direccion', 'ciudad'])
# generar columna id_tienda
df_tiendas = df_tiendas.reset_index().rename({'index': 'id_tienda'}, axis=1)
df_tiendas['id_tienda'] = df_tiendas['id_tienda'] + 1
df_tiendas

   id_tienda     nombre_tienda            direccion                    ciudad
0          1        Jerez Este    Calle Catavino 25      Jerez de la Frontera
1          2    Sanlucar Oeste  Calle Manzanilla 42     Sanlucar de Barrameda
2          3       Cadiz Norte     Calle del Pan 38                     Cadiz
3          4  Valdelagrana Sur       Calle Playa 57  El Puerto de Santa Maria
4          5         Arcos Sur   Calle Castillo 182      Arcos de la Frontera
5          6    Chiclana Norte     Calle Barrosa 63   Chiclana de la Frontera
6          7      Barbate Este        Calle Atun 98                   Barbate
7          8       Vejer Oeste   Calle Pescadill 56      Vejer de la Frontera
8          9         Conil Sur       Calle Balsa 71      Conil de la Frontera
9         10        Rota Norte        Calle Base 22                      Rota

In [64]:
insertar_dataframe(df_tiendas, 'tiendas')

10

empleados

* id_empleado: valores enteros consecutivos (1, 2, 3...).
* nombre_empleado: nombres y apellidos ficticios (p. ej. “Laura Gutiérrez”, “Juan Pérez”).
* puesto: limitarse a un conjunto reducido de valores (p. ej. {‘Cajero’, ‘Gerente’, ‘Reponedor’, ‘Vendedor’}).
* id_tienda: debe hacer referencia a una tienda existente (por ejemplo, un número entre 1 y 3 si solo tienes 3 tiendas).

En total 20 empleados por tienda.

In [65]:
#generar columna id_empleado
empleados = list()
nombres = ["Juan", "María", "Luis", "Ana", "Pedro", "Sofía", "Carlos", "Lucía", "Jorge", "Elena", "Manuel", "Laura", "Diego", "Clara", "Alberto", "Teresa", "Pablo", "Isabel", "Sergio", "Marta", "Roberto", "Julia", "Fernando", "Carmen", "Ricardo", "Paula", "Andrés", "Eva", "Antonio", "Sara", "José", "Natalia", "Francisco", "Patricia", "Hugo", "Adriana", "Rafael", "Irene", "Víctor", "Olga", "Daniel", "Noelia", "Álvaro", "Alicia", "Javier", "Rocío", "Enrique", "Amelia", "Gonzalo", "Vera"]
apellidos = ["García", "Martínez", "López", "Sánchez", "Pérez", "González", "Rodríguez", "Fernández", "Moreno", "Jiménez", "Hernández", "Muñoz", "Álvarez", "Romero", "Alonso", "Gutiérrez", "Ruiz", "Navarro", "Díaz", "Torres", "Castro", "Vázquez", "Ramos", "Gil", "Ramírez", "Flores", "Ortiz", "Marín", "Serrano", "Iglesias", "Delgado", "Domínguez", "Guerrero", "Molina", "Ortega", "Rubio", "Santos", "Medina", "Castillo", "Cruz", "Reyes", "Herrera", "Peña", "Carrasco", "Calvo", "Vega", "Cabrera", "Campos", "León", "Fuentes"]
trabajo = ["Cajero", "Reponedor", "Encargado de sección", "Gerente", "Personal de limpieza", "Panadero", "Carnicero", "Pescadero", "Responsable de almacén", "Supervisor de caja", "Frutero", "Charcutero", "Jefe de turno", "Operador logístico", "Atención al cliente", "Auxiliar de caja", "Encargado de inventario", "Responsable de compras", "Promotor de ventas", "Encargado de seguridad"]
for tienda in df_tiendas['id_tienda']:
    for empleado in range(20):
        nombre_empleado = (random.choice(nombres) + ' ' + random.choice(apellidos))
        puesto = trabajo[empleado]
        id_tienda = tienda
        empleados.append([nombre_empleado, puesto, id_tienda])
        
df_empleados = pd.DataFrame(empleados, columns=['nombre_empleado', 'puesto', 'id_tienda'])
        
df_empleados = df_empleados.reset_index().rename({'index': 'id_empleado'}, axis=1)
df_empleados['id_empleado'] = df_empleados['id_empleado'] + 1
df_empleados

     id_empleado     nombre_empleado                   puesto  id_tienda
0              1       Juan Martínez                   Cajero          1
1              2       Hugo Carrasco                Reponedor          1
2              3         Hugo Medina     Encargado de sección          1
3              4        Paula Alonso                  Gerente          1
4              5     Fernando Medina     Personal de limpieza          1
..           ...                 ...                      ...        ...
195          196  Fernando Gutiérrez         Auxiliar de caja         10
196          197       Noelia García  Encargado de inventario         10
197          198      Alberto Santos   Responsable de compras         10
198          199         Carlos Vega       Promotor de ventas         10
199          200         Lucía Marín   Encargado de seguridad         10

[200 rows x 4 columns]

In [66]:
insertar_dataframe(df_empleados, "empleados")

200

categorias

* id_categoria: valores enteros consecutivos (1, 2, 3...).
* nombre_categoria: selección de categorías (p. ej. “Lácteos”, “Carnes”, “Frutas”, “Verduras”, “Bebidas”, “Snacks”).

En total 10 categorías

In [67]:
categorias = ['Lácteos', 'Carnes', 'Frutas', 'Verduras', 'Bebidas', 'Snacks', 'Hogar', 'Limpieza', 'Perfumería', 'Jardín']

df_categorias = pd.DataFrame(categorias, columns=['nombre_categoria'])

# generar columna id_categoria
df_categorias = df_categorias.reset_index().rename({'index': 'id_categoria'}, axis=1)
df_categorias['id_categoria'] = df_categorias['id_categoria'] + 1
df_categorias

   id_categoria nombre_categoria
0             1          Lácteos
1             2           Carnes
2             3           Frutas
3             4         Verduras
4             5          Bebidas
5             6           Snacks
6             7            Hogar
7             8         Limpieza
8             9       Perfumería
9            10           Jardín

In [68]:
insertar_dataframe(df_categorias, 'categorias')

10


productos

* id_producto: valores enteros consecutivos (1, 2, 3...).
* nombre_producto: nombres como “Leche Entera”, “Manzana Roja”, “Refresco de Cola”, etc.
* precio: valores DECIMAL entre 0.50 y 50.00, por ejemplo.
* stock: valores INT entre 0 y 500 (o el rango que quieras).
* id_categoria: debe hacer referencia a las categorías que hayas definido (1, 2, 3, etc.).

En total 4 productos de cada categoría.

In [69]:
# generar columna id_producto
produ = ["Leche", "Yogur", "Queso", "Mantequilla", "Pollo", "Carne de res", "Cerdo", "Chuletas", "Manzana", "Banana", "Naranja", "Uva", "Zanahoria", "Tomate", "Lechuga", "Cebolla", "Agua", "Jugo de naranja", "Refresco", "Cerveza", "Papas fritas", "Chocolate", "Galletas", "Chicles", "Velas", "Platos desechables", "Bolsas de basura", "Pilas", "Detergente", "Jabón líquido", "Esponjas", "Desinfectante", "Champú", "Colonia", "Crema hidratante", "Desodorante", "Tierra para macetas", "Fertilizante", "Semillas", "Regadera"]
precios, lista_categorias, stock = list(), list(), list()
cantidad = len(produ)
for _ in range(cantidad):
    precios.append(random.uniform(0.50, 10.50))
    stock.append(random.randint(0, 100))
for categ in df_categorias['id_categoria']:
    for i in range(4):
        lista_categorias.append(categ)
lista_categorias        
df_productos = pd.DataFrame(zip(produ, precios, stock, lista_categorias), columns=['nombre_producto', 'precio', 'stock', 'id_categoria'])    
df_productos = df_productos.reset_index().rename({'index': 'id_producto'}, axis=1)
df_productos['id_producto'] = df_productos['id_producto'] + 1
df_productos

    id_producto      nombre_producto     precio  stock  id_categoria
0             1                Leche   1.776551      4             1
1             2                Yogur  10.403783     22             1
2             3                Queso   8.399610     75             1
3             4          Mantequilla   2.478085     48             1
4             5                Pollo   3.732859     84             2
5             6         Carne de res   2.351971      8             2
6             7                Cerdo   6.950004     85             2
7             8             Chuletas   6.585489     23             2
8             9              Manzana   1.553522     63             3
9            10               Banana   5.543199      9             3
10           11              Naranja   5.909478     86             3
11           12                  Uva   7.385705     11             3
12           13            Zanahoria   1.885197     35             4
13           14               Tomate   9.709740     74             4
14           15              Lechuga   6.315005     45             4
15           16              Cebolla   7.032590      3             4
16           17                 Agua   8.656464     98             5
17           18      Jugo de naranja   1.859159     47             5
18           19             Refresco   3.077255     91             5
19           20              Cerveza   7.766681     39             5
20           21         Papas fritas   6.477314     89             6
21           22            Chocolate   8.274266     55             6
22           23             Galletas   7.695067     78             6
23           24              Chicles   9.532243     19             6
24           25                Velas   7.360458     54             7
25           26   Platos desechables   3.045883     68             7
26           27     Bolsas de basura   8.552175     98             7
27           28                Pilas   6.010492     68             7
28           29           Detergente   3.146032     93             8
29           30        Jabón líquido   8.946958     11             8
30           31             Esponjas   0.762910     95             8
31           32        Desinfectante   2.373058     42             8
32           33               Champú   7.010023     94             9
33           34              Colonia   6.484285     20             9
34           35     Crema hidratante   6.404170      0             9
35           36          Desodorante   9.061218     54             9
36           37  Tierra para macetas   9.900253     42            10
37           38         Fertilizante   9.710877     42            10
38           39             Semillas   4.137029     40            10
39           40             Regadera   6.737366     44            10

In [70]:
insertar_dataframe(df_productos, 'productos')

40

clientes

* id_cliente: valores enteros consecutivos (1, 2, 3...).
* nombre_cliente: nombres y apellidos ficticios (p. ej. “Carlos López”, “María Gil”).
* email: podrías generar correos ficticios (p. ej. “carlos.lopez@test.com”).
* telefono: número de 9 o 10 dígitos (dependiendo del país).
* direccion: calles y números ficticios (p. ej. “Av. Siempre Viva 742”).

En total: 2000.

In [71]:
# generar columna id_cliente
nombre_cliente, apellido_cliente, email, postal, cliente_completo = list(), list(), list(), list(), list()
calles = ("Av. Libertad", "Calle Mayor", "Paseo de la Reforma", "Calle Real", "Av. de la Constitución", "Calle del Sol", "Calle de la Luna", "Calle los Pinos", "Calle de la Paz", "Calle Olivo", "Calle Cedro", "Calle Nogal", "Av. de las Flores", "Paseo del Prado", "Calle del Río", "Av. Central", "Calle Primavera", "Calle Otoño", "Calle Invierno", "Calle Verano", "Calle Granada", "Calle Sevilla", "Calle Córdoba", "Calle Málaga", "Calle Valencia", "Calle Zaragoza", "Calle Alicante", "Av. de los Ángeles", "Calle del Carmen", "Calle San Miguel", "Calle San Juan", "Calle del Pilar", "Calle Santa Teresa", "Calle San Francisco", "Calle de la Sierra", "Calle del Mar", "Av. del Norte", "Av. del Sur", "Calle del Este", "Calle del Oeste", "Calle Diamante", "Calle Esmeralda", "Calle Rubí", "Calle Zafiro", "Calle Ámbar", "Calle Turquesa", "Calle Topacio", "Calle Perla", "Calle Horizonte", "Calle Amanecer")
for _ in range(2000):
    nom = random.choice(nombres)
    nombre_cliente.append(nom)
    ape = random.choice(apellidos)
    apellido_cliente.append(ape)
    email.append((f'{nom}.{ape}@suemail.com'))
    postal.append(random.randint(11000, 11900))
    
df_clientes = pd.DataFrame(zip(nombre_cliente, apellido_cliente, email, postal), columns=['first_name', 'last_name', 'email', 'codigo_postal']) 
df_clientes = df_clientes.reset_index().rename({'index': 'id_cliente'}, axis=1)
df_clientes['id_cliente'] = df_clientes['id_cliente'] + 1
df_clientes

,id_cliente,first_name,last_name,email,codigo_postal
0,1,Isabel,Guerrero,Isabel.Guerrero@suemail.com,11774
1,2,Sara,Castro,Sara.Castro@suemail.com,11132
2,3,Ricardo,Campos,Ricardo.Campos@suemail.com,11803
3,4,Antonio,Campos,Antonio.Campos@suemail.com,11260
4,5,Alicia,Vázquez,Alicia.Vázquez@suemail.com,11055
...,...,...,...,...,...
1995,1996,Carmen,González,Carmen.González@suemail.com,11205
1996,1997,Roberto,Flores,Roberto.Flores@suemail.com,11571
1997,1998,Clara,Gutiérrez,Clara.Gutiérrez@suemail.com,11237
1998,1999,Sofía,Ruiz,Sofía.Ruiz@suemail.com,11503
1999,2000,Sara,Campos,Sara.Campos@suemail.com,11432

In [72]:
insertar_dataframe(df_clientes, 'clientes')

2000

ordenes

* id_orden: valores enteros consecutivos (1, 2, 3...).
* id_cliente: haz referencia a los IDs existentes de la tabla clientes.
* id_empleado: haz referencia a los IDs existentes de la tabla empleados.
* fecha_orden: genera fechas aleatorias o secuenciales (p. ej. entre ‘2024-01-01’ y ‘2025-01-01’).
* metodo_pago: escoge entre {‘Tarjeta’, ‘Efectivo’}.

En total: 10000.

In [73]:
# generar columna id_orden
cliente, emplea, fecha, metodo = list(), list(), list(), list()
fechas = [datetime(year=2024, month=1, day=1) + timedelta(days=numero) for numero in range(395)]
for _ in range(10000):
    cliente.append(random.choice(df_clientes['id_cliente']))
    emplea.append(random.choice(df_empleados['id_empleado']))
    fecha.append(random.choice(fechas))
    metodo.append(random.choices(['Tarjeta', 'Efectivo'], weights=[0.65, 0.35])[0])

fecha.sort()
df_ordenes = pd.DataFrame(zip(cliente, emplea, fecha, metodo), columns=['id_cliente', 'id_empleado', 'fecha_orden', 'metodo_pago'])
df_ordenes.sort_values('fecha_orden', inplace=True)
df_ordenes = df_ordenes.reset_index().rename({'index': 'id_orden'}, axis=1)
df_ordenes['id_orden'] = df_ordenes['id_orden'] + 1
df_ordenes.sort_values('id_orden', inplace=True)
df_ordenes.head(50)

    id_orden  id_cliente  id_empleado fecha_orden metodo_pago
0          1        1787           27  2024-01-01     Tarjeta
22         2         543          165  2024-01-01     Tarjeta
17         3         725           58  2024-01-01     Tarjeta
18         4         816          132  2024-01-01    Efectivo
19         5         371           53  2024-01-01    Efectivo
20         6        1412          129  2024-01-01     Tarjeta
21         7         933           92  2024-01-01     Tarjeta
28         8        1088           50  2024-01-01     Tarjeta
23         9         306           57  2024-01-01    Efectivo
24        10         775          123  2024-01-01     Tarjeta
25        11         627          110  2024-01-01    Efectivo
26        12        1619          106  2024-01-01    Efectivo
27        13         304          104  2024-01-01     Tarjeta
15        14         168          126  2024-01-01    Efectivo
16        15        1673           29  2024-01-01    Efectivo
13        16         565          111  2024-01-01    Efectivo
12        17        1384          131  2024-01-01     Tarjeta
11        18         254          184  2024-01-01    Efectivo
10        19        1575          136  2024-01-01     Tarjeta
9         20        1422           65  2024-01-01     Tarjeta
8         21         279          104  2024-01-01    Efectivo
14        22        1829           66  2024-01-01     Tarjeta
7         23         789           79  2024-01-01     Tarjeta
6         24         335          182  2024-01-01     Tarjeta
5         25         271           67  2024-01-01     Tarjeta
4         26        1849           77  2024-01-01    Efectivo
3         27        1127           36  2024-01-01    Efectivo
2         28        1377           76  2024-01-01     Tarjeta
1         29        1653           80  2024-01-01    Efectivo
51        30         589           43  2024-01-02     Tarjeta
46        31        1235           35  2024-01-02    Efectivo
47        32         512          122  2024-01-02    Efectivo
48        33         642          154  2024-01-02     Tarjeta
49        34        1785           95  2024-01-02     Tarjeta
50        35         219          149  2024-01-02    Efectivo
43        36        1454          191  2024-01-02     Tarjeta
52        37        1042          150  2024-01-02     Tarjeta
53        38         237          131  2024-01-02    Efectivo
54        39         271           90  2024-01-02     Tarjeta
55        40         603           42  2024-01-02     Tarjeta
56        41         145           76  2024-01-02    Efectivo
57        42         149           41  2024-01-02    Efectivo
44        43        1957          129  2024-01-02    Efectivo
45        44          64            2  2024-01-02    Efectivo
42        45        1102           93  2024-01-02    Efectivo
29        46         344           48  2024-01-02     Tarjeta
30        47        1180          171  2024-01-02     Tarjeta
31        48        1424          170  2024-01-02     Tarjeta
32        49        1482           10  2024-01-02     Tarjeta
33        50         321            4  2024-01-02     Tarjeta

In [74]:
insertar_dataframe(df_ordenes, 'ordenes')

10000

detalle_orden

* id_detalle: valores enteros consecutivos (1, 2, 3...).
* id_orden: referencia al ID de alguna orden válida.
* id_producto: referencia al ID de algún producto válido.
* cantidad: valores entre 1 y 20, por ejemplo.
* precio_unitario: usar el mismo precio que está en la tabla productos o uno ligeramente distinto si quieres simular ofertas.
* descuento: valores DECIMAL bajos (p. ej. 0.00, 1.00, 2.50) o NULL.

En total: 30000.

In [75]:
orden_completa = list()
productos = df_productos['id_producto']
orden_20 = df_ordenes['id_orden']
for orden in df_ordenes['id_orden']:
    ordenes = orden
    producto = (int(random.choice(productos)))
    cant = random.randint(1, 20)
    valor = float(df_productos['precio'][df_productos['id_producto'] == producto].iloc[0])
    descuento = random.uniform(0, 0.25)
    orden_completa.append([ordenes, producto, cant, round(valor, 2), round(descuento, 2)])   
for orden in range(20000):
    ordenes = random.choice(orden_20)
    producto = (int(random.choice(productos)))
    cant = random.randint(1, 20)
    valor = float(df_productos['precio'][df_productos['id_producto'] == producto].iloc[0])
    descuento = random.uniform(0, 0.25)
    orden_completa.append([ordenes, producto, cant, round(valor,2), round(descuento, 2)])   
df_detalle_orden = pd.DataFrame(orden_completa, columns=['id_orden', 'id_producto', 'cantidad', 'precio_unitario', 'descuento'])
df_detalle_orden = df_detalle_orden.reset_index().rename({'index': 'id_detalle'}, axis=1)
df_detalle_orden['id_detalle'] = df_detalle_orden['id_detalle'] + 1
df_detalle_orden

       id_detalle  id_orden  id_producto  cantidad  precio_unitario  descuento
0               1         1            4        11             2.48       0.05
1               2         2           16        14             7.03       0.13
2               3         3           16        16             7.03       0.18
3               4         4           13         3             1.89       0.01
4               5         5            2         6            10.40       0.10
...           ...       ...          ...       ...              ...        ...
29995       29996      1151           31         8             0.76       0.10
29996       29997       222           28        13             6.01       0.12
29997       29998      5443           19        18             3.08       0.10
29998       29999      6191           12         7             7.39       0.02
29999       30000      4531           24        18             9.53       0.09

[30000 rows x 6 columns]

In [76]:
insertar_dataframe(df_detalle_orden, 'detalle_orden')

30000

### 3. Consultas SQL (34%)

In [77]:
def consultas(sql):
    try:
        connection = con.connect(
            host="localhost",
            port="3306",
            user="root",
            password="admin",
            database='supermercado'
        )
        cursor = connection.cursor()
        cursor.execute(sql)
        return cursor.fetchall()
    except con.Error as error:
        print(f"Ha ocurrido un error: {error}")
        if connection:
            connection.rollback()
        return 0
    finally:
        if cursor: 
            cursor.close()
        if connection:
            connection.close()

1. Listado de órdenes con detalles de cliente y empleado
* Muestra el ID de la orden, la fecha, el nombre del cliente, el nombre del empleado que atendió la compra y el método de pago.
* Utiliza un JOIN entre las tablas ordenes, clientes y empleados.

In [78]:
sql = ('SELECT o.id_orden, o.fecha_orden, c.first_name, c.last_name, e.nombre_empleado, o.metodo_pago FROM ordenes o JOIN clientes c ON c.id_cliente = o.id_cliente JOIN empleados e ON e.id_empleado = o.id_empleado ORDER BY o.id_orden;') 
consultas(sql)

[(1, datetime.date(2024, 1, 1), 'Alicia', 'Ortiz', 'Ana Molina', 'Tarjeta'),
 (2, datetime.date(2024, 1, 1), 'Elena', 'Cruz', 'Enrique Campos', 'Tarjeta'),
 (3,
  datetime.date(2024, 1, 1),
  'Rocío',
  'Sánchez',
  'María Serrano',
  'Tarjeta'),
 (4,
  datetime.date(2024, 1, 1),
  'Julia',
  'González',
  'Teresa Carrasco',
  'Efectivo'),
 (5,
  datetime.date(2024, 1, 1),
  'Enrique',
  'Fuentes',
  'José Gutiérrez',
  'Efectivo'),
 (6, datetime.date(2024, 1, 1), 'Clara', 'Rubio', 'Pedro León', 'Tarjeta'),
 (7, datetime.date(2024, 1, 1), 'Sergio', 'Fuentes', 'Ana Medina', 'Tarjeta'),
 (8,
  datetime.date(2024, 1, 1),
  'Alicia',
  'Carrasco',
  'Roberto Gutiérrez',
  'Tarjeta'),
 (9,
  datetime.date(2024, 1, 1),
  'Carmen',
  'Gil',
  'Marta Fernández',
  'Efectivo'),
 (10,
  datetime.date(2024, 1, 1),
  'Pablo',
  'Reyes',
  'Isabel Rodríguez',
  'Tarjeta'),
 (11,
  datetime.date(2024, 1, 1),
  'Daniel',
  'Hernández',
  'Olga Castro',
  'Efectivo'),
 (12,
  datetime.date(2024, 1, 1),
  'Irene',
  'Rodríguez',
  'Carmen Hernández',
  'Efectivo'),
 (13,
  datetime.date(2024, 1, 1),
  'Enrique',
  'Castro',
  'Andrés Alonso',
  'Tarjeta'),
 (14,
  datetime.date(2024, 1, 1),
  'Jorge',
  'López',
  'Francisco Domínguez',
  'Efectivo'),
 (15,
  datetime.date(2024, 1, 1),
  'Clara',
  'Iglesias',
  'Clara Castro',
  'Efectivo'),
 (16,
  datetime.date(2024, 1, 1),
  'Clara',
  'Domínguez',
  'Víctor Domínguez',
  'Efectivo'),
 (17, datetime.date(2024, 1, 1), 'Sergio', 'León', 'Hugo Iglesias', 'Tarjeta'),
 (18, datetime.date(2024, 1, 1), 'Sofía', 'Santos', 'Rocío Gil', 'Efectivo'),
 (19, datetime.date(2024, 1, 1), 'Vera', 'Cruz', 'Rafael León', 'Tarjeta'),
 (20,
  datetime.date(2024, 1, 1),
  'Isabel',
  'Sánchez',
  'Hugo Flores',
  'Tarjeta'),
 (21,
  datetime.date(2024, 1, 1),
  'Irene',
  'Cabrera',
  'Andrés Alonso',
  'Efectivo'),
 (22,
  datetime.date(2024, 1, 1),
  'Rafael',
  'Gutiérrez',
  'Elena Ortega',
  'Tarjeta'),
 (23, datetime.date(2024, 1, 1), 'Sara', 'García', 'Patricia Cruz', 'Tarjeta'),
 (24, datetime.date(2024, 1, 1), 'José', 'Muñoz', 'Adriana Flores', 'Tarjeta'),
 (25, datetime.date(2024, 1, 1), 'Diego', 'Muñoz', 'Paula Ruiz', 'Tarjeta'),
 (26,
  datetime.date(2024, 1, 1),
  'Isabel',
  'Santos',
  'Adriana Vázquez',
  'Efectivo'),
 (27,
  datetime.date(2024, 1, 1),
  'Andrés',
  'López',
  'Carlos García',
  'Efectivo'),
 (28,
  datetime.date(2024, 1, 1),
  'Amelia',
  'Campos',
  'Álvaro Herrera',
  'Tarjeta'),
 (29,
  datetime.date(2024, 1, 1),
  'José',
  'Martínez',
  'Rafael Vega',
  'Efectivo'),
 (30,
  datetime.date(2024, 1, 2),
  'Isabel',
  'Molina',
  'Víctor Delgado',
  'Tarjeta'),
 (31, datetime.date(2024, 1, 2), 'José', 'Alonso', 'Pablo Campos', 'Efectivo'),
 (32,
  datetime.date(2024, 1, 2),
  'Francisco',
  'Herrera',
  'Natalia Ramos',
  'Efectivo'),
 (33,
  datetime.date(2024, 1, 2),
  'Antonio',
  'Iglesias',
  'María Vázquez',
  'Tarjeta'),
 (34,
  datetime.date(2024, 1, 2),
  'Lucía',
  'González',
  'Carlos Pérez',
  'Tarjeta'),
 (35, datetime.date(2024, 1, 2), 'Laura', 'Ramos', 'Diego Molina', 'Efectivo'),
 (36,
  datetime.date(2024, 1, 2),
  'Pablo',
  'Gutiérrez',
  'José Fernández',
  'Tarjeta'),
 (37, datetime.date(2024, 1, 2), 'Roberto', 'Ruiz', 'Marta Romero', 'Tarjeta'),
 (38,
  datetime.date(2024, 1, 2),
  'Daniel',
  'Molina',
  'Hugo Iglesias',
  'Efectivo'),
 (39, datetime.date(2024, 1, 2), 'Diego', 'Muñoz', 'Juan León', 'Tarjeta'),
 (40, datetime.date(2024, 1, 2), 'María', 'Reyes', 'José Fuentes', 'Tarjeta'),
 (41,
  datetime.date(2024, 1, 2),
  'Julia',
  'Ramírez',
  'Álvaro Herrera',
  'Efectivo'),
 (42,
  datetime.date(2024, 1, 2),
  'Francisco',
  'Rodríguez',
  'Víctor Serrano',
  'Efectivo'),
 (43,
  datetime.date(2024, 1, 2),
  'Daniel',
  'Gutiérrez',
  'Pedro León',
  'Efectivo'),
 (44,
  datetime.date(2024, 1, 2),
  'Manuel',
  'Ramírez',
  'Hugo Carrasco',
  'Efectivo'),
 (45,
  datetime.date(2024, 1, 2),
  'Natalia',
  'Romero',
  'Diego Romero',
  'Efectivo'),
 (46,
  datetime.date(2024, 1, 2),
  'Roberto',
  'Medina',
  'Fernando Gutiérrez',
  'Tarjeta'),
 (47, datetime.date(2024, 1, 2), 'Eva', 'Vázquez', 'Elena Álvarez', 'Tarjeta'),
 (48,
  datetime.date(2024, 1, 2),
  'Noelia',
  'Molina',
  'Natalia Pérez',
  'Tarjeta'),
 (49,
  datetime.date(2024, 1, 2),
  'Clara',
  'Molina',
  'Clara Hernández',
  'Tarjeta'),
 (50, datetime.date(2024, 1, 2), 'Hugo', 'Navarro', 'Paula Alonso', 'Tarjeta'),
 (51,
  datetime.date(2024, 1, 2),
  'Alicia',
  'González',
  'Marta Cruz',
  'Tarjeta'),
 (52,
  datetime.date(2024, 1, 2),
  'Andrés',
  'Fuentes',
  'Clara Navarro',
  'Tarjeta'),
 (53,
  datetime.date(2024, 1, 2),
  'Antonio',
  'Molina',
  'Víctor García',
  'Tarjeta'),
 (54,
  datetime.date(2024, 1, 2),
  'Gonzalo',
  'Sánchez',
  'Ricardo Fernández',
  'Tarjeta'),
 (55, datetime.date(2024, 1, 2), 'Javier', 'Vázquez', 'Rafael Gil', 'Tarjeta'),
 (56,
  datetime.date(2024, 1, 2),
  'Gonzalo',
  'Moreno',
  'Javier Calvo',
  'Tarjeta'),
 (57, datetime.date(2024, 1, 2), 'Javier', 'Molina', 'Olga Moreno', 'Tarjeta'),
 (58,
  datetime.date(2024, 1, 2),
  'Eva',
  'Ramírez',
  'Fernando Ramírez',
  'Tarjeta'),
 (59,
  datetime.date(2024, 1, 3),
  'Laura',
  'Hernández',
  'Gonzalo Carrasco',
  'Tarjeta'),
 (60, datetime.date(2024, 1, 3), 'Sara', 'Rubio', 'Álvaro Campos', 'Tarjeta'),
 (61,
  datetime.date(2024, 1, 3),
  'Patricia',
  'Romero',
  'Olga Fernández',
  'Tarjeta'),
 (62,
  datetime.date(2024, 1, 3),
  'Antonio',
  'Ramos',
  'Hugo Iglesias',
  'Tarjeta'),
 (63,
  datetime.date(2024, 1, 3),
  'Carmen',
  'Campos',
  'Alberto Díaz',
  'Tarjeta'),
 (64,
  datetime.date(2024, 1, 3),
  'Pedro',
  'Herrera',
  'Natalia Torres',
  'Tarjeta'),
 (65, datetime.date(2024, 1, 3), 'Julia', 'Molina', 'José Rubio', 'Tarjeta'),
 (66,
  datetime.date(2024, 1, 3),
  'Vera',
  'Serrano',
  'Francisco Domínguez',
  'Tarjeta'),
 (67,
  datetime.date(2024, 1, 3),
  'Adriana',
  'Navarro',
  'Elena Álvarez',
  'Tarjeta'),
 (68,
  datetime.date(2024, 1, 3),
  'Irene',
  'Carrasco',
  'Isabel Sánchez',
  'Tarjeta'),
 (69,
  datetime.date(2024, 1, 3),
  'Alberto',
  'Vázquez',
  'Adriana Flores',
  'Tarjeta'),
 (70,
  datetime.date(2024, 1, 3),
  'Teresa',
  'Delgado',
  'Alberto Vega',
  'Tarjeta'),
 (71,
  datetime.date(2024, 1, 3),
  'Irene',
  'Carrasco',
  'Vera Hernández',
  'Tarjeta'),
 (72, datetime.date(2024, 1, 3), 'Elena', 'Marín', 'Diego Molina', 'Efectivo'),
 (73,
  datetime.date(2024, 1, 3),
  'Laura',
  'Ortega',
  'Irene Carrasco',
  'Efectivo'),
 (74,
  datetime.date(2024, 1, 3),
  'Ricardo',
  'Hernández',
  'Álvaro Campos',
  'Tarjeta'),
 (75,
  datetime.date(2024, 1, 3),
  'Hugo',
  'Reyes',
  'Fernando Ortega',
  'Tarjeta'),
 (76,
  datetime.date(2024, 1, 3),
  'Alberto',
  'Vázquez',
  'Gonzalo Carrasco',
  'Tarjeta'),
 (77, datetime.date(2024, 1, 3), 'Sofía', 'López', 'Isabel Ortiz', 'Efectivo'),
 (78,
  datetime.date(2024, 1, 3),
  'José',
  'Alonso',
  'Gonzalo Domínguez',
  'Efectivo'),
 (79,
  datetime.date(2024, 1, 3),
  'Lucía',
  'Castillo',
  'Carlos Pérez',
  'Efectivo'),
 (80,
  datetime.date(2024, 1, 3),
  'Jorge',
  'Rubio',
  'Ricardo Fernández',
  'Tarjeta'),
 (81,
  datetime.date(2024, 1, 3),
  'Sergio',
  'Santos',
  'Elena Álvarez',
  'Tarjeta'),
 (82, datetime.date(2024, 1, 3), 'Teresa', 'Vega', 'Olga Jiménez', 'Tarjeta'),
 (83,
  datetime.date(2024, 1, 3),
  'Francisco',
  'Peña',
  'Adriana Torres',
  'Efectivo'),
 (84,
  datetime.date(2024, 1, 3),
  'Natalia',
  'Reyes',
  'Amelia Reyes',
  'Tarjeta'),
 (85, datetime.date(2024, 1, 3), 'María', 'López', 'Julia Ortega', 'Efectivo'),
 (86,
  datetime.date(2024, 1, 4),
  'Elena',
  'Ortiz',
  'Sergio Torres',
  'Efectivo'),
 (87,
  datetime.date(2024, 1, 4),
  'Paula',
  'López',
  'Irene Carrasco',
  'Tarjeta'),
 (88,
  datetime.date(2024, 1, 4),
  'Enrique',
  'Fuentes',
  'Ana Iglesias',
  'Efectivo'),
 (89,
  datetime.date(2024, 1, 4),
  'Amelia',
  'Cabrera',
  'Rocío Calvo',
  'Tarjeta'),
 (90, datetime.date(2024, 1, 4), 'Noelia', 'Rubio', 'Rafael León', 'Tarjeta'),
 (91,
  datetime.date(2024, 1, 4),
  'Amelia',
  'Iglesias',
  'Fernando Ortega',
  'Efectivo'),
 (92, datetime.date(2024, 1, 4), 'Manuel', 'Moreno', 'Laura Ruiz', 'Efectivo'),
 (93,
  datetime.date(2024, 1, 4),
  'Ricardo',
  'Jiménez',
  'Daniel Martínez',
  'Efectivo'),
 (94,
  datetime.date(2024, 1, 4),
  'Ricardo',
  'Domínguez',
  'Sergio Moreno',
  'Efectivo'),
 (95, datetime.date(2024, 1, 4), 'Sara', 'Fuentes', 'Teresa Rubio', 'Tarjeta'),
 (96,
  datetime.date(2024, 1, 4),
  'Isabel',
  'Flores',
  'Adriana Torres',
  'Tarjeta'),
 (97,
  datetime.date(2024, 1, 4),
  'Roberto',
  'Sánchez',
  'Pedro León',
  'Tarjeta'),
 (98,
  datetime.date(2024, 1, 4),
  'Francisco',
  'Díaz',
  'Francisco Domínguez',
  'Efectivo'),
 (99,
  datetime.date(2024, 1, 4),
  'Ana',
  'Sánchez',
  'Rafael Fernández',
  'Efectivo'),
 (100,
  datetime.date(2024, 1, 4),
  'Víctor',
  'Gil',
  'Noelia García',
  'Efectivo'),
 (101,
  datetime.date(2024, 1, 4),
  'Adriana',
  'Torres',
  'Hugo Carrasco',
  'Tarjeta'),
 (102,
  datetime.date(2024, 1, 4),
  'Sara',
  'García',
  'Natalia Guerrero',
  'Efectivo'),
 (103, datetime.date(2024, 1, 4), 'María', 'Díaz', 'Olga Moreno', 'Tarjeta'),
 (104,
  datetime.date(2024, 1, 4),
  'Pedro',
  'Romero',
  'Víctor Serrano',
  'Tarjeta'),
 (105,
  datetime.date(2024, 1, 4),
  'Ricardo',
  'Alonso',
  'Natalia Castro',
  'Efectivo'),
 (106,
  datetime.date(2024, 1, 4),
  'Diego',
  'Fernández',
  'Adriana Cabrera',
  'Tarjeta'),
 (107,
  datetime.date(2024, 1, 4),
  'Ana',
  'Romero',
  'Elena Álvarez',
  'Efectivo'),
 (108,
  datetime.date(2024, 1, 4),
  'Enrique',
  'García',
  'María Ramírez',
  'Efectivo'),
 (109,
  datetime.date(2024, 1, 4),
  'Pedro',
  'Santos',
  'Isabel Ortiz',
  'Tarjeta'),
 (110,
  datetime.date(2024, 1, 4),
  'Sergio',
  'Guerrero',
  'Natalia Castro',
  'Tarjeta'),
 (111, datetime.date(2024, 1, 5), 'Alberto', 'Ruiz', 'Hugo Medina', 'Tarjeta'),
 (112,
  datetime.date(2024, 1, 5),
  'Natalia',
  'Serrano',
  'Álvaro García',
  'Tarjeta'),
 (113,
  datetime.date(2024, 1, 5),
  'Alberto',
  'Domínguez',
  'José Fernández',
  'Efectivo'),
 (114,
  datetime.date(2024, 1, 5),
  'Antonio',
  'Marín',
  'Hugo Iglesias',
  'Tarjeta'),
 (115,
  datetime.date(2024, 1, 5),
  'Manuel',
  'Serrano',
  'Adriana Cabrera',
  'Efectivo'),
 (116,
  datetime.date(2024, 1, 5),
  'Clara',
  'Molina',
  'Alberto Díaz',
  'Efectivo'),
 (117,
  datetime.date(2024, 1, 5),
  'Irene',
  'Ramírez',
  'Alberto Santos',
  'Tarjeta'),
 (118,
  datetime.date(2024, 1, 5),
  'Antonio',
  'Ramos',
  'Patricia Gil',
  'Tarjeta'),
 (119,
  datetime.date(2024, 1, 5),
  'Elena',
  'García',
  'Natalia Pérez',
  'Tarjeta'),
 (120,
  datetime.date(2024, 1, 5),
  'Lucía',
  'Castro',
  'Álvaro Romero',
  'Efectivo'),
 (121, datetime.date(2024, 1, 5), 'Ana', 'Navarro', 'Eva Reyes', 'Efectivo'),
 (122,
  datetime.date(2024, 1, 5),
  'Natalia',
  'Delgado',
  'Marta Fernández',
  'Efectivo'),
 (123,
  datetime.date(2024, 1, 5),
  'José',
  'Alonso',
  'Carmen Hernández',
  'Tarjeta'),
 (124, datetime.date(2024, 1, 5), 'Alicia', 'Díaz', 'Laura León', 'Efectivo'),
 (125,
  datetime.date(2024, 1, 5),
  'Amelia',
  'Iglesias',
  'Rocío Gil',
  'Tarjeta'),
 (126,
  datetime.date(2024, 1, 5),
  'Alberto',
  'Molina',
  'Antonio Calvo',
  'Efectivo'),
 (127,
  datetime.date(2024, 1, 5),
  'Pablo',
  'Domínguez',
  'Hugo González',
  'Tarjeta'),
 (128,
  datetime.date(2024, 1, 5),
  'Pedro',
  'Vega',
  'Alberto Santos',
  'Efectivo'),
 (129,
  datetime.date(2024, 1, 5),
  'Juan',
  'Molina',
  'Álvaro Romero',
  'Tarjeta'),
 (130,
  datetime.date(2024, 1, 5),
  'Elena',
  'Delgado',
  'María Vázquez',
  'Efectivo'),
 (131,
  datetime.date(2024, 1, 5),
  'Ricardo',
  'Rubio',
  'Julia Serrano',
  'Tarjeta'),
 (132,
  datetime.date(2024, 1, 5),
  'Adriana',
  'Alonso',
  'Hugo Iglesias',
  'Tarjeta'),
 (133,
  datetime.date(2024, 1, 5),
  'Vera',
  'Díaz',
  'Marta Gutiérrez',
  'Efectivo'),
 (134,
  datetime.date(2024, 1, 5),
  'Andrés',
  'Moreno',
  'Rafael Fernández',
  'Efectivo'),
 (135,
  datetime.date(2024, 1, 5),
  'Álvaro',
  'Navarro',
  'Carmen Guerrero',
  'Tarjeta'),
 (136,
  datetime.date(2024, 1, 6),
  'Javier',
  'Castillo',
  'Antonio Calvo',
  'Tarjeta'),
 (137,
  datetime.date(2024, 1, 6),
  'Ana',
  'Vega',
  'Francisco González',
  'Efectivo'),
 (138,
  datetime.date(2024, 1, 6),
  'Pedro',
  'Jiménez',
  'Ana Iglesias',
  'Efectivo'),
 (139,
  datetime.date(2024, 1, 6),
  'Eva',
  'Pérez',
  'Alberto Hernández',
  'Tarjeta'),
 (140,
  datetime.date(2024, 1, 6),
  'Sergio',
  'Jiménez',
  'Francisco Serrano',
  'Tarjeta'),
 (141,
  datetime.date(2024, 1, 6),
  'Pedro',
  'Sánchez',
  'Francisco Carrasco',
  'Efectivo'),
 (142,
  datetime.date(2024, 1, 6),
  'Rocío',
  'Fernández',
  'Diego Romero',
  'Tarjeta'),
 (143, datetime.date(2024, 1, 6), 'Andrés', 'Muñoz', 'Carlos Vega', 'Tarjeta'),
 (144,
  datetime.date(2024, 1, 6),
  'Patricia',
  'Hernández',
  'Olga Jiménez',
  'Tarjeta'),
 (145,
  datetime.date(2024, 1, 6),
  'Juan',
  'Cabrera',
  'Julia Gutiérrez',
  'Efectivo'),
 (146, datetime.date(2024, 1, 6), 'Pedro', 'Ruiz', 'Luis Muñoz', 'Efectivo'),
 (147, datetime.date(2024, 1, 6), 'Ana', 'Ortiz', 'Julia Ortega', 'Tarjeta'),
 (148,
  datetime.date(2024, 1, 6),
  'Pedro',
  'Serrano',
  'Carlos García',
  'Tarjeta'),
 (149,
  datetime.date(2024, 1, 6),
  'Adriana',
  'Álvarez',
  'José Fernández',
  'Efectivo'),
 (150,
  datetime.date(2024, 1, 6),
  'Álvaro',
  'Calvo',
  'Vera Hernández',
  'Efectivo'),
 (151,
  datetime.date(2024, 1, 6),
  'Javier',
  'Jiménez',
  'Juan León',
  'Efectivo'),
 (152,
  datetime.date(2024, 1, 6),
  'Alicia',
  'Cabrera',
  'Carlos Martínez',
  'Tarjeta'),
 (153,
  datetime.date(2024, 1, 6),
  'Paula',
  'Martínez',
  'Gonzalo Carrasco',
  'Efectivo'),
 (154,
  datetime.date(2024, 1, 6),
  'Sergio',
  'Fernández',
  'Carlos Vega',
  'Tarjeta'),
 (155,
  datetime.date(2024, 1, 6),
  'Víctor',
  'Flores',
  'Vera Hernández',
  'Tarjeta'),
 (156, datetime.date(2024, 1, 6), 'Alicia', 'López', 'Ana Molina', 'Tarjeta'),
 (157,
  datetime.date(2024, 1, 6),
  'Pedro',
  'Jiménez',
  'Ricardo Fernández',
  'Tarjeta'),
 (158,
  datetime.date(2024, 1, 6),
  'Hugo',
  'Álvarez',
  'Irene Moreno',
  'Efectivo'),
 (159,
  datetime.date(2024, 1, 6),
  'Alberto',
  'Domínguez',
  'Patricia Gil',
  'Efectivo'),
 (160, datetime.date(2024, 1, 6), 'Rocío', 'Sánchez', 'Rafael Gil', 'Tarjeta'),
 (161,
  datetime.date(2024, 1, 7),
  'Víctor',
  'González',
  'Fernando Gutiérrez',
  'Tarjeta'),
 (162,
  datetime.date(2024, 1, 7),
  'Diego',
  'Domínguez',
  'Adriana Cruz',
  'Efectivo'),
 (163,
  datetime.date(2024, 1, 7),
  'Enrique',
  'Guerrero',
  'Javier Herrera',
  'Tarjeta'),
 (164,
  datetime.date(2024, 1, 7),
  'Teresa',
  'Castro',
  'Fernando Ramírez',
  'Tarjeta'),
 (165,
  datetime.date(2024, 1, 7),
  'Manuel',
  'Rubio',
  'Enrique Medina',
  'Tarjeta'),
 (166,
  datetime.date(2024, 1, 7),
  'Sofía',
  'Navarro',
  'Carmen Ramos',
  'Tarjeta'),
 (167, datetime.date(2024, 1, 7), 'Ana', 'Marín', 'Sergio López', 'Tarjeta'),
 (168, datetime.date(2024, 1, 7), 'Olga', 'Cruz', 'María Vázquez', 'Tarjeta'),
 (169,
  datetime.date(2024, 1, 7),
  'Ricardo',
  'Guerrero',
  'Laura Alonso',
  'Tarjeta'),
 (170,
  datetime.date(2024, 1, 7),
  'Sergio',
  'García',
  'Sergio Torres',
  'Efectivo'),
 (171,
  datetime.date(2024, 1, 7),
  'Manuel',
  'Castro',
  'Carlos García',
  'Efectivo'),
 (172, datetime.date(2024, 1, 7), 'José', 'Muñoz', 'Carlos Pérez', 'Tarjeta'),
 (173,
  datetime.date(2024, 1, 7),
  'Ricardo',
  'Alonso',
  'Andrés Alonso',
  'Tarjeta'),
 (174,
  datetime.date(2024, 1, 7),
  'Manuel',
  'García',
  'Francisco Domínguez',
  'Tarjeta'),
 (175, datetime.date(2024, 1, 7), 'Marta', 'Alonso', 'Pedro León', 'Efectivo'),
 (176,
  datetime.date(2024, 1, 7),
  'Diego',
  'Iglesias',
  'Álvaro Campos',
  'Tarjeta'),
 (177,
  datetime.date(2024, 1, 7),
  'Adriana',
  'Flores',
  'Sergio López',
  'Tarjeta'),
 (178,
  datetime.date(2024, 1, 7),
  'Natalia',
  'Álvarez',
  'Fernando Gutiérrez',
  'Tarjeta'),
 (179, datetime.date(2024, 1, 7), 'Diego', 'Vega', 'Julia Ortega', 'Tarjeta'),
 (180,
  datetime.date(2024, 1, 7),
  'Víctor',
  'Molina',
  'Isabel León',
  'Tarjeta'),
 (181,
  datetime.date(2024, 1, 7),
  'Víctor',
  'Muñoz',
  'Pablo Ortiz',
  'Efectivo'),
 (182,
  datetime.date(2024, 1, 7),
  'Hugo',
  'Álvarez',
  'Fernando Medina',
  'Tarjeta'),
 (183,
  datetime.date(2024, 1, 7),
  'Julia',
  'Cabrera',
  'Laura Martínez',
  'Efectivo'),
 (184,
  datetime.date(2024, 1, 7),
  'Clara',
  'Delgado',
  'Natalia Fernández',
  'Efectivo'),
 (185,
  datetime.date(2024, 1, 7),
  'Amelia',
  'Moreno',
  'Enrique Torres',
  'Efectivo'),
 (186,
  datetime.date(2024, 1, 7),
  'Patricia',
  'Campos',
  'Manuel Calvo',
  'Efectivo'),
 (187,
  datetime.date(2024, 1, 8),
  'Hugo',
  'Iglesias',
  'Jorge Rubio',
  'Tarjeta'),
 (188, datetime.date(2024, 1, 8), 'Pedro', 'Torres', 'Pedro León', 'Tarjeta'),
 (189,
  datetime.date(2024, 1, 8),
  'Víctor',
  'Iglesias',
  'Pedro Gutiérrez',
  'Efectivo'),
 (190,
  datetime.date(2024, 1, 8),
  'Roberto',
  'Santos',
  'Elena Álvarez',
  'Tarjeta'),
 (191,
  datetime.date(2024, 1, 8),
  'Manuel',
  'Pérez',
  'Víctor Fernández',
  'Efectivo'),
 (192,
  datetime.date(2024, 1, 8),
  'Manuel',
  'Pérez',
  'Sergio López',
  'Efectivo'),
 (193,
  datetime.date(2024, 1, 8),
  'Rafael',
  'Reyes',
  'Vera Hernández',
  'Tarjeta'),
 (194,
  datetime.date(2024, 1, 8),
  'Julia',
  'Molina',
  'Roberto Herrera',
  'Tarjeta'),
 (195,
  datetime.date(2024, 1, 8),
  'Alicia',
  'Gil',
  'Fernando Ortega',
  'Efectivo'),
 (196,
  datetime.date(2024, 1, 8),
  'Pedro',
  'Ortega',
  'Álvaro Rubio',
  'Tarjeta'),
 (197,
  datetime.date(2024, 1, 8),
  'Manuel',
  'Álvarez',
  'Isabel Ortega',
  'Tarjeta'),
 (198,
  datetime.date(2024, 1, 8),
  'Lucía',
  'Gutiérrez',
  'Sergio Moreno',
  'Tarjeta'),
 (199, datetime.date(2024, 1, 8), 'Clara', 'Serrano', 'José Marín', 'Tarjeta'),
 (200,
  datetime.date(2024, 1, 8),
  'Álvaro',
  'Fernández',
  'Patricia Cruz',
  'Tarjeta'),
 (201,
  datetime.date(2024, 1, 8),
  'Hugo',
  'Carrasco',
  'Noelia León',
  'Tarjeta'),
 (202,
  datetime.date(2024, 1, 8),
  'Sergio',
  'Álvarez',
  'Isabel Rodríguez',
  'Tarjeta'),
 (203,
  datetime.date(2024, 1, 8),
  'Lucía',
  'López',
  'Alberto Santos',
  'Efectivo'),
 (204,
  datetime.date(2024, 1, 8),
  'Laura',
  'González',
  'Francisco Carrasco',
  'Tarjeta'),
 (205, datetime.date(2024, 1, 8), 'Clara', 'Ruiz', 'Clara Castro', 'Tarjeta'),
 (206,
  datetime.date(2024, 1, 8),
  'Marta',
  'Campos',
  'Adriana Flores',
  'Tarjeta'),
 (207,
  datetime.date(2024, 1, 8),
  'Adriana',
  'Hernández',
  'Fernando Ramírez',
  'Tarjeta'),
 (208, datetime.date(2024, 1, 8), 'Hugo', 'Gil', 'Roberto Herrera', 'Tarjeta'),
 (209, datetime.date(2024, 1, 8), 'Sofía', 'Santos', 'José Rubio', 'Tarjeta'),
 (210,
  datetime.date(2024, 1, 8),
  'Luis',
  'Fuentes',
  'Clara Castro',
  'Efectivo'),
 (211,
  datetime.date(2024, 1, 9),
  'Gonzalo',
  'Hernández',
  'Marta Cruz',
  'Efectivo'),
 (212,
  datetime.date(2024, 1, 9),
  'Andrés',
  'Cruz',
  'Elena Álvarez',
  'Tarjeta'),
 (213,
  datetime.date(2024, 1, 9),
  'Manuel',
  'Álvarez',
  'Marta Rodríguez',
  'Tarjeta'),
 (214,
  datetime.date(2024, 1, 9),
  'Alberto',
  'Domínguez',
  'Sara Gil',
  'Tarjeta'),
 (215,
  datetime.date(2024, 1, 9),
  'Paula',
  'Fernández',
  'Víctor Alonso',
  'Tarjeta'),
 (216,
  datetime.date(2024, 1, 9),
  'Carlos',
  'Calvo',
  'Álvaro Gutiérrez',
  'Tarjeta'),
 (217,
  datetime.date(2024, 1, 9),
  'Sergio',
  'Moreno',
  'Julia Gutiérrez',
  'Tarjeta'),
 (218, datetime.date(2024, 1, 9), 'Álvaro', 'Santos', 'Paula Gil', 'Efectivo'),
 (219, datetime.date(2024, 1, 9), 'Alicia', 'León', 'Juan León', 'Tarjeta'),
 (220,
  datetime.date(2024, 1, 9),
  'Sara',
  'García',
  'Ricardo Fernández',
  'Efectivo'),

2. Productos con stock bajo
* Filtra aquellos productos cuyo stock sea menor a 10.
* Muestra nombre del producto, categoría y stock.

In [79]:
sql = ('SELECT p.nombre_producto, c.nombre_categoria, p.stock FROM productos p JOIN categorias c ON p.id_categoria = c.id_categoria WHERE p.stock < 10;')
consultas(sql)

[('Leche', 'Lácteos', 4),
 ('Carne de res', 'Carnes', 8),
 ('Banana', 'Frutas', 9),
 ('Cebolla', 'Verduras', 3),
 ('Crema hidratante', 'Perfumería', 0)]

3. Ventas totales por categoría
* Muestra el nombre de la categoría y la suma total de las ventas (ej.: multiplicando cantidad * precio_unitario) para cada categoría.
* Realiza el JOIN con detalle_orden, productos y categorias.
* Utiliza agrupación (GROUP BY).

In [80]:
sql = ('SELECT c.nombre_categoria as categoria, sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) as ventas_netas, sum(d.precio_unitario * d.cantidad) as ventas_brutas FROM categorias c JOIN productos p ON p.id_categoria = c.id_categoria JOIN detalle_orden d ON d.id_producto = p.id_producto group by c.id_categoria;')
consultas(sql)

[('Lácteos', 182978.77, 182978.77),
 ('Verduras', 197951.31, 197951.31),
 ('Perfumería', 224949.63, 224949.63),
 ('Snacks', 250437.05, 250437.05),
 ('Bebidas', 167004.61, 167004.61),
 ('Hogar', 201490.72, 201490.72),
 ('Limpieza', 115963.72, 115963.72),
 ('Frutas', 157637.68, 157637.68),
 ('Carnes', 154848.99, 154848.99),
 ('Jardín', 233541.8, 233541.8)]

4. Clientes con mayores gastos acumulados
* Muestra el nombre del cliente y el monto total que ha gastado (suma de todas sus órdenes).
* Asegúrate de tener en cuenta posibles descuentos (descuento) si se ha definido. Por ejemplo, la fórmula podría ser (cantidad * precio_unitario) - descuento.
* Ordena el resultado de mayor a menor gasto acumulado.

In [81]:
sql = ('SELECT c.first_name as nombre, c.last_name as apellido, sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) as compras FROM clientes c JOIN ordenes o ON c.id_cliente = o.id_cliente JOIN detalle_orden d ON d.id_orden = o.id_orden GROUP BY c.id_cliente ORDER BY sum((d.precio_unitario * ( 1 - d.descuento)) * d.cantidad) DESC;')
consultas(sql)

[('Rafael', 'Castro', 3179.96),
 ('Luis', 'Reyes', 2893.73),
 ('Antonio', 'Molina', 2720.4),
 ('Pedro', 'Torres', 2592.0),
 ('Adriana', 'Navarro', 2452.5),
 ('Andrés', 'Gil', 2420.94),
 ('Julia', 'Álvarez', 2389.0),
 ('Patricia', 'Guerrero', 2360.06),
 ('Rafael', 'Campos', 2335.47),
 ('Amelia', 'Serrano', 2326.06),
 ('Gonzalo', 'Gil', 2324.47),
 ('Juan', 'Cabrera', 2321.55),
 ('Antonio', 'Ramos', 2317.14),
 ('Rocío', 'Gutiérrez', 2313.11),
 ('Rafael', 'Peña', 2306.91),
 ('Hugo', 'Reyes', 2304.37),
 ('Antonio', 'Alonso', 2299.13),
 ('Javier', 'Medina', 2297.55),
 ('Lucía', 'Hernández', 2287.58),
 ('Hugo', 'Pérez', 2278.05),
 ('Antonio', 'Molina', 2256.25),
 ('Amelia', 'Fuentes', 2252.77),
 ('Pedro', 'Marín', 2246.08),
 ('Alicia', 'González', 2230.89),
 ('Andrés', 'Iglesias', 2224.12),
 ('Alicia', 'Díaz', 2223.91),
 ('Irene', 'Reyes', 2190.32),
 ('Clara', 'Molina', 2183.13),
 ('Julia', 'Cabrera', 2180.29),
 ('Javier', 'Castillo', 2166.08),
 ('Laura', 'Rodríguez', 2140.28),
 ('Lucía', 'Calvo', 2119.55),
 ('Rafael', 'Carrasco', 2117.5),
 ('Enrique', 'Álvarez', 2110.69),
 ('Teresa', 'Delgado', 2108.54),
 ('Roberto', 'Ruiz', 2105.29),
 ('Sara', 'Gutiérrez', 2093.77),
 ('Paula', 'Domínguez', 2089.94),
 ('Julia', 'Alonso', 2085.51),
 ('Rocío', 'Ramírez', 2075.18),
 ('Teresa', 'Delgado', 2075.06),
 ('Diego', 'Iglesias', 2062.29),
 ('Francisco', 'García', 2061.5),
 ('Elena', 'Delgado', 2059.07),
 ('Carmen', 'Serrano', 2053.39),
 ('Andrés', 'Ramírez', 2043.93),
 ('Adriana', 'Fernández', 2039.75),
 ('Javier', 'García', 2037.11),
 ('Isabel', 'Castillo', 2032.34),
 ('Carmen', 'García', 2030.13),
 ('Teresa', 'Flores', 2028.19),
 ('María', 'Rubio', 2026.65),
 ('Carlos', 'Sánchez', 2024.46),
 ('María', 'Reyes', 2024.04),
 ('Rocío', 'Sánchez', 2011.76),
 ('Julia', 'Molina', 2001.61),
 ('Noelia', 'Pérez', 2001.36),
 ('Noelia', 'León', 1993.43),
 ('Daniel', 'Santos', 1987.56),
 ('Rafael', 'Vega', 1984.03),
 ('Antonio', 'Muñoz', 1979.26),
 ('Amelia', 'Castro', 1976.54),
 ('Hugo', 'Pérez', 1976.25),
 ('Lucía', 'Castillo', 1975.02),
 ('Rafael', 'Rubio', 1950.78),
 ('Daniel', 'Fernández', 1945.88),
 ('Fernando', 'Castillo', 1942.02),
 ('Teresa', 'Navarro', 1940.83),
 ('Francisco', 'Herrera', 1939.16),
 ('Juan', 'Torres', 1938.47),
 ('Ana', 'Guerrero', 1923.94),
 ('Manuel', 'Pérez', 1923.86),
 ('María', 'Ruiz', 1922.14),
 ('José', 'Vega', 1919.95),
 ('Ricardo', 'López', 1918.15),
 ('Hugo', 'Cabrera', 1912.64),
 ('Sofía', 'García', 1900.26),
 ('Julia', 'Ramírez', 1894.69),
 ('Fernando', 'Muñoz', 1892.0),
 ('Antonio', 'Vázquez', 1884.19),
 ('Álvaro', 'Vega', 1883.83),
 ('Carmen', 'Jiménez', 1883.72),
 ('Natalia', 'Gil', 1881.59),
 ('Teresa', 'Santos', 1875.62),
 ('Víctor', 'Alonso', 1872.98),
 ('Clara', 'Ruiz', 1869.85),
 ('Noelia', 'López', 1866.29),
 ('Elena', 'Ortiz', 1864.71),
 ('Jorge', 'Molina', 1863.91),
 ('Francisco', 'Moreno', 1863.74),
 ('Irene', 'Vega', 1862.82),
 ('Enrique', 'Cruz', 1862.53),
 ('Antonio', 'Muñoz', 1861.71),
 ('Roberto', 'Ortega', 1850.59),
 ('Ricardo', 'Flores', 1845.89),
 ('Vera', 'Rubio', 1844.0),
 ('Sara', 'Pérez', 1842.37),
 ('Alicia', 'Santos', 1839.13),
 ('Noelia', 'Rodríguez', 1837.76),
 ('Ana', 'Sánchez', 1834.7),
 ('Antonio', 'Marín', 1832.68),
 ('Diego', 'Iglesias', 1829.4),
 ('Francisco', 'Calvo', 1828.99),
 ('Andrés', 'Castillo', 1825.24),
 ('Álvaro', 'Sánchez', 1821.55),
 ('Isabel', 'Díaz', 1820.46),
 ('Javier', 'Molina', 1820.28),
 ('Juan', 'Vázquez', 1818.62),
 ('Paula', 'Gutiérrez', 1817.52),
 ('Francisco', 'Medina', 1817.4),
 ('Andrés', 'Marín', 1816.79),
 ('Irene', 'Hernández', 1811.64),
 ('Roberto', 'Vega', 1811.15),
 ('Manuel', 'Molina', 1804.34),
 ('Javier', 'Muñoz', 1802.46),
 ('Javier', 'Castillo', 1801.01),
 ('Juan', 'Rodríguez', 1799.71),
 ('Ricardo', 'Medina', 1798.09),
 ('Manuel', 'Sánchez', 1796.5),
 ('Eva', 'León', 1795.75),
 ('Adriana', 'Campos', 1794.25),
 ('Julia', 'Herrera', 1793.27),
 ('Fernando', 'Campos', 1791.47),
 ('Adriana', 'Fernández', 1790.49),
 ('Ricardo', 'Pérez', 1785.33),
 ('Jorge', 'Marín', 1782.72),
 ('Álvaro', 'Fernández', 1780.79),
 ('María', 'Santos', 1780.52),
 ('Adriana', 'Álvarez', 1777.42),
 ('Alberto', 'Pérez', 1776.53),
 ('Carlos', 'Reyes', 1772.71),
 ('Roberto', 'Rodríguez', 1770.35),
 ('Pablo', 'Martínez', 1767.98),
 ('Irene', 'Ramírez', 1766.5),
 ('Isabel', 'Ramos', 1764.83),
 ('Isabel', 'López', 1763.79),
 ('Ana', 'Sánchez', 1759.36),
 ('Marta', 'Guerrero', 1758.77),
 ('Andrés', 'Iglesias', 1752.41),
 ('Sofía', 'Díaz', 1749.81),
 ('Carmen', 'Iglesias', 1746.62),
 ('Fernando', 'Ortiz', 1745.16),
 ('Olga', 'Carrasco', 1744.82),
 ('Teresa', 'Castro', 1743.35),
 ('Clara', 'Molina', 1741.72),
 ('Ana', 'Santos', 1741.31),
 ('Antonio', 'Cruz', 1740.89),
 ('Sara', 'Carrasco', 1739.61),
 ('Alberto', 'Domínguez', 1737.36),
 ('Sergio', 'Muñoz', 1735.95),
 ('Teresa', 'Gutiérrez', 1735.06),
 ('Daniel', 'Carrasco', 1725.32),
 ('Pedro', 'Álvarez', 1724.99),
 ('Ana', 'Castro', 1724.53),
 ('Ana', 'Álvarez', 1723.75),
 ('Noelia', 'Domínguez', 1721.59),
 ('Noelia', 'Medina', 1719.8),
 ('Olga', 'Reyes', 1717.45),
 ('Luis', 'Reyes', 1717.1),
 ('María', 'Castillo', 1713.99),
 ('José', 'López', 1713.16),
 ('Hugo', 'Herrera', 1711.66),
 ('Sara', 'Hernández', 1709.0),
 ('Ana', 'Muñoz', 1708.31),
 ('Irene', 'Cabrera', 1707.15),
 ('Francisco', 'López', 1704.29),
 ('Amelia', 'Cruz', 1703.43),
 ('Vera', 'Cruz', 1702.43),
 ('Hugo', 'Flores', 1699.41),
 ('Patricia', 'Guerrero', 1699.39),
 ('Víctor', 'Gil', 1699.28),
 ('Natalia', 'Alonso', 1697.95),
 ('Pedro', 'Vega', 1696.03),
 ('Teresa', 'González', 1695.96),
 ('Pedro', 'Ramos', 1692.38),
 ('Víctor', 'Cruz', 1688.19),
 ('Sofía', 'Herrera', 1687.81),
 ('Antonio', 'Alonso', 1687.47),
 ('Jorge', 'Ruiz', 1683.97),
 ('Vera', 'Hernández', 1681.01),
 ('Marta', 'Sánchez', 1679.96),
 ('Jorge', 'Ramírez', 1679.93),
 ('Alberto', 'López', 1678.66),
 ('Elena', 'Rodríguez', 1674.02),
 ('Vera', 'Domínguez', 1672.95),
 ('Teresa', 'Ortiz', 1672.18),
 ('Adriana', 'Sánchez', 1671.85),
 ('Jorge', 'Romero', 1669.58),
 ('Luis', 'García', 1665.86),
 ('Sergio', 'Medina', 1662.15),
 ('Rafael', 'Sánchez', 1661.29),
 ('José', 'Flores', 1660.88),
 ('Adriana', 'Vázquez', 1658.87),
 ('Alberto', 'Ramos', 1658.47),
 ('Amelia', 'Medina', 1652.83),
 ('Roberto', 'Ramos', 1651.73),
 ('Marta', 'Delgado', 1646.69),
 ('Vera', 'Ramírez', 1646.47),
 ('Manuel', 'León', 1645.61),
 ('Sergio', 'Álvarez', 1645.3),
 ('Alberto', 'Carrasco', 1643.44),
 ('Sara', 'García', 1642.84),
 ('Natalia', 'Reyes', 1640.75),
 ('Víctor', 'Álvarez', 1640.71),
 ('Jorge', 'Hernández', 1637.18),
 ('Francisco', 'Peña', 1636.84),
 ('Manuel', 'Álvarez', 1634.78),
 ('Adriana', 'Santos', 1630.39),
 ('Francisco', 'Rodríguez', 1626.74),
 ('Francisco', 'Romero', 1624.8),
 ('Julia', 'Ruiz', 1621.25),
 ('Rocío', 'García', 1620.81),
 ('Amelia', 'Flores', 1619.29),
 ('Lucía', 'Molina', 1619.22),
 ('Alberto', 'Marín', 1617.11),
 ('María', 'Reyes', 1617.02),
 ('Olga', 'Calvo', 1616.33),
 ('Javier', 'Fernández', 1614.07),
 ('Roberto', 'Peña', 1608.23),
 ('Diego', 'Pérez', 1607.54),
 ('Roberto', 'Gutiérrez', 1606.08),
 ('Manuel', 'Pérez', 1605.65),
 ('Alicia', 'Gil', 1605.0),
 ('Roberto', 'Muñoz', 1604.29),
 ('Rocío', 'López', 1602.75),
 ('Francisco', 'Carrasco', 1597.9),
 ('Rocío', 'Ortega', 1592.47),
 ('Gonzalo', 'Ortega', 1591.21),
 ('Alicia', 'López', 1588.66),
 ('Vera', 'Díaz', 1588.6),
 ('Marta', 'Ramos', 1587.96),
 ('Laura', 'León', 1586.8),
 ('Laura', 'Hernández', 1584.93),
 ('Jorge', 'Moreno', 1583.42),
 ('Marta', 'Moreno', 1581.01),
 ('Marta', 'Medina', 1578.9),
 ('Víctor', 'Domínguez', 1578.66),
 ('Juan', 'García', 1578.25),
 ('Javier', 'Medina', 1576.76),
 ('Rafael', 'Romero', 1575.45),
 ('Laura', 'Vega', 1570.57),
 ('Álvaro', 'Hernández', 1570.42),
 ('Alberto', 'Vázquez', 1569.17),
 ('Enrique', 'Fuentes', 1562.34),
 ('Hugo', 'Álvarez', 1561.96),
 ('Sofía', 'Campos', 1558.82),
 ('Eva', 'Gutiérrez', 1557.55),
 ('Ricardo', 'Cruz', 1552.2),
 ('Gonzalo', 'Iglesias', 1551.04),
 ('Daniel', 'Navarro', 1550.46),
 ('Teresa', 'Ramos', 1550.31),
 ('Vera', 'Gutiérrez', 1548.08),
 ('Irene', 'Muñoz', 1547.78),
 ('Sergio', 'Rubio', 1544.98),
 ('Francisco', 'Álvarez', 1542.85),
 ('Luis', 'Cabrera', 1541.07),
 ('Álvaro', 'Cabrera', 1536.27),
 ('Hugo', 'Herrera', 1532.32),
 ('Patricia', 'Reyes', 1528.28),
 ('Gonzalo', 'Martínez', 1528.16),
 ('Hugo', 'Ramos', 1527.85),
 ('Sofía', 'Cruz', 1525.9),
 ('Rocío', 'Gil', 1525.68),
 ('Lucía', 'Vázquez', 1524.8),
 ('Elena', 'Ramos', 1521.47),
 ('Antonio', 'Iglesias', 1520.95),
 ('Sofía', 'Herrera', 1520.85),
 ('Irene', 'Carrasco', 1520.8),
 ('María', 'Ramírez', 1518.67),
 ('Noelia', 'Reyes', 1516.02),
 ('Javier', 'Cruz', 1515.29),
 ('Pedro', 'Marín', 1514.24),
 ('Adriana', 'López', 1511.27),
 ('Manuel', 'Hernández', 1508.67),
 ('Paula', 'López', 1508.45),
 ('Teresa', 'Molina', 1507.63),
 ('Jorge', 'Fernández', 1506.27),
 ('Sofía', 'Santos', 1505.55),
 ('Diego', 'Fernández', 1501.35),
 ('Carlos', 'Medina', 1500.77),
 ('Noelia', 'Molina', 1500.56),
 ('Enrique', 'Guerrero', 1499.53),
 ('Sofía', 'Ruiz', 1499.38),
 ('Noelia', 'Vázquez', 1494.8),
 ('Julia', 'Ortiz', 1493.24),
 ('Rocío', 'Ramos', 1492.21),
 ('Julia', 'Campos', 1491.22),
 ('Clara', 'Rodríguez', 1489.84),
 ('Juan', 'Marín', 1489.75),
 ('Víctor', 'Muñoz', 1488.85),
 ('Eva', 'Vázquez', 1483.04),
 ('Hugo', 'Ramos', 1481.58),
 ('Manuel', 'Martínez', 1480.52),
 ('Paula', 'Romero', 1471.25),
 ('Gonzalo', 'Álvarez', 1469.72),
 ('Teresa', 'Peña', 1466.59),
 ('Ana', 'Santos', 1465.77),
 ('Clara', 'Serrano', 1461.79),
 ('José', 'Rodríguez', 1460.87),
 ('Juan', 'Medina', 1458.74),
 ('Noelia', 'Martínez', 1458.44),
 ('Daniel', 'Marín', 1457.57),
 ('José', 'Muñoz', 1457.43),
 ('Enrique', 'Torres', 1457.17),
 ('José', 'González', 1455.92),
 ('Teresa', 'Marín', 1449.75),
 ('Julia', 'Molina', 1449.11),
 ('Diego', 'Muñoz', 1447.26),
 ('Daniel', 'Castro', 1445.51),
 ('Enrique', 'Castillo', 1444.91),
 ('Laura', 'Ortega', 1444.82),
 ('Amelia', 'Martínez', 1443.73),
 ('Pablo', 'Muñoz', 1442.98),
 ('Ana', 'Ortiz', 1441.0),
 ('Alberto', 'Ruiz', 1439.42),
 ('Noelia', 'González', 1439.11),
 ('Álvaro', 'Vázquez', 1438.54),
 ('Alberto', 'Ruiz', 1438.33),
 ('Patricia', 'Guerrero', 1438.3),
 ('Elena', 'Iglesias', 1436.79),
 ('José', 'López', 1433.72),
 ('Paula', 'Pérez', 1432.09),
 ('Elena', 'Ramírez', 1429.51),
 ('Julia', 'Campos', 1428.42),
 ('Francisco', 'Muñoz', 1428.3),
 ('José', 'Rodríguez', 1427.27),
 ('Adriana', 'Marín', 1426.99),
 ('Pablo', 'Ramos', 1426.39),
 ('Patricia', 'Romero', 1425.97),
 ('Patricia', 'Muñoz', 1425.37),
 ('Sara', 'Santos', 1422.29),
 ('Javier', 'Vázquez', 1422.28),
 ('Daniel', 'Molina', 1421.18),
 ('Natalia', 'Delgado', 1420.83),
 ('Alicia', 'Romero', 1420.44),
 ('Olga', 'Cruz', 1418.77),
 ('Paula', 'Álvarez', 1418.18),
 ('Olga', 'Fernández', 1417.3),
 ('Laura', 'Fuentes', 1417.27),
 ('Enrique', 'García', 1415.86),
 ('Andrés', 'Muñoz', 1415.84),
 ('José', 'Torres', 1414.44),
 ('Laura', 'Cruz', 1413.64),
 ('Jorge', 'Serrano', 1411.39),
 ('Luis', 'Moreno', 1409.29),
 ('Luis', 'Fernández', 1407.03),
 ('Fernando', 'Pérez', 1405.27),
 ('Noelia', 'Rubio', 1401.96),
 ('Elena', 'Santos', 1401.06),
 ('Vera', 'Castro', 1395.47),
 ('Andrés', 'Cabrera', 1393.12),
 ('Teresa', 'Torres', 1392.87),
 ('Pedro', 'Hernández', 1392.84),
 ('Natalia', 'Castro', 1392.42),
 ('Irene', 'Álvarez', 1391.62),
 ('Paula', 'Ramírez', 1391.49),
 ('Gonzalo', 'Alonso', 1391.28),
 ('Clara', 'Delgado', 1388.07),
 ('Noelia', 'Herrera', 1388.02),
 ('Rocío', 'Delgado', 1385.76),
 ('Pablo', 'Ortiz', 1385.75),
 ('Marta', 'Romero', 1385.46),
 ('Daniel', 'Reyes', 1384.67),
 ('Noelia', 'León', 1380.22),
 ('Enrique', 'Cabrera', 1380.03),
 ('Irene', 'Jiménez', 1379.39),
 ('Javier', 'Martínez', 1378.54),
 ('Gonzalo', 'Ramos', 1377.45),
 ('Vera', 'Guerrero', 1376.69),
 ('Rafael', 'Ortega', 1376.65),
 ('Pablo', 'Santos', 1376.62),
 ('María', 'Romero', 1376.19),
 ('Gonzalo', 'Flores', 1375.66),
 ('Luis', 'Santos', 1375.17),
 ('Ana', 'Santos', 1374.42),
 ('Roberto', 'Vázquez', 1374.28),
 ('Sergio', 'Hernández', 1374.2),
 ('Andrés', 'Álvarez', 1372.62),
 ('Hugo', 'Sánchez', 1372.23),
 ('Laura', 'Peña', 1371.72),
 ('Isabel', 'González', 1371.27),
 ('Pablo', 'Reyes', 1369.86),
 ('Daniel', 'Sánchez', 1368.95),
 ('Natalia', 'Álvarez', 1368.05),
 ('Andrés', 'Moreno', 1367.55),
 ('Noelia', 'Rubio', 1366.49),
 ('Álvaro', 'Campos', 1366.4),
 ('Daniel', 'Carrasco', 1363.2),
 ('Teresa', 'Moreno', 1363.05),
 ('Ricardo', 'Fuentes', 1362.98),
 ('Andrés', 'Jiménez', 1362.23),
 ('Clara', 'Castro', 1361.55),
 ('Adriana', 'Marín', 1360.55),
 ('Amelia', 'Álvarez', 1358.44),
 ('Manuel', 'Herrera', 1356.18),
 ('Andrés', 'Ortiz', 1353.41),
 ('Francisco', 'Hernández', 1353.41),
 ('Teresa', 'Peña', 1351.99),
 ('Amelia', 'Torres', 1351.83),
 ('Fernando', 'Fernández', 1349.8),
 ('Olga', 'Fuentes', 1349.57),
 ('Pablo', 'Torres', 1348.66),
 ('Manuel', 'Sánchez', 1346.57),
 ('Francisco', 'Alonso', 1345.13),
 ('Rocío', 'Alonso', 1343.69),
 ('Roberto', 'Sánchez', 1341.58),
 ('Noelia', 'Santos', 1339.37),
 ('Paula', 'Peña', 1338.98),
 ('Álvaro', 'Domínguez', 1338.24),
 ('Olga', 'Flores', 1337.02),
 ('Vera', 'Díaz', 1336.69),
 ('Olga', 'Martínez', 1336.3),
 ('Irene', 'Díaz', 1335.68),
 ('Antonio', 'Medina', 1333.28),
 ('Laura', 'Cruz', 1330.4),
 ('Álvaro', 'Peña', 1330.1),
 ('Luis', 'Torres', 1329.79),
 ('Roberto', 'Serrano', 1328.9),
 ('Olga', 'Domínguez', 1328.24),
 ('Ricardo', 'León', 1328.02),
 ('Francisco', 'Marín', 1326.69),
 ('Clara', 'Muñoz', 1324.99),
 ('Clara', 'Rubio', 1323.77),
 ('Eva', 'Hernández', 1322.68),
 ('Carmen', 'Muñoz', 1318.26),
 ('Daniel', 'Herrera', 1317.41),
 ('Luis', 'González', 1316.91),
 ('Sara', 'Serrano', 1315.37),
 ('Diego', 'Ortiz', 1314.83),
 ('Ricardo', 'Álvarez', 1312.97),
 ('Hugo', 'León', 1311.68),
 ('Eva', 'Delgado', 1311.18),
 ('Fernando', 'Muñoz', 1310.55),
 ('Sofía', 'García', 1310.21),
 ('Noelia', 'Campos', 1308.04),
 ('Hugo', 'Delgado', 1306.92),
 ('Julia', 'Rodríguez', 1305.94),
 ('Alberto', 'Iglesias', 1305.56),
 ('Amelia', 'Delgado', 1305.19),
 ('Rocío', 'Flores', 1303.34),
 ('Vera', 'Alonso', 1302.68),
 ('Gonzalo', 'Vega', 1301.99),
 ('Jorge', 'Muñoz', 1299.88),
 ('Diego', 'Vega', 1299.39),
 ('Clara', 'Fernández', 1299.39),
 ('Paula', 'Rodríguez', 1298.83),
 ('Luis', 'Guerrero', 1297.71),
 ('Lucía', 'Serrano', 1295.68),
 ('Marta', 'Pérez', 1294.96),
 ('María', 'Castillo', 1293.77),
 ('Alicia', 'Medina', 1293.03),
 ('Enrique', 'Torres', 1291.64),
 ('Paula', 'Rubio', 1290.83),
 ('Ana', 'Calvo', 1289.11),
 ('Víctor', 'Herrera', 1288.91),
 ('Carlos', 'Medina', 1288.87),
 ('Amelia', 'Molina', 1287.99),
 ('Marta', 'Delgado', 1285.94),
 ('Andrés', 'Ruiz', 1285.8),
 ('Víctor', 'Sánchez', 1284.98),
 ('José', 'Muñoz', 1283.77),
 ('Luis', 'Castro', 1280.93),
 ('Pedro', 'Moreno', 1278.22),
 ('Javier', 'Serrano', 1277.29),
 ('Elena', 'Ramos', 1276.61),
 ('Andrés', 'Cabrera', 1275.22),
 ('Jorge', 'Hernández', 1274.55),
 ('Lucía', 'Díaz', 1274.26),
 ('Álvaro', 'Pérez', 1272.63),
 ('Luis', 'Pérez', 1271.18),
 ('Ricardo', 'Ruiz', 1268.64),
 ('Teresa', 'León', 1267.1),
 ('Clara', 'Vázquez', 1266.15),
 ('Teresa', 'Cruz', 1265.46),
 ('Eva', 'Ramírez', 1262.82),
 ('Víctor', 'Alonso', 1262.51),
 ('Patricia', 'Herrera', 1262.4),
 ('Pedro', 'Herrera', 1260.3),
 ('Marta', 'Gutiérrez', 1259.94),
 ('Antonio', 'Martínez', 1259.38),
 ('Diego', 'Guerrero', 1257.61),
 ('Marta', 'Cabrera', 1257.11),
 ('Lucía', 'Calvo', 1255.08),
 ('Clara', 'León', 1253.64),
 ('Paula', 'Martínez', 1253.34),
 ('Sara', 'Ortega', 1252.34),
 ('Andrés', 'Medina', 1252.3),
 ('Irene', 'Peña', 1252.07),
 ('Noelia', 'Castillo', 1250.81),
 ('Ricardo', 'Hernández', 1250.78),
 ('Isabel', 'Flores', 1248.96),
 ('Diego', 'Jiménez', 1246.98),
 ('Irene', 'Domínguez', 1244.92),
 ('Elena', 'García', 1243.46),
 ('Luis', 'Flores', 1242.18),
 ('Olga', 'Moreno', 1240.37),
 ('Javier', 'Castro', 1239.82),
 ('Carlos', 'Calvo', 1239.43),
 ('Carmen', 'Medina', 1238.12),
 ('Irene', 'Marín', 1236.6),
 ('Pedro', 'Gutiérrez', 1235.89),
 ('Carlos', 'Calvo', 1232.61),
 ('Patricia', 'Flores', 1232.14),
 ('Rafael', 'Guerrero', 1232.05),
 ('Javier', 'Delgado', 1230.32),
 ('Isabel', 'Sánchez', 1228.89),
 ('Francisco', 'Serrano', 1228.71),
 ('Diego', 'Martínez', 1228.41),
 ('Vera', 'Guerrero', 1227.98),
 ('Sofía', 'Jiménez', 1226.9),
 ('Vera', 'Castro', 1226.69),
 ('Sergio', 'León', 1226.55),
 ('Pedro', 'Díaz', 1225.49),
 ('Olga', 'Navarro', 1225.24),
 ('Andrés', 'López', 1224.86),
 ('Marta', 'Pérez', 1224.02),
 ('Hugo', 'Carrasco', 1223.74),
 ('Jorge', 'Castillo', 1223.31),
 ('Amelia', 'Domínguez', 1221.47),
 ('María', 'Alonso', 1221.24),
 ('Daniel', 'Campos', 1221.01),
 ('Clara', 'Iglesias', 1219.72),
 ('Víctor', 'Carrasco', 1218.25),
 ('Pedro', 'Calvo', 1216.58),
 ('Víctor', 'González', 1215.16),
 ('Jorge', 'Ruiz', 1214.27),
 ('Amelia', 'Cruz', 1213.73),
 ('Ricardo', 'Campos', 1213.41),
 ('Andrés', 'León', 1212.99),
 ('Irene', 'Vega', 1212.85),
 ('Vera', 'Castro', 1211.62),
 ('Rocío', 'Alonso', 1211.23),
 ('Luis', 'Cabrera', 1210.92),
 ('Jorge', 'Moreno', 1208.24),
 ('Amelia', 'Cabrera', 1208.15),
 ('Natalia', 'Álvarez', 1207.7),
 ('Noelia', 'Domínguez', 1207.56),
 ('Hugo', 'Vega', 1207.26),
 ('María', 'Cabrera', 1207.04),
 ('Teresa', 'Álvarez', 1206.13),
 ('Teresa', 'Rubio', 1203.95),
 ('Antonio', 'Calvo', 1203.31),
 ('Sergio', 'Cruz', 1198.92),
 ('Pablo', 'Gutiérrez', 1198.77),
 ('Elena', 'Ortega', 1197.51),
 ('Adriana', 'Romero', 1197.11),
 ('Francisco', 'Santos', 1193.92),
 ('Adriana', 'Peña', 1193.17),
 ('Clara', 'Moreno', 1190.36),
 ('Carlos', 'Reyes', 1190.35),
 ('Pablo', 'Vega', 1189.73),
 ('Gonzalo', 'Vázquez', 1189.49),
 ('Víctor', 'Molina', 1188.06),
 ('Fernando', 'Vega', 1185.98),
 ('Paula', 'Gil', 1184.95),
 ('Patricia', 'Campos', 1184.27),
 ('Ana', 'Guerrero', 1183.99),
 ('Alberto', 'Navarro', 1183.5),
 ('Sofía', 'Guerrero', 1183.46),
 ('Carlos', 'Vázquez', 1182.65),
 ('Laura', 'Díaz', 1181.73),
 ('Lucía', 'López', 1180.74),
 ('Sergio', 'Gutiérrez', 1180.5),
 ('Lucía', 'García', 1180.1),
 ('Pedro', 'Campos', 1179.58),
 ('Vera', 'Serrano', 1178.23),
 ('Ricardo', 'Hernández', 1175.57),
 ('María', 'Ramírez', 1174.52),
 ('Ricardo', 'Romero', 1173.79),
 ('Natalia', 'López', 1171.7),
 ('Adriana', 'Peña', 1170.93),
 ('Marta', 'Fuentes', 1170.01),
 ('Jorge', 'Ramírez', 1169.49),
 ('Manuel', 'López', 1169.32),
 ('Patricia', 'González', 1168.24),
 ('Sofía', 'Santos', 1167.43),
 ('Álvaro', 'Muñoz', 1165.96),
 ('Antonio', 'Iglesias', 1165.65),
 ('Julia', 'Medina', 1165.08),
 ('María', 'Vega', 1164.15),
 ('Teresa', 'Jiménez', 1163.81),
 ('Paula', 'Campos', 1162.18),
 ('Olga', 'Álvarez', 1160.69),
 ('Roberto', 'Flores', 1159.02),
 ('Rocío', 'Serrano', 1158.51),
 ('María', 'León', 1158.36),
 ('Víctor', 'Reyes', 1156.99),
 ('María', 'Álvarez', 1156.06),
 ('Pedro', 'Iglesias', 1155.95),
 ('Sergio', 'Muñoz', 1154.69),
 ('Julia', 'Marín', 1153.18),
 ('Luis', 'Navarro', 1152.29),
 ('Víctor', 'Romero', 1152.1),
 ('Patricia', 'Hernández', 1150.94),
 ('Carmen', 'Fernández', 1150.79),
 ('Alberto', 'Gutiérrez', 1150.59),
 ('Irene', 'Campos', 1150.26),
 ('Paula', 'Ortega', 1150.08),
 ('Álvaro', 'Hernández', 1149.42),
 ('Sara', 'Torres', 1149.08),
 ('Alberto', 'Marín', 1147.08),
 ('Adriana', 'Álvarez', 1145.12),
 ('Ana', 'García', 1144.0),
 ('Sergio', 'García', 1143.81),
 ('Francisco', 'Romero', 1143.48),
 ('Alicia', 'Romero', 1143.44),
 ('Teresa', 'Vega', 1142.81),
 ('Francisco', 'Romero', 1141.84),
 ('Alberto', 'Cruz', 1140.32),
 ('Sofía', 'Navarro', 1140.1),
 ('Gonzalo', 'León', 1139.92),
 ('Rafael', 'Castillo', 1139.05),
 ('Adriana', 'Rubio', 1138.09),
 ('Hugo', 'Herrera', 1136.51),
 ('Fernando', 'Delgado', 1134.53),
 ('Andrés', 'Rubio', 1134.35),
 ('Adriana', 'Hernández', 1134.2),
 ('Luis', 'Muñoz', 1133.39),
 ('Amelia', 'Sánchez', 1132.83),
 ('Sofía', 'Calvo', 1132.29),
 ('Rocío', 'Campos', 1130.86),
 ('Carlos', 'Guerrero', 1130.33),
 ('Sara', 'Fernández', 1129.43),
 ('Rafael', 'Castro', 1128.76),
 ('Carlos', 'Gil', 1128.2),
 ('Manuel', 'Guerrero', 1127.01),
 ('Noelia', 'Ortiz', 1126.37),
 ('Daniel', 'Medina', 1126.17),

5. Empleados y número de órdenes gestionadas
* Muestra el nombre del empleado, el puesto y la cantidad de órdenes que ha gestionado.
* Utiliza GROUP BY y COUNT.

In [82]:
sql = ('SELECT e.nombre_empleado AS EMPLEADO, e.puesto AS PUESTO, count(o.id_empleado) AS ORDENES FROM empleados e JOIN ordenes o ON o.id_empleado = e.id_empleado GROUP BY e.id_empleado')
consultas(sql)

[('Juan Martínez', 'Cajero', 58),
 ('Hugo Carrasco', 'Reponedor', 69),
 ('Hugo Medina', 'Encargado de sección', 43),
 ('Paula Alonso', 'Gerente', 44),
 ('Fernando Medina', 'Personal de limpieza', 43),
 ('Luis Muñoz', 'Panadero', 63),
 ('Gonzalo Carrasco', 'Carnicero', 52),
 ('Carlos Martínez', 'Pescadero', 49),
 ('Vera Hernández', 'Responsable de almacén', 50),
 ('Clara Hernández', 'Supervisor de caja', 50),
 ('Marta Cruz', 'Frutero', 50),
 ('Paula Gil', 'Charcutero', 41),
 ('Teresa Rubio', 'Jefe de turno', 51),
 ('José Marín', 'Operador logístico', 52),
 ('Álvaro Rubio', 'Atención al cliente', 51),
 ('Roberto Herrera', 'Auxiliar de caja', 58),
 ('Rafael Herrera', 'Encargado de inventario', 46),
 ('Alberto Díaz', 'Responsable de compras', 42),
 ('Francisco Carrasco', 'Promotor de ventas', 54),
 ('Fernando Ortega', 'Encargado de seguridad', 44),
 ('Alicia Serrano', 'Cajero', 49),
 ('Álvaro García', 'Reponedor', 52),
 ('Francisco González', 'Encargado de sección', 55),
 ('Sergio López', 'Gerente', 36),
 ('Pablo Ortiz', 'Personal de limpieza', 50),
 ('Laura Molina', 'Panadero', 44),
 ('Ana Molina', 'Carnicero', 46),
 ('Sergio Torres', 'Pescadero', 48),
 ('Clara Castro', 'Responsable de almacén', 67),
 ('Isabel León', 'Supervisor de caja', 47),
 ('Laura León', 'Frutero', 46),
 ('Paula Fernández', 'Charcutero', 58),
 ('Roberto Santos', 'Jefe de turno', 50),
 ('Natalia Guerrero', 'Operador logístico', 46),
 ('Pablo Campos', 'Atención al cliente', 56),
 ('Carlos García', 'Auxiliar de caja', 57),
 ('Adriana Cruz', 'Encargado de inventario', 53),
 ('Alberto Vega', 'Responsable de compras', 47),
 ('Víctor García', 'Promotor de ventas', 52),
 ('Hugo González', 'Encargado de seguridad', 51),
 ('Víctor Serrano', 'Cajero', 38),
 ('José Fuentes', 'Reponedor', 42),
 ('Víctor Delgado', 'Encargado de sección', 45),
 ('Ricardo Fernández', 'Gerente', 60),
 ('Irene Moreno', 'Personal de limpieza', 46),
 ('Alicia Peña', 'Panadero', 37),
 ('Jorge Rubio', 'Carnicero', 50),
 ('Fernando Gutiérrez', 'Pescadero', 48),
 ('Laura Pérez', 'Responsable de almacén', 43),
 ('Roberto Gutiérrez', 'Supervisor de caja', 38),
 ('Antonio Fuentes', 'Frutero', 49),
 ('Gonzalo Campos', 'Charcutero', 57),
 ('José Gutiérrez', 'Jefe de turno', 49),
 ('Carlos Vega', 'Operador logístico', 52),
 ('Amelia Santos', 'Atención al cliente', 63),
 ('Olga Moreno', 'Auxiliar de caja', 67),
 ('Marta Fernández', 'Encargado de inventario', 61),
 ('María Serrano', 'Responsable de compras', 49),
 ('Alberto Hernández', 'Promotor de ventas', 48),
 ('Ana Iglesias', 'Encargado de seguridad', 49),
 ('Laura Martínez', 'Cajero', 54),
 ('Víctor Ortega', 'Reponedor', 36),
 ('Álvaro Marín', 'Encargado de sección', 43),
 ('Rocío Campos', 'Gerente', 48),
 ('Hugo Flores', 'Personal de limpieza', 50),
 ('Elena Ortega', 'Panadero', 53),
 ('Paula Ruiz', 'Carnicero', 47),
 ('Natalia Gil', 'Pescadero', 42),
 ('Julia Ortega', 'Responsable de almacén', 41),
 ('Sergio Moreno', 'Supervisor de caja', 50),
 ('Luis Guerrero', 'Frutero', 55),
 ('Natalia Castro', 'Charcutero', 41),
 ('Ana García', 'Jefe de turno', 52),
 ('Álvaro Gutiérrez', 'Operador logístico', 43),
 ('Eva Gutiérrez', 'Atención al cliente', 40),
 ('Álvaro Herrera', 'Auxiliar de caja', 50),
 ('Adriana Vázquez', 'Encargado de inventario', 54),
 ('Carmen Guerrero', 'Responsable de compras', 46),
 ('Patricia Cruz', 'Promotor de ventas', 51),
 ('Rafael Vega', 'Encargado de seguridad', 48),
 ('Sergio Pérez', 'Cajero', 64),
 ('Enrique Reyes', 'Reponedor', 48),
 ('Adriana Fernández', 'Encargado de sección', 46),
 ('Álvaro Campos', 'Gerente', 44),
 ('Daniel Martínez', 'Personal de limpieza', 40),
 ('Isabel Ortega', 'Panadero', 53),
 ('Francisco González', 'Carnicero', 48),
 ('José Campos', 'Pescadero', 47),
 ('Marta Rodríguez', 'Responsable de almacén', 55),
 ('Juan León', 'Supervisor de caja', 54),
 ('Antonio Calvo', 'Frutero', 57),
 ('Ana Medina', 'Charcutero', 60),
 ('Diego Romero', 'Jefe de turno', 51),
 ('Alicia Fernández', 'Operador logístico', 39),
 ('Carlos Pérez', 'Atención al cliente', 61),
 ('Sergio Ramos', 'Auxiliar de caja', 61),
 ('Natalia Torres', 'Encargado de inventario', 48),
 ('Adriana Delgado', 'Responsable de compras', 43),
 ('Sara Gil', 'Promotor de ventas', 39),
 ('Diego Vega', 'Encargado de seguridad', 47),
 ('Eva Reyes', 'Cajero', 60),
 ('Víctor Fernández', 'Reponedor', 52),
 ('Sara Ramírez', 'Encargado de sección', 53),
 ('Andrés Alonso', 'Gerente', 56),
 ('Diego Reyes', 'Personal de limpieza', 61),
 ('Carmen Hernández', 'Panadero', 63),
 ('Álvaro Romero', 'Carnicero', 52),
 ('Paula Cabrera', 'Pescadero', 47),
 ('Daniel Torres', 'Responsable de almacén', 52),
 ('Olga Castro', 'Supervisor de caja', 44),
 ('Víctor Domínguez', 'Frutero', 54),
 ('Rafael Fernández', 'Charcutero', 53),
 ('Juan Flores', 'Jefe de turno', 56),
 ('Noelia León', 'Operador logístico', 41),
 ('Gonzalo Domínguez', 'Atención al cliente', 60),
 ('Rafael Fernández', 'Auxiliar de caja', 49),
 ('José Navarro', 'Encargado de inventario', 44),
 ('Olga Jiménez', 'Responsable de compras', 57),
 ('Paula Álvarez', 'Promotor de ventas', 60),
 ('Francisco Serrano', 'Encargado de seguridad', 43),
 ('Alberto García', 'Cajero', 54),
 ('Natalia Ramos', 'Reponedor', 45),
 ('Isabel Rodríguez', 'Encargado de sección', 39),
 ('Hugo Vega', 'Gerente', 55),
 ('Julia Gutiérrez', 'Personal de limpieza', 50),
 ('Francisco Domínguez', 'Panadero', 49),
 ('Amelia Reyes', 'Carnicero', 45),
 ('Marta Domínguez', 'Pescadero', 61),
 ('Pedro León', 'Responsable de almacén', 45),
 ('Laura Alonso', 'Supervisor de caja', 51),
 ('Hugo Iglesias', 'Frutero', 64),
 ('Teresa Carrasco', 'Charcutero', 41),
 ('Manuel Calvo', 'Jefe de turno', 54),
 ('Elena León', 'Operador logístico', 57),
 ('Víctor Álvarez', 'Atención al cliente', 54),
 ('Rafael León', 'Auxiliar de caja', 58),
 ('Vera Muñoz', 'Encargado de inventario', 61),
 ('Adriana Torres', 'Responsable de compras', 49),
 ('Alberto Campos', 'Promotor de ventas', 38),
 ('Fernando Ramírez', 'Encargado de seguridad', 39),
 ('José Rubio', 'Cajero', 45),
 ('Isabel Ortiz', 'Reponedor', 43),
 ('Laura Santos', 'Encargado de sección', 43),
 ('Rafael Gil', 'Gerente', 45),
 ('Enrique Medina', 'Personal de limpieza', 57),
 ('Adriana Cabrera', 'Panadero', 59),
 ('Irene Carrasco', 'Carnicero', 46),
 ('Jorge Castro', 'Pescadero', 47),
 ('Diego Molina', 'Responsable de almacén', 54),
 ('Marta Romero', 'Supervisor de caja', 42),
 ('Andrés Rodríguez', 'Frutero', 39),
 ('Julia Gutiérrez', 'Charcutero', 41),
 ('Rocío Calvo', 'Jefe de turno', 47),
 ('María Vázquez', 'Operador logístico', 66),
 ('Víctor Alonso', 'Atención al cliente', 55),
 ('Javier Herrera', 'Auxiliar de caja', 50),
 ('Adriana Hernández', 'Encargado de inventario', 53),
 ('Juan Castillo', 'Responsable de compras', 52),
 ('Laura Ruiz', 'Promotor de ventas', 44),
 ('Ana Pérez', 'Encargado de seguridad', 50),
 ('Sofía Molina', 'Cajero', 55),
 ('María Ramírez', 'Reponedor', 48),
 ('Marta Gutiérrez', 'Encargado de sección', 57),
 ('Irene Medina', 'Gerente', 58),
 ('Enrique Campos', 'Personal de limpieza', 61),
 ('Clara Carrasco', 'Panadero', 36),
 ('Elena Álvarez', 'Carnicero', 48),
 ('Manuel García', 'Pescadero', 44),
 ('Luis Rodríguez', 'Responsable de almacén', 56),
 ('Natalia Pérez', 'Supervisor de caja', 39),
 ('Elena Álvarez', 'Frutero', 48),
 ('Noelia Romero', 'Charcutero', 43),
 ('Pedro Gutiérrez', 'Jefe de turno', 57),
 ('Adriana Molina', 'Operador logístico', 63),
 ('Julia Serrano', 'Atención al cliente', 55),
 ('Alberto Cruz', 'Auxiliar de caja', 42),
 ('Víctor García', 'Encargado de inventario', 56),
 ('Lucía Martínez', 'Responsable de compras', 44),
 ('Clara Navarro', 'Promotor de ventas', 45),
 ('Andrés Sánchez', 'Encargado de seguridad', 48),
 ('Patricia Gil', 'Cajero', 70),
 ('Adriana Flores', 'Reponedor', 46),
 ('Fernando Fuentes', 'Encargado de sección', 54),
 ('Rocío Gil', 'Gerente', 42),
 ('Isabel Sánchez', 'Personal de limpieza', 39),
 ('Carmen Ramos', 'Panadero', 55),
 ('Natalia Fernández', 'Carnicero', 48),
 ('Ana Sánchez', 'Pescadero', 54),
 ('Fernando Ramírez', 'Responsable de almacén', 55),
 ('Enrique Torres', 'Supervisor de caja', 53),
 ('José Fernández', 'Frutero', 46),
 ('Noelia Calvo', 'Charcutero', 60),
 ('Olga Fernández', 'Jefe de turno', 50),
 ('Javier Calvo', 'Operador logístico', 47),
 ('Hugo Pérez', 'Atención al cliente', 34),
 ('Fernando Gutiérrez', 'Auxiliar de caja', 45),
 ('Noelia García', 'Encargado de inventario', 57),
 ('Alberto Santos', 'Responsable de compras', 44),
 ('Carlos Vega', 'Promotor de ventas', 42),
 ('Lucía Marín', 'Encargado de seguridad', 52)]

6. Ordenes filtradas por fecha y tienda
* Muestra todas las órdenes que se realizaron en un rango de fechas determinado (ej.: del 1 de enero de 2025 al 31 de enero de 2025) y en una tienda específica.
* Incluye datos de la tienda y del cliente.

In [83]:
sql = ("SELECT t.id_tienda, t.nombre_tienda AS tienda, o.id_orden AS factura, o.fecha_orden AS fecha, concat(c.first_name,' ',c.last_name) AS cliente FROM tiendas t JOIN empleados e ON t.id_tienda = e.id_tienda JOIN ordenes o ON o.id_empleado = e.id_empleado JOIN clientes c ON c.id_cliente = o.id_cliente WHERE T.id_tienda = 1 and o.fecha_orden > '2024-01-31' and o.fecha_orden < '2024-03-01' ORDER BY o.fecha_orden;")
consultas(sql)

[(1, 'Jerez Este', 804, datetime.date(2024, 2, 1), 'Noelia Marín'),
 (1, 'Jerez Este', 810, datetime.date(2024, 2, 1), 'Luis Ramos'),
 (1, 'Jerez Este', 821, datetime.date(2024, 2, 1), 'Clara Fernández'),
 (1, 'Jerez Este', 826, datetime.date(2024, 2, 2), 'María Reyes'),
 (1, 'Jerez Este', 827, datetime.date(2024, 2, 2), 'Isabel Vega'),
 (1, 'Jerez Este', 832, datetime.date(2024, 2, 2), 'Paula Moreno'),
 (1, 'Jerez Este', 855, datetime.date(2024, 2, 2), 'Javier Martínez'),
 (1, 'Jerez Este', 861, datetime.date(2024, 2, 3), 'Laura Flores'),
 (1, 'Jerez Este', 875, datetime.date(2024, 2, 3), 'María Castillo'),
 (1, 'Jerez Este', 886, datetime.date(2024, 2, 3), 'Olga Pérez'),
 (1, 'Jerez Este', 888, datetime.date(2024, 2, 3), 'Víctor Ramos'),
 (1, 'Jerez Este', 905, datetime.date(2024, 2, 4), 'Elena Navarro'),
 (1, 'Jerez Este', 918, datetime.date(2024, 2, 5), 'Sara Castro'),
 (1, 'Jerez Este', 925, datetime.date(2024, 2, 5), 'Rafael Ramírez'),
 (1, 'Jerez Este', 936, datetime.date(2024, 2, 5), 'Diego Iglesias'),
 (1, 'Jerez Este', 956, datetime.date(2024, 2, 6), 'Laura Cruz'),
 (1, 'Jerez Este', 960, datetime.date(2024, 2, 6), 'Ana Jiménez'),
 (1, 'Jerez Este', 968, datetime.date(2024, 2, 7), 'Diego Ortiz'),
 (1, 'Jerez Este', 971, datetime.date(2024, 2, 7), 'Olga Álvarez'),
 (1, 'Jerez Este', 982, datetime.date(2024, 2, 7), 'Sara Rubio'),
 (1, 'Jerez Este', 985, datetime.date(2024, 2, 7), 'Francisco Romero'),
 (1, 'Jerez Este', 998, datetime.date(2024, 2, 8), 'Natalia Alonso'),
 (1, 'Jerez Este', 1014, datetime.date(2024, 2, 9), 'Sara Castro'),
 (1, 'Jerez Este', 1046, datetime.date(2024, 2, 10), 'Roberto Serrano'),
 (1, 'Jerez Este', 1049, datetime.date(2024, 2, 10), 'Clara Ramírez'),
 (1, 'Jerez Este', 1068, datetime.date(2024, 2, 11), 'Ricardo Campos'),
 (1, 'Jerez Este', 1072, datetime.date(2024, 2, 11), 'Adriana Castillo'),
 (1, 'Jerez Este', 1075, datetime.date(2024, 2, 11), 'Álvaro Sánchez'),
 (1, 'Jerez Este', 1078, datetime.date(2024, 2, 11), 'Noelia Vázquez'),
 (1, 'Jerez Este', 1080, datetime.date(2024, 2, 11), 'Olga Vázquez'),
 (1, 'Jerez Este', 1082, datetime.date(2024, 2, 11), 'Amelia Serrano'),
 (1, 'Jerez Este', 1111, datetime.date(2024, 2, 12), 'Teresa Gutiérrez'),
 (1, 'Jerez Este', 1130, datetime.date(2024, 2, 13), 'Eva Gutiérrez'),
 (1, 'Jerez Este', 1139, datetime.date(2024, 2, 13), 'Rocío Gutiérrez'),
 (1, 'Jerez Este', 1156, datetime.date(2024, 2, 14), 'Paula Ramírez'),
 (1, 'Jerez Este', 1161, datetime.date(2024, 2, 14), 'Lucía Castillo'),
 (1, 'Jerez Este', 1167, datetime.date(2024, 2, 14), 'Sergio Gutiérrez'),
 (1, 'Jerez Este', 1198, datetime.date(2024, 2, 16), 'Carlos Medina'),
 (1, 'Jerez Este', 1204, datetime.date(2024, 2, 16), 'Francisco Serrano'),
 (1, 'Jerez Este', 1209, datetime.date(2024, 2, 16), 'Olga Fuentes'),
 (1, 'Jerez Este', 1226, datetime.date(2024, 2, 17), 'Olga Moreno'),
 (1, 'Jerez Este', 1227, datetime.date(2024, 2, 17), 'Lucía Díaz'),
 (1, 'Jerez Este', 1244, datetime.date(2024, 2, 18), 'Amelia Fuentes'),
 (1, 'Jerez Este', 1254, datetime.date(2024, 2, 18), 'Eva Calvo'),
 (1, 'Jerez Este', 1257, datetime.date(2024, 2, 18), 'Sofía Serrano'),
 (1, 'Jerez Este', 1261, datetime.date(2024, 2, 19), 'Sofía Cruz'),
 (1, 'Jerez Este', 1264, datetime.date(2024, 2, 19), 'Sergio Rubio'),
 (1, 'Jerez Este', 1276, datetime.date(2024, 2, 19), 'Hugo Ramírez'),
 (1, 'Jerez Este', 1283, datetime.date(2024, 2, 19), 'Adriana Marín'),
 (1, 'Jerez Este', 1291, datetime.date(2024, 2, 20), 'José Fernández'),
 (1, 'Jerez Este', 1304, datetime.date(2024, 2, 20), 'Julia Serrano'),
 (1, 'Jerez Este', 1306, datetime.date(2024, 2, 20), 'Ana Santos'),
 (1, 'Jerez Este', 1314, datetime.date(2024, 2, 21), 'Antonio Muñoz'),
 (1, 'Jerez Este', 1316, datetime.date(2024, 2, 21), 'Pablo Torres'),
 (1, 'Jerez Este', 1318, datetime.date(2024, 2, 21), 'Antonio Fuentes'),
 (1, 'Jerez Este', 1327, datetime.date(2024, 2, 21), 'Noelia Cruz'),
 (1, 'Jerez Este', 1328, datetime.date(2024, 2, 21), 'María Torres'),
 (1, 'Jerez Este', 1352, datetime.date(2024, 2, 23), 'Elena Navarro'),
 (1, 'Jerez Este', 1362, datetime.date(2024, 2, 23), 'Ana Gil'),
 (1, 'Jerez Este', 1386, datetime.date(2024, 2, 24), 'Rocío González'),
 (1, 'Jerez Este', 1396, datetime.date(2024, 2, 25), 'Alicia Carrasco'),
 (1, 'Jerez Este', 1400, datetime.date(2024, 2, 25), 'Paula Ortega'),
 (1, 'Jerez Este', 1403, datetime.date(2024, 2, 25), 'Marta Romero'),
 (1, 'Jerez Este', 1409, datetime.date(2024, 2, 25), 'Alicia Gil'),
 (1, 'Jerez Este', 1418, datetime.date(2024, 2, 26), 'Sara Serrano'),
 (1, 'Jerez Este', 1420, datetime.date(2024, 2, 26), 'Luis Pérez'),
 (1, 'Jerez Este', 1427, datetime.date(2024, 2, 26), 'Amelia Medina'),
 (1, 'Jerez Este', 1432, datetime.date(2024, 2, 26), 'Antonio Torres'),
 (1, 'Jerez Este', 1439, datetime.date(2024, 2, 26), 'Noelia Vázquez'),
 (1, 'Jerez Este', 1448, datetime.date(2024, 2, 26), 'Pablo Delgado'),
 (1, 'Jerez Este', 1457, datetime.date(2024, 2, 27), 'Jorge Serrano'),
 (1, 'Jerez Este', 1460, datetime.date(2024, 2, 27), 'Teresa Peña'),
 (1, 'Jerez Este', 1473, datetime.date(2024, 2, 28), 'Daniel Campos'),
 (1, 'Jerez Este', 1486, datetime.date(2024, 2, 28), 'Pablo Reyes'),
 (1, 'Jerez Este', 1494, datetime.date(2024, 2, 28), 'Francisco Santos'),
 (1, 'Jerez Este', 1496, datetime.date(2024, 2, 29), 'Natalia Calvo'),
 (1, 'Jerez Este', 1511, datetime.date(2024, 2, 29), 'Luis Santos'),
 (1, 'Jerez Este', 1520, datetime.date(2024, 2, 29), 'Alicia Moreno'),
 (1, 'Jerez Este', 1524, datetime.date(2024, 2, 29), 'Ana Martínez')]

7. Ranking de productos más vendidos en cada tienda
* Para cada tienda, muestra los 3 productos más vendidos (en términos de cantidad total).
* Tendrás que unir tiendas, empleados, ordenes y detalle_orden, además de productos.
* Usa GROUP BY y ordena por la cantidad sumada (y opcionalmente, un LIMIT 3).

In [84]:
#CON MUCHA AYUDA!!!!
sql = ('WITH ranking_productos AS (SELECT t.nombre_tienda, p.nombre_producto, SUM(do.cantidad) AS total_vendido, ROW_NUMBER() OVER (PARTITION BY t.id_tienda ORDER BY SUM(do.cantidad) DESC) AS ranking FROM tiendas t JOIN empleados e ON t.id_tienda = e.id_tienda JOIN ordenes o ON e.id_empleado = o.id_empleado JOIN detalle_orden do ON o.id_orden = do.id_orden JOIN productos p ON do.id_producto = p.id_producto GROUP BY t.id_tienda, t.nombre_tienda, p.id_producto, p.nombre_producto) SELECT nombre_tienda, nombre_producto, total_vendido FROM ranking_productos WHERE ranking <= 3 ORDER BY nombre_tienda, ranking;')
consultas(sql)

[('Arcos Sur', 'Mantequilla', 998.0),
 ('Arcos Sur', 'Pollo', 985.0),
 ('Arcos Sur', 'Zanahoria', 974.0),
 ('Barbate Este', 'Leche', 1029.0),
 ('Barbate Este', 'Cerveza', 1028.0),
 ('Barbate Este', 'Cebolla', 982.0),
 ('Cadiz Norte', 'Tomate', 978.0),
 ('Cadiz Norte', 'Colonia', 909.0),
 ('Cadiz Norte', 'Chuletas', 865.0),
 ('Chiclana Norte', 'Leche', 1050.0),
 ('Chiclana Norte', 'Bolsas de basura', 1044.0),
 ('Chiclana Norte', 'Platos desechables', 1033.0),
 ('Conil Sur', 'Chocolate', 924.0),
 ('Conil Sur', 'Yogur', 893.0),
 ('Conil Sur', 'Cebolla', 874.0),
 ('Jerez Este', 'Fertilizante', 979.0),
 ('Jerez Este', 'Papas fritas', 973.0),
 ('Jerez Este', 'Zanahoria', 949.0),
 ('Rota Norte', 'Lechuga', 990.0),
 ('Rota Norte', 'Desodorante', 971.0),
 ('Rota Norte', 'Semillas', 949.0),
 ('Sanlucar Oeste', 'Pilas', 991.0),
 ('Sanlucar Oeste', 'Crema hidratante', 949.0),
 ('Sanlucar Oeste', 'Banana', 930.0),
 ('Valdelagrana Sur', 'Esponjas', 930.0),
 ('Valdelagrana Sur', 'Uva', 928.0),
 ('Valdelagrana Sur', 'Cerveza', 925.0),
 ('Vejer Oeste', 'Fertilizante', 1010.0),
 ('Vejer Oeste', 'Bolsas de basura', 976.0),
 ('Vejer Oeste', 'Mantequilla', 954.0)]

Opcional: añadir alguna consulta con subconsultas o algo que no se abarque en las anteriores consulta.
*  Mostrar los clientes que han comprado más de la media de productos vendidos

In [85]:
sql = ('SELECT c.first_name AS nombre_cliente, c.last_name AS apellido_cliente, COUNT(do.id_producto) AS productos_comprados FROM clientes c JOIN ordenes o ON c.id_cliente = o.id_cliente JOIN detalle_orden do ON o.id_orden = do.id_orden GROUP BY c.id_cliente, c.first_name, c.last_name HAVING productos_comprados > (SELECT AVG(cantidad_total) FROM (SELECT SUM(do.cantidad) AS cantidad_total FROM detalle_orden do GROUP BY do.id_orden) AS subquery) ORDER BY productos_comprados DESC;')
consultas(sql)

[('Luis', 'Reyes', 49),
 ('Rafael', 'Castro', 42),
 ('Hugo', 'Reyes', 39),
 ('Elena', 'Delgado', 39),
 ('Rafael', 'Campos', 38),
 ('Sara', 'Gutiérrez', 37),
 ('Paula', 'Gutiérrez', 37),
 ('Antonio', 'Molina', 37),
 ('Lucía', 'Hernández', 36),
 ('Alicia', 'Díaz', 36),
 ('Antonio', 'Alonso', 36),
 ('Andrés', 'Gil', 36),
 ('Andrés', 'Castillo', 35),
 ('Juan', 'Cabrera', 35),
 ('Pedro', 'Torres', 35),
 ('Antonio', 'Vázquez', 35),
 ('Ana', 'Guerrero', 35),
 ('Pablo', 'Martínez', 35),
 ('Isabel', 'Castillo', 34),
 ('Clara', 'Molina', 34),
 ('Alicia', 'González', 34),
 ('Teresa', 'Flores', 34),
 ('Carmen', 'Serrano', 34),
 ('Irene', 'Reyes', 34),
 ('Roberto', 'Ruiz', 33),
 ('Gonzalo', 'Gil', 33),
 ('Rocío', 'Gutiérrez', 33),
 ('Enrique', 'Álvarez', 33),
 ('Amelia', 'Serrano', 33),
 ('Amelia', 'Martínez', 33),
 ('Julia', 'Alonso', 33),
 ('Andrés', 'Iglesias', 33),
 ('Julia', 'Álvarez', 33),
 ('Laura', 'Rodríguez', 32),
 ('Sergio', 'Álvarez', 32),
 ('Noelia', 'López', 32),
 ('Lucía', 'Castillo', 32),
 ('Pedro', 'Marín', 32),
 ('Francisco', 'Herrera', 32),
 ('Rafael', 'Carrasco', 32),
 ('Jorge', 'Molina', 32),
 ('Patricia', 'Guerrero', 32)]