In [ ]:
#! pip install -r requirements.txt

### Regresion

In [1]:
import pandas as pd
import sklearn
sklearn.__version__
from sklearn.linear_model import LinearRegression

'1.6.1'

In [3]:
df =pd.read_csv('salaries_experience.csv')
df.head(10)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0
7              3.2  54445.0
8              3.2  64445.0
9              3.7  57189.0

In [ ]:
#modelado (predecir algo)
#aprendizaje supervisado
#Datos entrada 'X'
#Datos de salida 'y'
#Algoritmo aprenda los datos 'y' la relacion entre la entrada 'x' con cada salida 'y'
#si el algoritmo aprende luego puede predecir nuevas salidas 'y' ante nuevas entradas 'x'

* Primer paso separar la 'X' y la 'y'

In [8]:
X = df[['YearsExperience']] #doble corchete para que sea un dataframe
# type(X) es un dataframe
X[:5]

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [9]:
y = df['Salary'] #variable que queremos modelar, predecir, puede ser una serio o un array de numpy de una dimension
y[:5]

0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
Name: Salary, dtype: float64

Instanciar el algoritmo de regresion lineal

In [11]:
#from sklearn.linear_model import LinearRegression

model = LinearRegression() #crear un objeto

Entrenar el algoritmo

In [12]:
model.fit(X, y)
print('intercepto (w0/ b0): ', model.intercept_) #donde intercepta el eje y cuando x es 0
print('coeficiente (w1/b1): ', model.coef_)

intercepto:  25792.20019866871
coeficiente :  [9449.96232146]

Realizar la prediccion

In [17]:
X_new = pd.DataFrame([5.78, 2.43, 9.77], columns=['YearsExperience'])
X_new

   YearsExperience
0             5.78
1             2.43
2             9.77

In [18]:
X_new['Salary_pred'] = model.predict(X_new)

In [19]:
X_new

   YearsExperience    Salary_pred
0             5.78   80412.982417
1             2.43   48755.608640
2             9.77  118118.332079

In [21]:
#explicacion de lo que hace arriba el predict()
experience_years = 5.78
salary = model.intercept_ + model.coef_ * experience_years
salary

array([80412.98241668])